force-app/main/default/flows/Active_Trades_CREATE_Total_Work_Task_for_Extra_Day.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Active Trades - CREATE - Total Work Task for Extra Day {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Trades - CREATE - Total Work Task for Extra Day</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Active_Trade_Total_Open_Work_Tasks</name>
        <label>Update Active Trade - Total Open Work Tasks</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Total_Open_Work_Tasks__c</field>
            <value>
                <elementReference>Get_Total_Open_Work_Tasks.countOpenWorkTasks</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Total_Open_Work_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Extra_Day_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Active_Trade__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Total_Open_Work_Tasks</name>
        <label>Get Total Open Work Tasks</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Active_Trade_Total_Open_Work_Tasks</targetReference>
        </connector>
        <flowName>Employee_Get_Total_Open_Work_Tasks</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>$Record.Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReportDate</name>
            <value>
                <elementReference>$Record.Date__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
