force-app/main/default/flows/Active_Driver_AFTER_Refresh_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Tick_Daily_Pre_starts_Assigned</name>
        <label>Tick Daily Pre-starts Assigned</label>
        <locationX>50</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>$Record.Daily_Pre_Starts_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Pre_starts_add_relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tick_Driver_Assignment_Assigned</name>
        <label>Tick Driver Assignment Assigned</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Driver_Assignment_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Driver_Assignment_add_relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_Daily_Pre_starts_Assigned</name>
        <label>Untick Daily Pre-starts Assigned</label>
        <locationX>578</locationX>
        <locationY>2267</locationY>
        <assignmentItems>
            <assignToReference>$Record.Daily_Pre_Starts_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Driver_Assignment_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_Driver_Assignment_Assigned</name>
        <label>Untick Driver Assignment Assigned</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Driver_Assignment_Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Orders_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_refresh_Active_Driver_FALSE</name>
        <label>Update Refresh Active Driver = FALSE</label>
        <locationX>314</locationX>
        <locationY>1835</locationY>
        <assignmentItems>
            <assignToReference>$Record.Refresh_Active_Driver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Break_in_minutes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intTotalBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Pre_starts_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Break</name>
        <label>Update Total Break</label>
        <locationX>402</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>intTotalBreak</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_each_Time_Entry.Duration_in_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Time_Entry</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Something went wrong while refreshing the related lists. Please try again.</stringValue>
        </value>
    </constants>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>Something went wrong while refreshing the related lists. Please try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Daily_Pre_starts_found</name>
        <label>Daily Pre-starts found</label>
        <locationX>314</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Untick_Daily_Pre_starts_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_DPSfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Pre_starts_related</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Daily_Pre_starts_Assigned</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Driver_Assignment_found</name>
        <label>Driver Assignment found</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Untick_Driver_Assignment_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_foundDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driver_Assignment_related</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Driver_Assignment_Assigned</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Active Driver - AFTER - Refresh Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Driver - AFTER - Refresh Related Records</label>
    <loops>
        <name>loop_each_Time_Entry</name>
        <label>loop each Time Entry</label>
        <locationX>314</locationX>
        <locationY>1427</locationY>
        <collectionReference>Time_Entry_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Total_Break</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Time_Entry_add_relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Daily_Pre_starts_related</name>
        <label>Daily Pre-starts - related</label>
        <locationX>314</locationX>
        <locationY>2051</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Pre_starts_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TDR_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_Unit_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__r.Unit__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__r.Driver_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Pre_Start__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Driver_Assignment_related</name>
        <label>Driver Assignment - related</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Driver_Assignment_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Time_Entry_related</name>
        <label>Time Entry - related</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_Time_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rest Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TDR_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_Driver_update_fields</name>
        <label>Active Driver - update fields</label>
        <locationX>314</locationX>
        <locationY>2831</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Driver_Assignment_clear_existing</name>
        <label>Asset Driver Assignment - clear existing</label>
        <locationX>314</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Asset_Driver_Assignments_add_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Asset_Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Driver_Assignments_add_relation</name>
        <label>Asset Driver Assignments - add relation</label>
        <locationX>314</locationX>
        <locationY>2723</locationY>
        <connector>
            <targetReference>Active_Driver_update_fields</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Assignment_Active_Driver_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset_Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Pre_starts_add_relation</name>
        <label>Daily Pre-starts - add relation</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Asset_Driver_Assignment_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TDR_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_Unit_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__r.Unit__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__r.Driver_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Pre_Start__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Pre_starts_clear_existing</name>
        <label>Daily Pre-starts - clear existing</label>
        <locationX>314</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Daily_Pre_starts_related</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Daily_Pre_Start__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_add_relation</name>
        <label>Driver Assignment - add relation</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Work_Orders_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_clear_existing</name>
        <label>Driver Assignment - clear existing</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Driver_Assignment_related</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Time_Entry_add_relation</name>
        <label>Time Entry - add relation</label>
        <locationX>314</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Update_refresh_Active_Driver_FALSE</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rest Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TDR_Date__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Time_Entry_clear_existing</name>
        <label>Time Entry - clear existing</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Time_Entry_related</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_add_relation</name>
        <label>Work Order - add relation</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Time_Entry_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Unit_of_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__r.Unit__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Daily_Report__r.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__r.Driver_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requested_By__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employees__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Cards__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Orders_clear_existing</name>
        <label>Work Orders - clear existing</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <connector>
            <targetReference>Work_Order_add_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Job_Cards__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Driver_Assignment_clear_existing</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refresh_Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Active_Driver__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>colWDAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>intTotalBreak</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recWDAssets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
</Flow>
