force-app/main/default/flows/Active_Driver_Refresh_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>842</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strErrorMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Object_Asset_Driver_Assignment</name>
        <label>Assign Object = Asset Driver Assignment</label>
        <locationX>842</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Asset Driver Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Daily_Pre_starts</name>
        <label>Assign Object = Daily Pre-starts</label>
        <locationX>314</locationX>
        <locationY>2444</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily Pre-starts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Driver_Assignment</name>
        <label>Assign Object = Driver Assignment</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Driver Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Time_Entry</name>
        <label>Assign Object = Time Entry</label>
        <locationX>1634</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Time Entry</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Object_Work_Order</name>
        <label>Assign Object = Work Order</label>
        <locationX>2162</locationX>
        <locationY>1172</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Work Order</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_output_Success</name>
        <label>Assign output = Success</label>
        <locationX>314</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Tick_Daily_Pre_starts_Assigned</name>
        <label>Tick Daily Pre-starts Assigned</label>
        <locationX>50</locationX>
        <locationY>2228</locationY>
        <assignmentItems>
            <assignToReference>outputDailyPreStartAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Pre_starts_add_relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Tick_Driver_Assignment_Assigned</name>
        <label>Tick Driver Assignment Assigned</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputDriverAssignmentAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Driver_Assignment_add_relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_Daily_Pre_starts_Assigned</name>
        <label>Untick Daily Pre-starts Assigned</label>
        <locationX>578</locationX>
        <locationY>2228</locationY>
        <assignmentItems>
            <assignToReference>outputDailyPreStartAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Driver_Assignment_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Untick_Driver_Assignment_Assigned</name>
        <label>Untick Driver Assignment Assigned</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>outputDriverAssignmentAssigned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Orders_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_refresh_Active_Driver_FALSE</name>
        <label>Update Refresh Active Driver = FALSE</label>
        <locationX>314</locationX>
        <locationY>1796</locationY>
        <assignmentItems>
            <assignToReference>outputTotalBreak</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intTotalBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Pre_starts_clear_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Total_Break</name>
        <label>Update Total Break</label>
        <locationX>402</locationX>
        <locationY>1496</locationY>
        <assignmentItems>
            <assignToReference>intTotalBreak</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_each_Time_Entry.Duration_in_Minutes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Time_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Daily_Pre_starts_found</name>
        <label>Daily Pre-starts found</label>
        <locationX>314</locationX>
        <locationY>2120</locationY>
        <defaultConnector>
            <targetReference>Untick_Daily_Pre_starts_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_DPSfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Pre_starts_related</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Daily_Pre_starts_Assigned</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Driver_Assignment_found</name>
        <label>Driver Assignment found</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Untick_Driver_Assignment_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_foundDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Driver_Assignment_related</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tick_Driver_Assignment_Assigned</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Something went wrong while refreshing the &quot; + {!strObjectName} + &quot; related lists. &quot; + BR() + BR() + &quot;Details : &quot; + {!$Flow.FaultMessage}</expression>
    </formulas>
    <interviewLabel>Active Driver - Refresh Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Driver - Refresh Related Records</label>
    <loops>
        <name>loop_each_Time_Entry</name>
        <label>loop each Time Entry</label>
        <locationX>314</locationX>
        <locationY>1388</locationY>
        <collectionReference>Time_Entry_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Total_Break</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Time_Entry_add_relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Daily_Pre_starts_related</name>
        <label>Daily Pre-starts - related</label>
        <locationX>314</locationX>
        <locationY>2012</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Pre_starts_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_Unit_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUnitName</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Pre_Start__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Driver_Assignment_related</name>
        <label>Driver Assignment - related</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Driver_Assignment_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDRId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Time_Entry_related</name>
        <label>Time Entry - related</label>
        <locationX>314</locationX>
        <locationY>1280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_Time_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rest Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Time_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Asset_Driver_Assignment_clear_existing</name>
        <label>Asset Driver Assignment - clear existing</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Asset_Driver_Assignments_add_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Object_Asset_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Asset_Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asset_Driver_Assignments_add_relation</name>
        <label>Asset Driver Assignments - add relation</label>
        <locationX>314</locationX>
        <locationY>2834</locationY>
        <connector>
            <targetReference>Assign_output_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Object_Asset_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Assignment_Active_Driver_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Asset_Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Pre_starts_add_relation</name>
        <label>Daily Pre-starts - add relation</label>
        <locationX>50</locationX>
        <locationY>2336</locationY>
        <connector>
            <targetReference>Asset_Driver_Assignment_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Object_Daily_Pre_starts</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Asset_Unit_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUnitName</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inspection__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Pre_Start__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Pre_starts_clear_existing</name>
        <label>Daily Pre-starts - clear existing</label>
        <locationX>314</locationX>
        <locationY>1904</locationY>
        <connector>
            <targetReference>Daily_Pre_starts_related</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Object_Daily_Pre_starts</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Daily_Pre_Start__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_add_relation</name>
        <label>Driver Assignment - add relation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Work_Orders_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Object_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDRId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_clear_existing</name>
        <label>Driver Assignment - clear existing</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Driver_Assignment_related</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Object_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Time_Entry_add_relation</name>
        <label>Time Entry - add relation</label>
        <locationX>314</locationX>
        <locationY>1688</locationY>
        <connector>
            <targetReference>Update_refresh_Active_Driver_FALSE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Object_Time_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Time_Entry_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rest Break</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Time_Entry_clear_existing</name>
        <label>Time Entry - clear existing</label>
        <locationX>314</locationX>
        <locationY>1172</locationY>
        <connector>
            <targetReference>Time_Entry_related</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Object_Time_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Time_Entry__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Order_add_relation</name>
        <label>Work Order - add relation</label>
        <locationX>314</locationX>
        <locationY>1064</locationY>
        <connector>
            <targetReference>Time_Entry_clear_existing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Object_Work_Order</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Unit_of_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUnitName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Requested_By__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputEmployeeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Cards__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Orders_clear_existing</name>
        <label>Work Orders - clear existing</label>
        <locationX>314</locationX>
        <locationY>956</locationY>
        <connector>
            <targetReference>Work_Order_add_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Object_Work_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <object>Job_Cards__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Driver_Assignment_clear_existing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colWDAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>inputEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTDRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUnitName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intTotalBreak</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputDailyPreStartAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputDriverAssignmentAssigned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputTotalBreak</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recWDAssets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>strObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
