force-app/main/default/flows/Asset_Driver_Assignment_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Asset_Family_value</name>
        <label>Assign True for Prime Movers</label>
        <locationX>729</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>isPrimeMovers</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Daily_Prestart_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Prestart_Completed_to_True</name>
        <label>Assign Daily Prestart Completed to True</label>
        <locationX>958</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>isDailyPrestartCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_for_Asset_Driver_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_for_Asset_Driver_Assignment</name>
        <label>Assign value for Asset Driver Assignment</label>
        <locationX>1222</locationX>
        <locationY>127</locationY>
        <assignmentItems>
            <assignToReference>$Record.is_Prime_Movers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isPrimeMovers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Daily_Pre_Start_for_the_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isDailyPrestartCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Asset_Driver_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Daily_Prestart_Required</name>
        <label>Is Daily Prestart Required?</label>
        <locationX>963</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Assign_Daily_Prestart_Completed_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not required</defaultConnectorLabel>
        <rules>
            <name>Yes_Required_Daily_Prestart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Driver_Assignment.Daily_Pre_start_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily_Pre_Start_for_the_Day__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_value_for_Asset_Driver_Assignment</targetReference>
            </connector>
            <label>Yes, Required Daily Prestart</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Prime_Movers</name>
        <label>Is Prime Movers or Rigid Asset Family</label>
        <locationX>723</locationX>
        <locationY>79</locationY>
        <defaultConnector>
            <targetReference>Is_Daily_Prestart_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, not a Prime Movers</defaultConnectorLabel>
        <rules>
            <name>Yes_Prime_Movers_Asset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Asset_Family_value.Asset_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime Movers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Asset_Family_value.Asset_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rigid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Asset_Family_value</targetReference>
            </connector>
            <label>Yes, Prime Movers or Rigid Asset Family</label>
        </rules>
    </decisions>
    <description>08 Dec 2020: ticked is Prime Movers checkbox if asset family is also Rigid</description>
    <interviewLabel>Asset Driver Assignment - After - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asset Driver Assignment - After - Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Asset_Family_value</name>
        <label>Get Asset Family value</label>
        <locationX>494</locationX>
        <locationY>4</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WD_Asset__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Driver_Assignment</name>
        <label>Get Driver Assignment</label>
        <locationX>496</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Prime_Movers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Driver_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Daily_Pre_start_Required__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Driver_Assignment</name>
        <label>Update Asset Driver Assignment</label>
        <locationX>1398</locationX>
        <locationY>127</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Asset_Family_value</targetReference>
        </connector>
        <object>Asset_Driver_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>isDailyPrestartCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isPrimeMovers</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>strAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.WD_Asset__c</elementReference>
        </value>
    </variables>
</Flow>
