force-app/main/default/flows/Auto_Create_DR_Items_Active_Personnels_PB_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Active_Personnel_to_Insert_List</name>
        <label>Add Active Personnel to Insert List</label>
        <locationX>391</locationX>
        <locationY>3632</locationY>
        <assignmentItems>
            <assignToReference>SObjCV_ActivePersonnels</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjV_ActivePersonnel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Daily_Report_Item_to_Insert_List</name>
        <label>Add Daily Report Item to Insert List</label>
        <locationX>776</locationX>
        <locationY>2540</locationY>
        <assignmentItems>
            <assignToReference>SObjCV_DailyReportItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjV_DailyReportItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Job_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Employees_to_Daily_Report</name>
        <label>Assign Employees to Daily Report</label>
        <locationX>391</locationX>
        <locationY>3524</locationY>
        <assignmentItems>
            <assignToReference>SObjV_ActivePersonnel.Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_ActivePersonnel.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_ActivePersonnel.Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_Employee.Shift__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_ActivePersonnel.Position__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_Employee.PositionLookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_ActivePersonnel.Crew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_Employee.Crew__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Active_Personnel_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Corresponding_Daily_Report_Items</name>
        <label>Create Corresponding Daily Report Items</label>
        <locationX>578</locationX>
        <locationY>2156</locationY>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportPerQuantityLayoutId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.WD_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.WD_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Daily_Report_Item_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Corresponding_Daily_Report_Items2</name>
        <label>Create Corresponding Daily Report Items</label>
        <locationX>842</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportPerHourLayoutId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.WD_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.WD_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Daily_Report_Item_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Corresponding_Daily_Report_Items3</name>
        <label>Create Corresponding Daily Report Items</label>
        <locationX>1106</locationX>
        <locationY>2264</locationY>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObjV_DailyReportItem.WD_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjV_JobItem.WD_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Daily_Report_Item_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Per_Site</name>
        <label>Check for Per Site</label>
        <locationX>842</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Is_Per_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Add_Per_Site_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_OtherDailyReportForPerSIte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerSiteCVar_ContractJobItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerSiteCVar_ContractJobItemId</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SObjV_JobItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_Through_Job_Items</targetReference>
            </connector>
            <label>Add Per Site Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employees_Found</name>
        <label>Employees Found?</label>
        <locationX>501</locationX>
        <locationY>3308</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCVar_Employees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Employees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Auto_Create_Daily_Report_Items_True</name>
        <label>Is Auto Create Daily Report Items True?</label>
        <locationX>501</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Employees_of_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAutoCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AutoCreateDailyReportItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Contract_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DailyReportItems_Null</name>
        <label>Is DailyReportItems Null?</label>
        <locationX>182</locationX>
        <locationY>2732</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Employees_of_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes null</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCV_DailyReportItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Daily_Report_Items</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Frequency_Per_Day</name>
        <label>Is Item Frequency Per Day</label>
        <locationX>776</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Is_Per_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjV_JobItem.Item_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Day</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Report_Created</targetReference>
            </connector>
            <label>Per Day?</label>
        </rules>
        <rules>
            <name>Item_Frequency_Per_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjV_JobItem.Item_Frequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Per Site</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Per_Site</targetReference>
            </connector>
            <label>Per Site?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Per_Hour</name>
        <label>Is Per Hour</label>
        <locationX>974</locationX>
        <locationY>2156</locationY>
        <defaultConnector>
            <targetReference>Create_Corresponding_Daily_Report_Items3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjV_JobItem.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price/Hour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corresponding_Daily_Report_Items2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Per_Quantity</name>
        <label>Is Per Quantity</label>
        <locationX>776</locationX>
        <locationY>2048</locationY>
        <defaultConnector>
            <targetReference>Is_Per_Hour</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SObjV_JobItem.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price/Quantity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObjV_JobItem.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flexi Price/Quantity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Corresponding_Daily_Report_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Items_Found</name>
        <label>Job Items Found?</label>
        <locationX>336</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Employees_of_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCV_JobItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_Contains_Active_Personnel</name>
        <label>List Contains Active Personnel?</label>
        <locationX>303</locationX>
        <locationY>3824</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCV_ActivePersonnels</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Active_Personnels</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Report_Created</name>
        <label>Other Report Created</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Is_Per_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_DailyReportIdOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerDayCVar_ContractJobItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PerDayCVar_ContractJobItem</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>SObjV_JobItem.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Loop_Through_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Per_Day_Daily_Site_Job_report_found</name>
        <label>Per Day Daily Site Job report found?</label>
        <locationX>501</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Get_Daily_Report_Item_Layout</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPerDay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_DailyReportIdOther</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Per_Day_Daily_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Per_Site_Daily_Job_Found</name>
        <label>Per Site Daily Job Found?</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_other_daily_report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPerSite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_OtherDailyReportForPerSIte</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Per_Site_Daily_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>5 November 2024: Adding Crew in the active personnel
Restrict Per Day Items. Added WD Asset 2. Added new condition on element where fetching Employee records, On Shift equals true. 
Changes for Per Site.</description>
    <environments>Default</environments>
    <interviewLabel>Auto Create DR Items &amp; Active Personnels PB Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create DR Items &amp; Active Personnels PB Flow</label>
    <loops>
        <name>Loop_Through_Employees</name>
        <label>Loop Through Employees</label>
        <locationX>303</locationX>
        <locationY>3416</locationY>
        <assignNextValueToReference>SObjV_Employee</assignNextValueToReference>
        <collectionReference>SObjCVar_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Employees_to_Daily_Report</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>List_Contains_Active_Personnel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Job_Items</name>
        <label>Loop Through Job Items</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNextValueToReference>SObjV_JobItem</assignNextValueToReference>
        <collectionReference>SObjCV_JobItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Item_Frequency_Per_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_DailyReportItems_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Active_Personnels</name>
        <label>Insert Active Personnels</label>
        <locationX>171</locationX>
        <locationY>3932</locationY>
        <inputReference>SObjCV_ActivePersonnels</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Daily_Report_Items</name>
        <label>Insert Daily Report Items</label>
        <locationX>50</locationX>
        <locationY>2840</locationY>
        <connector>
            <targetReference>Get_Related_Employees_of_Unit</targetReference>
        </connector>
        <inputReference>SObjCV_DailyReportItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Contract_Job_Items</name>
        <label>Get All Contract Job Items</label>
        <locationX>336</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Items_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Populate_in_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportType</elementReference>
            </value>
        </filters>
        <object>Contract_Item__c</object>
        <outputReference>SObjCV_JobItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Auto_Populate_in_Daily_Report__c</queriedFields>
        <queriedFields>Item_Name__c</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>Item_Frequency__c</queriedFields>
        <queriedFields>WD_Asset__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Report_Item_Layout</name>
        <label>Get Daily Report Item Layout</label>
        <locationX>501</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Daily_Report_Item_Layout2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per_Hour</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily_Report_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_DailyReportPerHourLayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Report_Item_Layout2</name>
        <label>Get Daily Report Item Layout</label>
        <locationX>501</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Auto_Create_Daily_Report_Items_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Per_Quantity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Daily_Report_Item__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>Var_DailyReportPerQuantityLayoutId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_other_daily_report</name>
        <label>Get Same Day report</label>
        <locationX>501</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Per_Day_Daily_Site_Job_report_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UnitId</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputAssignments>
            <assignToReference>Var_DailyReportIdOther</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_other_Daily_Report_to_Check_for_Per_Site</name>
        <label>Get other Daily Report to Check for Per Site</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Per_Site_Daily_Job_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UnitId</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputAssignments>
            <assignToReference>Var_OtherDailyReportForPerSIte</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Employees_of_Unit</name>
        <label>Get Related Employees of Unit</label>
        <locationX>501</locationX>
        <locationY>3200</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employees_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_to_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UnitId</elementReference>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Employees__c</object>
        <outputReference>SObjCVar_Employees</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Shift__c</queriedFields>
        <queriedFields>PositionLookup__c</queriedFields>
        <queriedFields>Crew__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_other_Daily_Report_to_Check_for_Per_Site</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Per_Day_Daily_Job_Items</name>
        <label>Get Per Day Daily Job Items</label>
        <locationX>369</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Daily_Report_Item_Layout</targetReference>
        </connector>
        <flowName>Get_Daily_Site_Job_Items_Collection</flowName>
        <inputAssignments>
            <name>Var_DailyReportId</name>
            <value>
                <elementReference>Var_DailyReportIdOther</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PerDayCVar_ContractJobItem</assignToReference>
            <name>CVar_ContactJobItemId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Per_Site_Daily_Job_Items</name>
        <label>Get Per Site Daily Job Items</label>
        <locationX>369</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_other_daily_report</targetReference>
        </connector>
        <flowName>Get_Daily_Site_Job_Items_Collection</flowName>
        <inputAssignments>
            <name>Var_DailyReportId</name>
            <value>
                <elementReference>Var_OtherDailyReportForPerSIte</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PerSiteCVar_ContractJobItemId</assignToReference>
            <name>CVar_ContactJobItemId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>PerDayCVar_ContractJobItem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerDayVar_ContractJobItemCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerSiteCVar_ContractJobItemId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerSiteVar_ContractJobItemCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjCV_ActivePersonnels</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Personnel__c</objectType>
    </variables>
    <variables>
        <name>SObjCV_DailyReportItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>SObjCV_JobItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Item__c</objectType>
    </variables>
    <variables>
        <name>SObjCVar_Employees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>SObjV_ActivePersonnel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Personnel__c</objectType>
    </variables>
    <variables>
        <name>SObjV_DailyReportItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>SObjV_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>SObjV_JobItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract_Item__c</objectType>
    </variables>
    <variables>
        <name>Var_AutoCreateDailyReportItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContractJobAsgId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportIdOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportPerHourLayoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportPerQuantityLayoutId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_OtherDailyReportForPerSIte</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ReportType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UnitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
