force-app/main/default/flows/Calculate_NDT_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_No_of_Hours</name>
        <label>Add No. of Hours</label>
        <locationX>1272</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>hoursCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>reportItemIterator.Number_of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_report_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_filtered_Report_Items</name>
        <label>Assign filtered Report Items</label>
        <locationX>792</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>dailyReportItemsToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Filtered_Daily_Job_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hoursCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_report_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_full_Report_Items</name>
        <label>Assign full Report Items</label>
        <locationX>797</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>dailyReportItemsToLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Daily_Site_Jobs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hoursCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_report_items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Compute_NDT_Date_Provided</name>
        <label>Is Compute NDT Date Provided?</label>
        <locationX>221</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>All_Daily_Site_Jobs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it is blank</defaultConnectorLabel>
        <rules>
            <name>Yes_Compute_NDT_Date_from_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ndtStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtered_Daily_Job_Items</targetReference>
            </connector>
            <label>Yes, Compute NDT Date from provided</label>
        </rules>
    </decisions>
    <description>Calculate NDT hours based on provided NDT Start Date</description>
    <interviewLabel>Calculate NDT Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate NDT Hours</label>
    <loops>
        <name>Loop_through_report_items</name>
        <label>Loop through report items</label>
        <locationX>1026</locationX>
        <locationY>116</locationY>
        <assignNextValueToReference>reportItemIterator</assignNextValueToReference>
        <collectionReference>dailyReportItemsToLoop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_No_of_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Unit_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Daily_Site_Jobs</name>
        <label>All Daily Site Jobs</label>
        <locationX>561</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_full_Report_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CJIAddToNDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UnitID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Filtered_Daily_Job_Items</name>
        <label>Filtered Daily Job Items</label>
        <locationX>563</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_filtered_Report_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CJIAddToNDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ReportDate__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>ndtStartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>UnitID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Number_of_Hours__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Unit_Hours</name>
        <label>Update Unit Hours</label>
        <locationX>1021</locationX>
        <locationY>387</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NDT_Hours__c</field>
            <value>
                <elementReference>hoursCounter</elementReference>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_Compute_NDT_Date_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dailyReportItemsToLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>hoursCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ndtStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reportItemIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>unitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
