force-app/main/default/flows/Change_Item_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_New_PR_Record</name>
        <label>Navigate to New PR Record</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>c:OpenRecordAfterFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newPR.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecordAfterFlow</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_Old_PR_values_to_New_Values</name>
        <label>Copy Old PR values to New Values</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newPR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Purchase_Requset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Correct_values_of_New_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Correct_values_of_New_PR</name>
        <label>Correct values of New PR</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>newPR.Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lookupItemMaster.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPR.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newPR.New_Item_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_PR_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Change Item Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Item Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_PR_Record</name>
        <label>Create New PR Record</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Old_PR</targetReference>
        </connector>
        <inputReference>newPR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Purchase_Requset</name>
        <label>Find Purchase Requset</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_Old_PR_values_to_New_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_New_PR_For_Approval</name>
        <label>Set New PR For Approval</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Navigate_to_New_PR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newPR.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_PR</name>
        <label>Update Old PR</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_New_PR_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancel_Reason__c</field>
            <value>
                <stringValue>Canceled due to change of item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Change_Item_Screen_Lookup</name>
        <label>Change Item Screen Lookup</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Purchase_Requset</targetReference>
        </connector>
        <fields>
            <name>lookupItemMaster</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Item</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Purchase_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayTextScr1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 4, 4);&quot;&gt;&quot;Clicking &quot;Proceed&quot; will cancel this existing PR, and create a new PR with the selected Item. Continue&quot;?&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_Item_Screen_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newPR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
