force-app/main/default/flows/CreateMultipleQuotes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Quotes</name>
        <label>Create Quotes</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <actionName>CreateQuotesFromPRs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Store_Quotes_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>purchaseRequestList</name>
            <value>
                <elementReference>RecsPurchaseRequests</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateQuotesFromPRs</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PR_Invalid_Status</name>
        <label>Add PR Invalid Status</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>intInvalidStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR_with_no_Supplier</name>
        <label>Add PR with no Supplier</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>intPRWithoutSupplier</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_with_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR_with_Quote</name>
        <label>Add PR with Quote</label>
        <locationX>798</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>intPRwithQuote</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_per_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invalid_User</name>
        <label>Assign Invalid User</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strInvalidUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_PR_Selected</name>
        <label>Assign No PR Selected</label>
        <locationX>314</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strNoPRSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR_with_existing_Quote</name>
        <label>Assign PR with existing Quote</label>
        <locationX>1106</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strPRwithExistingQuote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR_with_invalid_status</name>
        <label>Assign PR with invalid status</label>
        <locationX>842</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strNotForQuoting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PR_with_no_Supplier</name>
        <label>Assign PR with no Supplier</label>
        <locationX>578</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strPRwithnoSupplier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_PRs</name>
        <label>Count PRs</label>
        <locationX>930</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>intPRSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Quotes_Count</name>
        <label>Store Quotes Count</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>intQuotesCreated</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Create_Quotes.QuotesList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Display</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>strInvalidUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You are not allowed to create quotes.</stringValue>
        </value>
    </constants>
    <constants>
        <name>strNoPRSelected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No purchase request selected.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>all_PRs_has_Supplier</name>
        <label>all PRs has Supplier?</label>
        <locationX>710</locationX>
        <locationY>1622</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>All_with_Suppliers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRWithoutSupplier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>intPRSelected</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>intInvalidStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>intPRwithQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quotes</targetReference>
            </connector>
            <label>All with Suppliers</label>
        </rules>
        <rules>
            <name>No_PR_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_PR_Selected</targetReference>
            </connector>
            <label>No PR Selected</label>
        </rules>
        <rules>
            <name>PR_with_no_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRWithoutSupplier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PR_with_no_Supplier</targetReference>
            </connector>
            <label>PR with no Supplier</label>
        </rules>
        <rules>
            <name>PR_with_Invalid_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intInvalidStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PR_with_invalid_status</targetReference>
            </connector>
            <label>PR with Invalid Status</label>
        </rules>
        <rules>
            <name>PR_with_existing_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRwithQuote</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PR_with_existing_Quote</targetReference>
            </connector>
            <label>PR with existing Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_with_Quote</name>
        <label>Check if with Quote</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Loop_per_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_with_existing_quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_PR.Quoted_Created__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR_with_Quote</targetReference>
            </connector>
            <label>Yes, with existing quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_PR_Invalid_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>For_Quoting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_PR.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Quoting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Supplier</targetReference>
            </connector>
            <label>For Quoting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Supplier</name>
        <label>Check Supplier</label>
        <locationX>930</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Check_if_with_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>With Supplier</defaultConnectorLabel>
        <rules>
            <name>No_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_PR.Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR_with_no_Supplier</targetReference>
            </connector>
            <label>No Supplier</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_User</name>
        <label>is Valid User?</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Invalid_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ValidUser</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>strUserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Purchasing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strUserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>strUserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_per_PR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>05 APRIL 2022: Added Finance users</description>
    <formulas>
        <name>strNotForQuoting</name>
        <dataType>String</dataType>
        <expression>&quot;You selected &quot; + TEXT({!intInvalidStatus}) + &quot; purchase request(s) with invalid status. Make sure to select purchase requests with status of For Quoting.&quot;</expression>
    </formulas>
    <formulas>
        <name>strPRwithExistingQuote</name>
        <dataType>String</dataType>
        <expression>&quot;You selected &quot; + TEXT({!intPRwithQuote}) + &quot; purchase request(s) with existing quote.&quot;</expression>
    </formulas>
    <formulas>
        <name>strPRwithnoSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;You selected &quot; + TEXT({!intPRWithoutSupplier}) + &quot; purchase request(s) with no supplier. Make sure to enter first the supplier before creating the quote.&quot;</expression>
    </formulas>
    <formulas>
        <name>strUserProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>CreateMultipleQuotes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateMultipleQuotes</label>
    <loops>
        <name>Loop_per_PR</name>
        <label>Loop per PR</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <collectionReference>RecsPurchaseRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_PRs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>all_PRs_has_Supplier</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1172</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Error!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!strErrorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Display</name>
        <label>Success Display</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(6, 150, 6);&quot;&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Creation successful. Total number of Quotes created: &lt;b&gt;{!intQuotesCreated}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Label.QuoteFilterURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go to new Quotes list to check.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Valid_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSupplierID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intInvalidStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intPRSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intPRWithoutSupplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intPRwithQuote</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intQuotesCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>RecsPurchaseRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
