force-app/main/default/flows/Create_First_Daily_Summary_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_found_DSJS_Record</name>
        <label>Assign found DSJS Record</label>
        <locationX>666</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>assignedDSJSId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObjCVar_DailySummaryReport.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_DSJS_Id_to_Daily_Site_Job</name>
        <label>Assign New DSJS Id to Daily Site Job</label>
        <locationX>1165</locationX>
        <locationY>439</locationY>
        <assignmentItems>
            <assignToReference>assignedDSJSId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DSJS_Status_to_Submitted</name>
        <label>Set DSJS Status to Submitted</label>
        <locationX>988</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>Var_DSJSStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Daily_Summary_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DailySummaryReport_found</name>
        <label>DailySummaryReport found?</label>
        <locationX>654</locationX>
        <locationY>54</locationY>
        <defaultConnector>
            <targetReference>Get_Assigned_DSJ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCVar_DailySummaryReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Transport_Site</name>
        <label>Is Transport Site</label>
        <locationX>972</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Create_Daily_Summary_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_transportsite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site_Info.Transport_Only_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DSJS_Status_to_Submitted</targetReference>
            </connector>
            <label>Yes, Transport Site</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_DSJ_and_Submitted_DSJS</name>
        <label>Transport DSJ and Submitted DSJS</label>
        <locationX>654</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Assign_found_DSJS_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, use the existing DSJS</defaultConnectorLabel>
        <rules>
            <name>Yes_need_to_create_new_DSJS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_DSJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SObjCVar_DailySummaryReport.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DSJS_Status_to_Submitted</targetReference>
            </connector>
            <label>Yes, need to create new DSJS</label>
        </rules>
    </decisions>
    <description>07 Dec 2020: DSJS status is submitted if Transport Site</description>
    <interviewLabel>Create First Daily Summary Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create First Daily Summary Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Daily_Summary_Report</name>
        <label>Create Daily Summary Report</label>
        <locationX>1177</locationX>
        <locationY>53</locationY>
        <assignRecordIdToReference>dailySiteJobSummaryId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_New_DSJS_Id_to_Daily_Site_Job</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Var_DSJSStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Report_Date__c</field>
            <value>
                <elementReference>Var_ReportDate</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetch_DailySummaryReport</name>
        <label>Fetch DailySummaryReport</label>
        <locationX>470</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DailySummaryReport_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Summary_Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportDate</elementReference>
            </value>
        </filters>
        <object>Daily_Summary_Report__c</object>
        <outputReference>SObjCVar_DailySummaryReport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Assigned_DSJ</name>
        <label>Get Assigned DSJ</label>
        <locationX>661</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transport_DSJ_and_Submitted_DSJS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Info</name>
        <label>Get Site Info</label>
        <locationX>822</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Transport_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Transport_Only_Site__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Job</name>
        <label>Update Daily Site Job</label>
        <locationX>916</locationX>
        <locationY>503</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Daily_Summary_Report__c</field>
            <value>
                <elementReference>assignedDSJSId</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>148</locationY>
        <connector>
            <targetReference>Fetch_DailySummaryReport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignedDSJSId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjCVar_DailySummaryReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DSJSStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Open</stringValue>
        </value>
    </variables>
    <variables>
        <name>Var_ReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
