force-app/main/default/flows/CreatePurchaseOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_PO_s</name>
        <label>Create PO&apos;s</label>
        <locationX>490</locationX>
        <locationY>830</locationY>
        <actionName>CreatePOsFromPRs</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_PO_Count</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>purchaseRequestList</name>
            <value>
                <elementReference>selectedPurchaseRequests</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreatePOsFromPRs</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_PR_with_no_Supplier</name>
        <label>Add PR with no Supplier</label>
        <locationX>688</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>intPRWithoutSupplier</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR_with_no_Supplier_and_with_PO</name>
        <label>Add PR with no Supplier and with PO</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>intPRWithoutSupplier</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intPRWithExistingPO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PR_with_PO</name>
        <label>Add PR with PO</label>
        <locationX>952</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>intPRWithExistingPO</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Count</name>
        <label>Assign PO Count</label>
        <locationX>490</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>POCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Create_PO_s.purchaseOrderList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Creation_Successful</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Error_Message</name>
        <label>Update Error Message</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forErrorMessageNoSupplier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_With_PO_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Error_Message_0</name>
        <label>Update Error Message</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forErrorMessageWithPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PO_Creation_Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_No_Supplier_Message</name>
        <label>Assign No Supplier Message</label>
        <locationX>182</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Assign_With_PO_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NoSupplierMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRWithoutSupplier</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_With_PO_Message</name>
        <label>Assign With PO Message</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>PO_Creation_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_WithPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intPRWithExistingPO</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Error_Message_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error</name>
        <label>Check Error</label>
        <locationX>820</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Loop_each_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>No_Supplier_and_with_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_PR.PO_Creation_Checker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR_with_no_Supplier_and_with_PO</targetReference>
            </connector>
            <label>No Supplier and with PO</label>
        </rules>
        <rules>
            <name>No_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_PR.PO_Creation_Checker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR_with_no_Supplier</targetReference>
            </connector>
            <label>No Supplier</label>
        </rules>
        <rules>
            <name>with_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_PR.PO_Creation_Checker__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PR_with_PO</targetReference>
            </connector>
            <label>with PO</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_valid_PR_Selection</name>
        <label>is valid PR Selection</label>
        <locationX>336</locationX>
        <locationY>710</locationY>
        <defaultConnector>
            <targetReference>Create_PO_s</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>PR_with_no_Supplier_or_with_PO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>intPRWithoutSupplier</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>intPRWithExistingPO</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_Supplier_Message</targetReference>
            </connector>
            <label>PR with no Supplier or with PO</label>
        </rules>
    </decisions>
    <description>18 APR 2022: Add logic for existing PO.</description>
    <formulas>
        <name>forErrorMessageNoSupplier</name>
        <dataType>String</dataType>
        <expression>&quot;You selected &lt;b&gt;&quot; + TEXT({!intPRWithoutSupplier}) + &quot;&lt;/b&gt; purchase request(s) with no supplier. Make sure to enter first the supplier before creating the purchase order. &lt;br /&gt;&lt;br /&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>forErrorMessageWithPO</name>
        <dataType>String</dataType>
        <expression>&quot;You selected &lt;b&gt;&quot; + TEXT({!intPRWithExistingPO}) + &quot;&lt;/b&gt; purchase request(s) with purchase order. Make sure to select purchase request(s) with no or cancelled purchase order only.&quot;</expression>
    </formulas>
    <formulas>
        <name>intCheckError</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_each_PR.Supplier__c}) &amp;&amp; NOT(ISBLANK({!Loop_each_PR.Purchase_Order__c})), 1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>intNoSupplier</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Loop_each_PR.Supplier__c}), 1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>intWithPO</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Loop_each_PR.Purchase_Order__c})), 1,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Purchase Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Purchase Orders</label>
    <loops>
        <name>Loop_each_PR</name>
        <label>Loop each PR</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <collectionReference>selectedPurchaseRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>is_valid_PR_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>PO_Creation_Error</name>
        <label>PO Creation Error</label>
        <locationX>182</locationX>
        <locationY>1502</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Error!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorMessageDetails</name>
            <fieldText>&lt;p&gt;{!strErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PO_Creation_Successful</name>
        <label>PO Creation Successful</label>
        <locationX>490</locationX>
        <locationY>1070</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(2, 157, 2); font-size: 16px;&quot;&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Creation successful. Total number of PO&apos;s created: &lt;b&gt;{!POCount}. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!$Label.PurchaseOrderFilterURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Go to Draft PO&apos;s to check.&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Go to Draft PO&apos;s</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_each_PR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>intPRWithExistingPO</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intPRWithoutSupplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>POCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedPurchaseRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
