force-app/main/default/flows/Daily_Site_Job_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_totalDSJ</name>
        <label>Assign totalDSJ</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>totalDSJ</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Daily_Site_Jobs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transport_DSJs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_totalTransportDSJ</name>
        <label>Assign totalTransportDSJ</label>
        <locationX>176</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>totalTransportDSJ</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Transport_DSJs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job_Summary</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Transport_DSJs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Transport DSJs</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignNextValueToReference>currentItem_Get_Transport_DSJs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_Daily_Site_Jobs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Transport_DSJs.Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Transport</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_totalTransportDSJ</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>is_DSJ_Type_changes</name>
        <label>is DSJ Type changes?</label>
        <locationX>308</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_TypeChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Daily_Site_Jobs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new_Daily_Site_Job</name>
        <label>is new Daily Site Job?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>is_DSJ_Type_changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_NewDSJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newDSJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Daily_Site_Jobs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isTransportOnlyDSJS</name>
        <dataType>Boolean</dataType>
        <expression>IF(({!totalDSJ} !=0) &amp;&amp; ({!totalDSJ} == {!totalTransportDSJ}), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>newDSJ</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Daily Site Job - AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Site Job - AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Daily_Site_Jobs</name>
        <label>Get Related Daily Site Jobs</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_totalDSJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Daily_Summary_Report__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Job_Summary</name>
        <label>Update Daily Site Job Summary</label>
        <locationX>176</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Daily_Summary_Report__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Only__c</field>
            <value>
                <elementReference>isTransportOnlyDSJS</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_new_Daily_Site_Job</targetReference>
        </connector>
        <object>Daily_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Transport_DSJs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>totalDSJ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalTransportDSJ</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
