force-app/main/default/flows/Daily_Site_Job_Summary_Submission_and_Approval_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RE_submission_Ops_Sup_Email_for_Approval_Alert</name>
        <label>RE submission Ops Sup Email for Approval Alert</label>
        <locationX>408</locationX>
        <locationY>809</locationY>
        <actionName>Daily_Summary_Report__c.RE_submission_Ops_Sup_Email_for_Approval_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Summary_Report__c.RE_submission_Ops_Sup_Email_for_Approval_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Ops_Sup_Email_for_Approval</name>
        <label>Send Ops Sup Email for Approval</label>
        <locationX>222</locationX>
        <locationY>585</locationY>
        <actionName>Daily_Summary_Report__c.Send_Ops_Sup_Email_for_Approval_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Summary_Report__c.Send_Ops_Sup_Email_for_Approval_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Reject_to_Ops_Supervisor</name>
        <label>Send Reject to Ops Supervisor</label>
        <locationX>323</locationX>
        <locationY>134</locationY>
        <actionName>Daily_Summary_Report__c.Ops_Supervisor_Reject_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Summary_Report__c.Ops_Supervisor_Reject_Alert</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_DSJ_List_to_Update</name>
        <label>Add to DSJ List to Update</label>
        <locationX>1172</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>DSJRecordsToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dailySiteJobIterator</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_all_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DSJ_Status_to_Approved</name>
        <label>Set DSJ Status to Approved</label>
        <locationX>718</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>dsjStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Daily_Site_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_DSJ_Status_to_Ops_Manager_Approved</name>
        <label>Set DSJ Status to Ops Manager Approved</label>
        <locationX>765</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>dsjStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ops - Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Daily_Site_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Ops_Approved</name>
        <label>Set Status to Ops Approved</label>
        <locationX>874</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>dailySiteJobIterator.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dsjStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dailySiteJobIterator.isLockedForUnitManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dailySiteJobIterator.isLockedForUnitStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_DSJ_List_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DSJS_Status</name>
        <label>Check DSJS Status</label>
        <locationX>561</locationX>
        <locationY>332</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobSummaryStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DSJS_Submitter</targetReference>
            </connector>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Ops_Mgr_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobSummaryStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops Mgr - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DSJ_Status_to_Ops_Manager_Approved</targetReference>
            </connector>
            <label>Ops Mgr - Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobSummaryStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reject_to_Ops_Supervisor</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobSummaryStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DSJ_Status_to_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Value_of_Status</name>
        <label>Check Previous Value of Status</label>
        <locationX>598</locationX>
        <locationY>747</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Status_is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Ops_Sup_Email_for_Approval</targetReference>
            </connector>
            <label>Previous Status is Open</label>
        </rules>
        <rules>
            <name>Previous_Status_is_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prevStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RE_submission_Ops_Sup_Email_for_Approval_Alert</targetReference>
            </connector>
            <label>Previous Status is Pending</label>
        </rules>
    </decisions>
    <description>Consolidated submission and approval logic for DSJS
D BANEZ March 2020</description>
    <interviewLabel>Daily Site Job Summary Submission and Approval Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Site Job Summary Submission and Approval Logic</label>
    <loops>
        <name>Loop_through_all_Daily_Site_Job</name>
        <label>Loop through all Daily Site Job</label>
        <locationX>1011</locationX>
        <locationY>270</locationY>
        <assignNextValueToReference>dailySiteJobIterator</assignNextValueToReference>
        <collectionReference>All_Daily_Site_Jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Ops_Approved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Daily_Site_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>All_Daily_Site_Jobs</name>
        <label>All Daily Site Jobs</label>
        <locationX>852</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_Daily_Site_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Daily_Site_Job_Summary</name>
        <label>Daily Site Job Summary</label>
        <locationX>354</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_DSJS_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Jobs</name>
        <label>Update Daily Site Jobs</label>
        <locationX>1254</locationX>
        <locationY>269</locationY>
        <inputReference>DSJRecordsToUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DSJS_Submitter</name>
        <label>Update DSJS Submitter</label>
        <locationX>567</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>Check_Previous_Value_of_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>submitterUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>357</locationY>
        <connector>
            <targetReference>Daily_Site_Job_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dailySiteJobIterator</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>dailySiteJobSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobSummaryStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSJRecordsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>dsjStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSJSUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>DSJUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>prevStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>submitterUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
