force-app/main/default/flows/Daily_Site_Job_Approval_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reject_Daily_Site_Job_Alert_for_Unit_Manager_and_Submitter</name>
        <label>Reject Daily Site Job Alert for Unit Manager and Submitter</label>
        <locationX>448</locationX>
        <locationY>50</locationY>
        <actionName>Daily_Report__c.Reject_Daily_Site_Job_Alert_for_Unit_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DSJS_Status_Pending</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Report__c.Reject_Daily_Site_Job_Alert_for_Unit_Manager</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Reject_Email_Alert</name>
        <label>Send Reject Email Alert to Submitter</label>
        <locationX>142</locationX>
        <locationY>58</locationY>
        <actionName>Daily_Report__c.Reject_Daily_Site_Job_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Report__c.Reject_Daily_Site_Job_Alert</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>DSJS_Status_Pending</name>
        <label>DSJS Status = Pending</label>
        <locationX>1514</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DSJS_Status_Submitted</name>
        <label>DSJS Status = Submitted</label>
        <locationX>1200</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Updates_to_DSJ</name>
        <label>Set Default Updates to DSJ</label>
        <locationX>161</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approve_or_Reject</name>
        <label>Approve or Reject?</label>
        <locationX>445</locationX>
        <locationY>851</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Unit_Type</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dailySiteJobStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Daily_Site_Job_for_reject</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_DSJS_Status_from_Camp</name>
        <label>Check Parent DSJS Status from Camp</label>
        <locationX>832</locationX>
        <locationY>1067</locationY>
        <defaultConnectorLabel>Other Status Values</defaultConnectorLabel>
        <rules>
            <name>DSJS_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <label>DSJS = Open</label>
        </rules>
        <rules>
            <name>DSJS_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Rig_DSJ</targetReference>
            </connector>
            <label>DSJS = Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_DSJS_Status_from_Rig</name>
        <label>Check Parent DSJS Status from Rig</label>
        <locationX>650</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Other Status Values</defaultConnectorLabel>
        <rules>
            <name>DSJS_Open_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <label>DSJS = Open</label>
        </rules>
        <rules>
            <name>DSJS_Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Rig_Stand_Alone</targetReference>
            </connector>
            <label>DSJS = Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Camp_DSJ_Status_if_Manager_Approved</name>
        <label>Check Partner Camp DSJ Status if Manager Approved</label>
        <locationX>1015</locationX>
        <locationY>294</locationY>
        <defaultConnectorLabel>No Camp is Not Manager Approved</defaultConnectorLabel>
        <rules>
            <name>Yes_Camp_is_Manager_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Camp is Manager Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Rig_DSJ_Status_if_Manager_Approved</name>
        <label>Check Partner Rig DSJ Status if Manager Approved</label>
        <locationX>1195</locationX>
        <locationY>1065</locationY>
        <defaultConnectorLabel>No Rig is Not Manager Approved</defaultConnectorLabel>
        <rules>
            <name>Yes_Rig_is_Manager_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Rig is Manager Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Rejecting_User</name>
        <label>Check Rejecting User</label>
        <locationX>440</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejecting_user_is_not_ops_sup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rejectingUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Daily_Site_Job.Ops_Sup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Reject_Email_Alert</targetReference>
            </connector>
            <label>Rejecting user is not ops sup</label>
        </rules>
        <rules>
            <name>Ops_Supervisor_Rejecting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rejectingUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Daily_Site_Job.Ops_Sup__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reject_Daily_Site_Job_Alert_for_Unit_Manager_and_Submitter</targetReference>
            </connector>
            <label>Ops Supervisor Rejecting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Type</name>
        <label>Check Unit Type</label>
        <locationX>649</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Unknown Type</defaultConnectorLabel>
        <rules>
            <name>Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Site_Job.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Camp_Stand_Alone</targetReference>
            </connector>
            <label>Camp</label>
        </rules>
        <rules>
            <name>Rig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Site_Job.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rig</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_DSJS_Status_from_Rig</targetReference>
            </connector>
            <label>Rig</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Camp_Stand_Alone</name>
        <label>Is Camp Stand Alone?</label>
        <locationX>831</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Camp_is_Stand_Alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Camp is Stand Alone</label>
        </rules>
        <rules>
            <name>No_It_is_not_stand_alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_DSJS_Status_from_Camp</targetReference>
            </connector>
            <label>No It is not stand alone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rig_Stand_Alone</name>
        <label>Is Rig Stand Alone?</label>
        <locationX>651</locationX>
        <locationY>463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rig_is_Stand_Alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Rig is Stand Alone</label>
        </rules>
        <rules>
            <name>No_It_is_not_stand_alone_rig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Camp_DSJ</targetReference>
            </connector>
            <label>No It is not stand alone</label>
        </rules>
    </decisions>
    <description>Consolidated Approval Logic for Daily Site Job
D BANEZ March 2020</description>
    <interviewLabel>Daily Site Job Approval Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Site Job Approval Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Daily_Site_Job</name>
        <label>Daily Site Job</label>
        <locationX>290</locationX>
        <locationY>849</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Approve_or_Reject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Camp_DSJ</name>
        <label>Partner Camp DSJ</label>
        <locationX>656</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner_Camp_DSJ_Status_if_Manager_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Camp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Rig_DSJ</name>
        <label>Partner Rig DSJ</label>
        <locationX>1037</locationX>
        <locationY>1065</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner_Rig_DSJ_Status_if_Manager_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rig</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Job_for_reject</name>
        <label>Update Daily Site Job for reject</label>
        <locationX>449</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Check_Rejecting_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isLockedForUnitManager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isLockedForUnitStaff__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Daily_Site_Job_Summary</name>
        <label>Update Daily Site Job Summary</label>
        <locationX>1518</locationX>
        <locationY>579</locationY>
        <inputReference>DSJSUpdateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>849</locationY>
        <connector>
            <targetReference>Set_Default_Updates_to_DSJ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dailySiteJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dsjsStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSJSUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>DSJUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>rejectingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitIsStandAlone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
