force-app/main/default/flows/Daily_Pre_starts_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asset_Collection</name>
        <label>Asset Collection</label>
        <locationX>836</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>colDailyPrestarts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recDailyPrestarts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_every_Asset_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Asset_to_collection</name>
        <label>Assign Single Asset to collection</label>
        <locationX>1016</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>Get_Asset_Driver_Assignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Asset_Driver_Assignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_every_Asset_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Daily_Prestarts_values</name>
        <label>Store Daily Prestarts values</label>
        <locationX>965</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>recDailyPrestarts.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_every_Asset_Assignment.Owner_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyPrestarts.PM_Vehicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_every_Asset_Assignment.WD_Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyPrestarts.Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_every_Asset_Assignment.Driver_Assignment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyPrestarts.Asset_Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_every_Asset_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyPrestarts.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varJobDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Asset_Prime_Mover</name>
        <label>Is Asset Prime Mover or Rigid</label>
        <locationX>1197</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Loop_every_Asset_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Prime Mover</defaultConnectorLabel>
        <rules>
            <name>Asset_is_Prime_Mover</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Loop_every_Asset_Assignment.WD_Asset__r.Asset_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prime Movers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_every_Asset_Assignment.Driver_Assignment__r.Daily_Pre_start_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_every_Asset_Assignment.WD_Asset__r.Asset_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rigid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Daily_Prestarts_values</targetReference>
            </connector>
            <label>Asset is Prime Mover or Rigid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Single_Asset_Driver_Assignment</name>
        <label>Is Single Asset Driver Assignment</label>
        <locationX>836</locationX>
        <locationY>206</locationY>
        <defaultConnector>
            <targetReference>Loop_every_Asset_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, multiple asset</defaultConnectorLabel>
        <rules>
            <name>Yes_single_Asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strAssetDriverAssignmentID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Asset_Driver_Assignment</targetReference>
            </connector>
            <label>Yes, single Asset</label>
        </rules>
    </decisions>
    <description>11 Feb 2021: Remove the restriction to create multiple daily prestarts of asset per day.</description>
    <interviewLabel>Daily Pre-starts Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Pre-starts Creation</label>
    <loops>
        <name>Loop_every_Asset_Assignment</name>
        <label>Loop every Asset</label>
        <locationX>1086</locationX>
        <locationY>217</locationY>
        <collectionReference>Get_Asset_Driver_Assignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Asset_Prime_Mover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Daily_Pre_Starts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Daily_Pre_Starts</name>
        <label>Create Daily Pre-Starts</label>
        <locationX>1354</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Update_Asset_Driver_Assignment</targetReference>
        </connector>
        <inputReference>colDailyPrestarts</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_Driver_Assignment</name>
        <label>Get Asset Driver Assignment</label>
        <locationX>636</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Single_Asset_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Job_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Asset_Driver_Assignment</name>
        <label>Get Single Asset Driver Assignment</label>
        <locationX>840</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Single_Asset_to_collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strAssetDriverAssignmentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Job_Info</name>
        <label>Get Transport Job Info</label>
        <locationX>459</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordID</elementReference>
            </value>
        </filters>
        <object>Transport_Job__c</object>
        <outputAssignments>
            <assignToReference>varJobDate</assignToReference>
            <field>Job_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Asset_Driver_Assignment</name>
        <label>Update Asset Driver Assignment</label>
        <locationX>1541</locationX>
        <locationY>215</locationY>
        <inputReference>colAssetDriverAssignment</inputReference>
    </recordUpdates>
    <start>
        <locationX>332</locationX>
        <locationY>19</locationY>
        <connector>
            <targetReference>Get_Transport_Job_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colAssetDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colDailyPrestarts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Pre_Start__c</objectType>
    </variables>
    <variables>
        <name>recAssetDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recDailyPrestarts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Pre_Start__c</objectType>
    </variables>
    <variables>
        <name>recSingleAssetDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset_Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>strAssetDriverAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varJobDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
