force-app/main/default/flows/Daily_Site_Job_Submission_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to unit manager for approval</description>
        <name>Send_Email_to_Unit_Manager_for_Approval</name>
        <label>Send Email to Unit Manager for Approval</label>
        <locationX>1745</locationX>
        <locationY>23</locationY>
        <actionName>Daily_Report__c.Daily_Site_Job_Approval_Request_to_Unit_Manager</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Daily_Report__c.Daily_Site_Job_Approval_Request_to_Unit_Manager</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>DSJ_Status_Manager_Approved</name>
        <label>DSJ Status = Manager Approved</label>
        <locationX>335</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager - Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.isLockedForUnitStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.isLockedForUnitManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Unit_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DSJ_Status_Submitted</name>
        <label>DSJ Status = Submitted</label>
        <locationX>365</locationX>
        <locationY>8</locationY>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.isLockedForUnitStaff__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Unit_Manager_for_Approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DSJS_Status_Submitted</name>
        <label>DSJS Status = Submitted</label>
        <locationX>1162</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJSUpdateRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Site_Job_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Updates_to_DSJ</name>
        <label>Set Default Updates to DSJ</label>
        <locationX>49</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DSJUpdateRecord.Submitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>submitterUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Parent_DSJS_Status_from_Camp</name>
        <label>Check Parent DSJS Status from Camp</label>
        <locationX>743</locationX>
        <locationY>745</locationY>
        <defaultConnectorLabel>Other Status Values</defaultConnectorLabel>
        <rules>
            <name>DSJS_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <label>DSJS = Open</label>
        </rules>
        <rules>
            <name>DSJS_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Rig_DSJ</targetReference>
            </connector>
            <label>DSJS = Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_DSJS_Status_from_Rig</name>
        <label>Check Parent DSJS Status from Rig</label>
        <locationX>511</locationX>
        <locationY>96</locationY>
        <defaultConnectorLabel>Other Status Values</defaultConnectorLabel>
        <rules>
            <name>DSJS_Open_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Daily_Site_Job</targetReference>
            </connector>
            <label>DSJS = Open</label>
        </rules>
        <rules>
            <name>DSJS_Pending_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dsjsStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Rig_Stand_Alone</targetReference>
            </connector>
            <label>DSJS = Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Camp_DSJ_Status_if_Manager_Approved</name>
        <label>Check Partner Camp DSJ Status if Manager Approved</label>
        <locationX>966</locationX>
        <locationY>152</locationY>
        <defaultConnector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Camp is Not Manager Approved</defaultConnectorLabel>
        <rules>
            <name>Yes_Camp_is_Manager_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager - Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Camp is Manager Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Partner_Rig_DSJ_Status_if_Manager_Approved</name>
        <label>Check Partner Rig DSJ Status if Manager Approved</label>
        <locationX>1139</locationX>
        <locationY>745</locationY>
        <defaultConnector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rig is Not Manager Approved</defaultConnectorLabel>
        <rules>
            <name>Yes_Rig_is_Manager_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manager - Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Partner_Rig_DSJ.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ops - Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Rig is Manager Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Unit_Type</name>
        <label>Check Unit Type</label>
        <locationX>511</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Unknown Type</defaultConnectorLabel>
        <rules>
            <name>Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Site_Job.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Camp_Stand_Alone</targetReference>
            </connector>
            <label>Camp</label>
        </rules>
        <rules>
            <name>Rig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Daily_Site_Job.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rig</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_DSJS_Status_from_Rig</targetReference>
            </connector>
            <label>Rig</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Submitter_and_Approving_Manager</name>
        <label>Compare Submitter and Approving Manager</label>
        <locationX>359</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>Unhandled Scenario</defaultConnectorLabel>
        <rules>
            <name>Submitter_is_NOT_Unit_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>submitterUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Daily_Site_Job.Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJ_Status_Submitted</targetReference>
            </connector>
            <label>Submitter is NOT Unit Manager</label>
        </rules>
        <rules>
            <name>Submitter_IS_the_same_as_Unit_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>submitterUserId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Daily_Site_Job.Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJ_Status_Manager_Approved</targetReference>
            </connector>
            <label>Submitter IS the same as Unit Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Camp_Stand_Alone</name>
        <label>Is Camp Stand Alone?</label>
        <locationX>742</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Camp_is_Stand_Alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Camp is Stand Alone</label>
        </rules>
        <rules>
            <name>No_It_is_not_stand_alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_DSJS_Status_from_Camp</targetReference>
            </connector>
            <label>No It is not stand alone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Rig_Stand_Alone</name>
        <label>Is Rig Stand Alone?</label>
        <locationX>737</locationX>
        <locationY>319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Rig_is_Stand_Alone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DSJS_Status_Submitted</targetReference>
            </connector>
            <label>Yes Rig is Stand Alone</label>
        </rules>
        <rules>
            <name>No_It_is_not_stand_alone_rig</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>unitIsStandAlone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partner_Camp_DSJ</targetReference>
            </connector>
            <label>No It is not stand alone</label>
        </rules>
    </decisions>
    <description>Consolidated logic for Daily Site Job when moved to status = Submitted
D BANEZ March 2020</description>
    <interviewLabel>Daily Site Job Submission Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Site Job Submission Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Daily_Site_Job</name>
        <label>Daily Site Job</label>
        <locationX>210</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Submitter_and_Approving_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Camp_DSJ</name>
        <label>Partner Camp DSJ</label>
        <locationX>747</locationX>
        <locationY>150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner_Camp_DSJ_Status_if_Manager_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Camp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Partner_Rig_DSJ</name>
        <label>Partner Rig DSJ</label>
        <locationX>982</locationX>
        <locationY>743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Partner_Rig_DSJ_Status_if_Manager_Approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dailySiteJobSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rig</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Job</name>
        <label>Update Daily Site Job</label>
        <locationX>1620</locationX>
        <locationY>86</locationY>
        <inputReference>DSJUpdateRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Daily_Site_Job_Summary</name>
        <label>Update Daily Site Job Summary</label>
        <locationX>1297</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Update_Daily_Site_Job</targetReference>
        </connector>
        <inputReference>DSJSUpdateRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>124</locationY>
        <connector>
            <targetReference>Set_Default_Updates_to_DSJ</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dailySiteJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dailySiteJobSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dsjsStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DSJSUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>DSJUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>submitterUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>unitIsStandAlone</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
