force-app/main/default/flows/Driver_Assignment_SMS_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Asset_SMS_Message</name>
        <label>Add Asset SMS Message</label>
        <locationX>1354</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recSMSMessage.CNS_sms__Recipient_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Prime_Mover_Asset.Asset_Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSMSMessage.CNS_sms__Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSMSMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Asset_to_SMS_Message_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Asset_to_SMS_Message_Collection</name>
        <label>Add Asset to SMS Message Collection</label>
        <locationX>1196</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>colSMSMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSMSMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_per_Prime_Mover_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_SMS_Message</name>
        <label>Add SMS Message</label>
        <locationX>699</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>recSMSMessage.CNS_sms__Recipient_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Driver_Contact_Number.Driver_Contact_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSMSMessage.CNS_sms__Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSMSMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recSMSMessage.Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDriverAssignmentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_SMS_Message_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_SMS_Message_Collection</name>
        <label>Add to SMS Message Collection</label>
        <locationX>838</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>colSMSMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recSMSMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Prime_Mover_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_SMS_Message</name>
        <label>Update SMS Message</label>
        <locationX>597</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>varSMSMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSMSMessageCancelledUpdated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_SMS_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Asset_with_Contact_Number</name>
        <label>is Asset with Contact Number?</label>
        <locationX>1504</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>Loop_per_Prime_Mover_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AssetContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_Prime_Mover_Asset.Asset_Contact_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Asset_SMS_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Driver_with_Contact_Number</name>
        <label>is Driver with Contact Number?</label>
        <locationX>336</locationX>
        <locationY>390</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DriverContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Driver_Contact_Number.Driver_Contact_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Status_Updated_or_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Status_Updated_or_Cancelled</name>
        <label>is Status Updated or Cancelled</label>
        <locationX>489</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Add_SMS_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CancelledUpdated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>updated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SMS_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>With_Prime_Mover_Assets</name>
        <label>With Prime Mover Assets?</label>
        <locationX>1123</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>Create_SMS_Messages</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PrimeMover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Prime_Mover_Assets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_per_Prime_Mover_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sending SMS message</description>
    <formulas>
        <name>varSMSMessageAssigned</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; + {!Get_Driver_Contact_Number.Transport_Job_Name__c}+ &apos;] New Driver Assignment assigned to you. &apos; + {!Get_Driver_Contact_Number.SMS_Link__c}</expression>
    </formulas>
    <formulas>
        <name>varSMSMessageCancelledUpdated</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; + {!Get_Driver_Contact_Number.Transport_Job_Name__c} + &apos;] A driver assignment has been &apos; + {!varStatus} + &apos;. &apos; + {!Get_Driver_Contact_Number.SMS_Link__c}</expression>
    </formulas>
    <interviewLabel>Driver Assignment – SMS Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Driver Assignment – SMS Notification</label>
    <loops>
        <name>Loop_per_Prime_Mover_Asset</name>
        <label>Loop per Prime Mover Asset</label>
        <locationX>1309</locationX>
        <locationY>386</locationY>
        <collectionReference>Get_Prime_Mover_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Asset_with_Contact_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SMS_Messages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SMS_Messages</name>
        <label>Create SMS Messages</label>
        <locationX>1253</locationX>
        <locationY>176</locationY>
        <inputReference>colSMSMessage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Driver_Contact_Number</name>
        <label>Get Driver Contact Number</label>
        <locationX>350</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Driver_with_Contact_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDriverAssignmentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Driver_Contact_Number__c</queriedFields>
        <queriedFields>Transport_Job_Name__c</queriedFields>
        <queriedFields>SMS_Link__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Prime_Mover_Assets</name>
        <label>Get Prime Mover Assets</label>
        <locationX>972</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>With_Prime_Mover_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDriverAssignmentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>is_Prime_Movers__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset_Driver_Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Asset_Contact_Number__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>224</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Driver_Contact_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colSMSMessage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CNS_sms__SMSMessage__c</objectType>
    </variables>
    <variables>
        <name>recSMSMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CNS_sms__SMSMessage__c</objectType>
    </variables>
    <variables>
        <name>varDriverAssignmentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSMSMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varSMSMessageAssigned</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
