force-app/main/default/flows/Driver_Assignment_AFTER_Process_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Driver_Assignment_Accepted_alert</name>
        <label>Driver Assignment Accepted alert</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <actionName>Driver_Assignment__c.Driver_Assignment_Accepted_alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Changed_in_Date_Time</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driver_Assignment__c.Driver_Assignment_Accepted_alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>TJ_Manager_Notificationlabel</name>
        <label>TJ Manager Notification</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Driver_Assignment_Accepted_alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colNotifRecipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>notifTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>notifBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Transport_Job_Cancelled_Assignment</name>
        <label>Transport Job - Cancelled Assignment</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <actionName>Driver_Assignment__c.Transport_Job_Cancelled_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driver_Assignment__c.Transport_Job_Cancelled_Assignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Transport_Job_New_Assigned_Assignment</name>
        <label>Transport Job - New Assigned Assignment</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <actionName>Driver_Assignment__c.Transport_Job_New_Assigned_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_TJ_back_to_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driver_Assignment__c.Transport_Job_New_Assigned_Assignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Transport_Job_Updated_Assignment</name>
        <label>Transport Job - Updated Assignment</label>
        <locationX>1106</locationX>
        <locationY>1463</locationY>
        <actionName>Driver_Assignment__c.Transport_Job_Updated_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Send_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driver_Assignment__c.Transport_Job_Updated_Assignment</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Recipient</name>
        <label>Add Recipient</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>colNotifRecipient</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>notifRecipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Driver_Status_In_Progress</name>
        <label>Assign Driver Status = In Progress</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Driver_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Transport_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Driver_Status_Ready_to_Submit</name>
        <label>Assign Driver Status = Ready to Submit</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>$Record.Driver_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready to Submit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changed_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Send_Notification</name>
        <label>Update Send Notification</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>$Record.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Notify_Driver_of_Updates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Driver_Assignment_SMS_Notification_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_changed_to_Assigned</name>
        <label>Status changed to Assigned</label>
        <locationX>314</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Driver_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transport_Job_New_Assigned_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Send_Notification</name>
        <label>Update Send Notification</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Driver_Assignment_SMS_Notification_Cancelled</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changed_in_Date_Time</name>
        <label>Changed in Date/Time</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Changed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not changed</defaultConnectorLabel>
        <rules>
            <name>Start_Date_Time_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Assets_with_no_Pre_Starts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Driver_Status_In_Progress</targetReference>
            </connector>
            <label>Start Date/Time changed</label>
        </rules>
        <rules>
            <name>End_Date_Time_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Assets_with_no_Pre_Starts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Driver_Status_Ready_to_Submit</targetReference>
            </connector>
            <label>End Date/Time changed</label>
        </rules>
        <rules>
            <name>Date_Time_changed_to_Blank</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Assets_with_no_Pre_Starts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Driver_Status_In_Progress</targetReference>
            </connector>
            <label>Date/Time changed to Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_Status</name>
        <label>Changed Status</label>
        <locationX>710</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transport_Job_Status_to_Completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>DA_Created_midway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_Job__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newDriverAssignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_changed_to_Assigned</targetReference>
            </connector>
            <label>DA Created midway</label>
        </rules>
        <rules>
            <name>Completed_DA_but_with_updates</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date_Time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Configuration__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TJ_resubmitted_to_False</targetReference>
            </connector>
            <label>Completed DA but with updates</label>
        </rules>
        <rules>
            <name>Cancelled_DA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Driver_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transport_Job_Status_to_Completed_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled DA</label>
        </rules>
        <rules>
            <name>Notify_DA_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Driver_Assignment_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Notify_Driver_of_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Job_Updated_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notify DA Updates</label>
        </rules>
    </decisions>
    <decisions>
        <name>Driver_Assignment_Accepted</name>
        <label>Driver Assignment Accepted</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Changed_in_Date_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Driver_Assignment_Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Recipient</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newDriverAssignment</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>notifBody</name>
        <dataType>String</dataType>
        <expression>&apos;[&apos; + {!$Record.Transport_Job__r.Name} + &apos;] The driver assignment has been accepted by &apos; + {!$Record.Driver__r.Name} + &apos;.&apos;</expression>
    </formulas>
    <formulas>
        <name>notifRecipient</name>
        <dataType>String</dataType>
        <expression>{!$Record.Transport_Job__r.OwnerId}</expression>
    </formulas>
    <formulas>
        <name>notifTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Driver Assignment Accepted&apos;</expression>
    </formulas>
    <interviewLabel>Driver Assignment - AFTER - Process Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Driver Assignment - AFTER - Process Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Custom_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TJ_Manager_Notificationlabel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TJ_Manager_notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Driver_Assignment</name>
        <label>Update Driver Assignment</label>
        <locationX>710</locationX>
        <locationY>1979</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_back_to_In_Progress</name>
        <label>Update TJ back to In Progress</label>
        <locationX>314</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Driver_Assignment_SMS_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TJ_resubmitted_to_False</name>
        <label>Update TJ resubmitted to False</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resubmitted_to_DSJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Resubmitted_to_DSJ__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transport_Job</name>
        <label>Update Transport Job</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Changed_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Driver_Assignment_Accepted</targetReference>
        </connector>
        <object>Driver_Assignment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Driver_Assignment_SMS_Notification</name>
        <label>Driver Assignment – SMS Notification</label>
        <locationX>314</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </connector>
        <flowName>Driver_Assignment_SMS_Notification</flowName>
        <inputAssignments>
            <name>varDriverAssignmentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <stringValue>assigned</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Driver_Assignment_SMS_Notification_Cancelled</name>
        <label>Driver Assignment – SMS Notification</label>
        <locationX>842</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </connector>
        <flowName>Driver_Assignment_SMS_Notification</flowName>
        <inputAssignments>
            <name>varDriverAssignmentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Driver_Assignment_SMS_Notification_Updates</name>
        <label>Driver Assignment – SMS Notification</label>
        <locationX>1106</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </connector>
        <flowName>Driver_Assignment_SMS_Notification</flowName>
        <inputAssignments>
            <name>varDriverAssignmentID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <stringValue>updated</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Transport_Job_Status_to_Completed</name>
        <label>Update Transport Job Status to Completed</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </connector>
        <flowName>Update_Transport_Job_Status_to_Completed</flowName>
        <inputAssignments>
            <name>strRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Transport_Job_Status_to_Completed_Cancelled</name>
        <label>Update Transport Job Status to Completed</label>
        <locationX>842</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Transport_Job_Cancelled_Assignment</targetReference>
        </connector>
        <flowName>Update_Transport_Job_Status_to_Completed</flowName>
        <inputAssignments>
            <name>strRecordID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colNotifRecipient</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
