force-app/main/default/flows/Driver_Assignment_Email_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notification for assigned Driver Assignment</description>
        <name>Email_Notification_Assignment</name>
        <label>Email Notification - Assignment</label>
        <locationX>896</locationX>
        <locationY>334</locationY>
        <actionName>Driver_Assignment__c.Transport_Job_New_Assigned_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SMS_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_per_Driver_Assignment.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Driver_Assignment__c.Transport_Job_New_Assigned_Assignment</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_DA_collection</name>
        <label>Add to DA collection</label>
        <locationX>580</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>colUpdateDriverAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recUpdateDriverAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_per_Driver_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Send_SMS_Notification</name>
        <label>Send SMS Notification</label>
        <locationX>576</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>recUpdateDriverAssignment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Driver_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recUpdateDriverAssignment.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_DA_collection</targetReference>
        </connector>
    </assignments>
    <description>15 APR 2021: Included SMS Notification</description>
    <interviewLabel>Driver Assignment - Email Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Driver Assignment - Email Notification</label>
    <loops>
        <name>Loop_per_Driver_Assignment</name>
        <label>Loop per Driver Assignment</label>
        <locationX>659</locationX>
        <locationY>65</locationY>
        <collectionReference>colDriverAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Notification_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Driver_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Driver_Assignment</name>
        <label>Get Driver Assignment</label>
        <locationX>473</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_per_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTransportJobID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Driver_Assignment__c</object>
        <outputReference>colDriverAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Driver_Assignment</name>
        <label>Update Driver Assignment</label>
        <locationX>936</locationX>
        <locationY>64</locationY>
        <inputReference>colUpdateDriverAssignment</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Driver_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SMS_Notification</name>
        <label>SMS Notification</label>
        <locationX>743</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>Send_SMS_Notification</targetReference>
        </connector>
        <flowName>Driver_Assignment_SMS_Notification</flowName>
        <inputAssignments>
            <name>varDriverAssignmentID</name>
            <value>
                <elementReference>Loop_per_Driver_Assignment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varStatus</name>
            <value>
                <stringValue>assigned</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>colUpdateDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recUpdateDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varTransportJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
