force-app/main/default/flows/DSJS_Status_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Approved_DSJS_Count</name>
        <label>Set Approved DSJS Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varApprovedDSJSCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CountApprovedDSJSs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalDSJSCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_CountTotalDSJSs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Site_with_DSJS_Counts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>f_AllDSJSApproved</name>
        <dataType>Boolean</dataType>
        <expression>AND({!varTotalDSJSCount} &gt; 0, {!varApprovedDSJSCount} = {!varTotalDSJSCount})</expression>
    </formulas>
    <formulas>
        <name>f_CountApprovedDSJSs</name>
        <dataType>Number</dataType>
        <expression>{!Get_DSJSs_Approved}.size</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_CountTotalDSJSs</name>
        <dataType>Number</dataType>
        <expression>{!Get_DSJS_s_All}.size</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>DSJS Status Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSJS Status Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DSJS_s_All</name>
        <label>Get DSJS&apos;s All</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Approved_DSJS_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DSJSs_Approved</name>
        <label>Get DSJSs Approved</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DSJS_s_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site_with_DSJS_Counts</name>
        <label>Update Site with DSJS Counts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DSJS_Count_All__c</field>
            <value>
                <elementReference>varTotalDSJSCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DSJS_Count_Approved__c</field>
            <value>
                <elementReference>varApprovedDSJSCount</elementReference>
            </value>
        </inputAssignments>
        <object>Site__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DSJSs_Approved</targetReference>
        </connector>
        <object>Daily_Summary_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varApprovedDSJSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalDSJSCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
