force-app/main/default/flows/Employee_Update_Team_field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Employee_Team</name>
        <label>Assign Employee - Team</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recEmployee.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputEmployeeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recEmployee.Team_lookup__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTeamID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Employee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Employee_ID_not_NULL</name>
        <label>Employee ID not NULL</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_notnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmployeeID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputEmployeeID</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employee_Team</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Employee - Update Team field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee - Update Team field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Employee</name>
        <label>Update Employee</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <inputReference>recEmployee</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee_ID_not_NULL</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputEmployeeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTeamID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
</Flow>
