force-app/main/default/flows/Employment_Unit_Assignment_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>unitAssignmentRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012On00000DrJHxIAN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Scenarios</name>
        <label>Check Scenarios</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Unknown scenario</defaultConnectorLabel>
        <rules>
            <name>Active_Unit_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Name__r.Assigned_to_Unit__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Employee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>New Unit Assignment</label>
        </rules>
    </decisions>
    <description>All automation for unit assignment record type Employment</description>
    <environments>Default</environments>
    <interviewLabel>Employment - Unit Assignment Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employment - Unit Assignment Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Deactivate_any_old_Unit_Assignments</name>
        <label>Deactivate any old Unit Assignments</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Employment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Employee</name>
        <label>Update Parent Employee</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Deactivate_any_old_Unit_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_to_Unit__c</field>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Assigned_to_Current_Unit__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Employees__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Scenarios</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &apos;Unit_Assignment&apos;</filterFormula>
        <object>Employment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
