force-app/main/default/flows/Evaluate_Purchase_Request_Approvers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clear_Out_approvers</name>
        <label>Clear Out approvers</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>PRRecord.Second_Approver__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PRRecord.Third_Approver__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PRRecord.Fourth_Approver__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Valid_for_2nd_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_2nd_Approver</name>
        <label>Set 2nd Approver</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PRRecord.Second_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRRecord.Destination_Store__r.Second_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_for_3rd_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_3rd_Approver</name>
        <label>Set 3rd Approver</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>PRRecord.Third_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRRecord.Destination_Store__r.Third_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_for_4th_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_4th_Approver</name>
        <label>Set 4th Approver</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>PRRecord.Fourth_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRRecord.Destination_Store__r.Fourth_Approver__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Valid_for_2nd_Approver</name>
        <label>Valid for 2nd Approver?</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2ndApprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Total_Cost_Price_GST_exc__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PRRecord.Destination_Store__r.Second_Approver_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_2nd_Approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_for_3rd_Approver</name>
        <label>Valid for 3rd Approver?</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3rdapprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Total_Cost_Price_GST_exc__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PRRecord.Destination_Store__r.Third_Approver_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_3rd_Approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_for_4th_Approver</name>
        <label>Valid for 4th Approver?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4thApprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Total_Cost_Price_GST_exc__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PRRecord.Destination_Store__r.Fourth_Approver_Limit__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_4th_Approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Logic to determine approvers based on Total Cost Price</description>
    <environments>Default</environments>
    <interviewLabel>Evaluate Purchase Request Approvers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Evaluate Purchase Request Approvers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Out_approvers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
</Flow>
