force-app/main/default/flows/Get_Daily_Site_Job_Items_Collection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contract_Job_Item_Id_to_Collection</name>
        <label>Add Contract Job Item Id to Collection</label>
        <locationX>731</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>CVar_ContactJobItemId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVar_DailyReportItem.Contract_Job_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contract_Job_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Daily_Report_Items_found</name>
        <label>Daily Report Items found?</label>
        <locationX>266</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCVar_DailyReportItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Contract_Job_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Get Daily Site Job Items Collection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Daily Site Job Items Collection</label>
    <loops>
        <name>Loop_Through_Contract_Job_Items</name>
        <label>Loop Through Contract Job Items</label>
        <locationX>450</locationX>
        <locationY>67</locationY>
        <assignNextValueToReference>SObjVar_DailyReportItem</assignNextValueToReference>
        <collectionReference>SObjCVar_DailyReportItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contract_Job_Item_Id_to_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Daily_Site_Job_Items</name>
        <label>Get Daily Site Job Items</label>
        <locationX>86</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Report_Items_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Job_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </filters>
        <object>Daily_Report_Item__c</object>
        <outputReference>SObjCVar_DailyReportItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Job_Item__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Daily_Site_Job_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>CVar_ContactJobItemId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SObjCVar_DailyReportItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>SObjVar_DailyReportItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>Var_ContactJobItemIdCSV</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
