force-app/main/default/flows/Inventory_Item_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Quantity_For_Enough_Stock</name>
        <label>Assign Quantity For Enough Stock</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>intGetStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intRestockQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Purchase_Request_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity_for_Not_Enough_Stocks</name>
        <label>Assign Quantity for Not Enough Stocks</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>intGetStock</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Base_Inventory_Item.Stock_Available_formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Purchase_Request_Picklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Item_Name_and_SCode</name>
        <label>Update Item Name and SCode</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>$Record.Item_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Inventory_Item__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Store_Item_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Inventory_Item__r.Store_Item_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Item_and_Store_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strItemStoreID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_replenish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PR_Item_Fields</name>
        <label>Update PR Item Fields</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Auto_Purchase_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PR_for_For_Ordering</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Destination_Store_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Store_Item_Fields</name>
        <label>Update Store Item Fields</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active_Auto_Purchase_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Purchase_Request_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Destination_Store_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>strNotesAutoPurchaseRequest</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Auto-Purchase Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Auto_replenish</name>
        <label>Auto-replenish</label>
        <locationX>974</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_Inventory_Item_non_auto_replenish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_needs_restocking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Minimum_Quantity_for_Restocking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stock_Available_formula__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Minimum_Quantity_for_Restocking__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_ReOder_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_Auto_Purchase_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Minimum_Quantity_for_Restocking__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Default_ReOder_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Base_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Base_Inventory_Item</targetReference>
            </connector>
            <label>Yes, needs restocking</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Store</name>
        <label>Check Store</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Roma_Base_Or_Send_Directly_to_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Store_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Base_Store__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Directly_To_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_for_For_Ordering</targetReference>
            </connector>
            <label>Roma Base Or Send Directly to Order</label>
        </rules>
        <rules>
            <name>Non_Roma_Base</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Store_Unit__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Base_Store__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Directly_To_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Base_Store_Item</targetReference>
            </connector>
            <label>Non-Roma Base</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Base_Store_Item</name>
        <label>Existing Base Store Item</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Existing_Item_Enough_Stocks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Base_Inventory_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Base_Inventory_Item.Stock_Available_formula__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>intRestockQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity_For_Enough_Stock</targetReference>
            </connector>
            <label>Enough Stocks</label>
        </rules>
        <rules>
            <name>Existing_Item_Not_Enough_Stocks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Base_Inventory_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Base_Inventory_Item.Stock_Available_formula__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>intRestockQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Purchase_Request_For_Ordering</targetReference>
            </connector>
            <label>Not Enough Stocks</label>
        </rules>
    </decisions>
    <description>26 MAR 2024: Changed the updating of Inventory Item for non-autoreplenish</description>
    <environments>Default</environments>
    <formulas>
        <name>intRestockQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Default_ReOder_Quantity__c} - {!$Record.Stock_Available_formula__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>number of stocks for ordering</description>
        <name>intStockForOrdering</name>
        <dataType>Number</dataType>
        <expression>{!intRestockQuantity} - {!Get_Base_Inventory_Item.Stock_Available_formula__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>strItemStoreID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Inventory_Item__r.Id} + &quot;|&quot; + {!$Record.Store_Unit__r.Id}</expression>
    </formulas>
    <formulas>
        <name>strPROwnerID</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!$Record.Store_Unit__r.Unit_Manager__c})),{!$Record.Store_Unit__r.Unit_Manager__c},IF(NOT(ISBLANK({!$Record.Store_Unit__r.Manager__c})),{!$Record.Store_Unit__r.Manager__c},{!$Record.Inventory_Item__r.OwnerId}))</expression>
    </formulas>
    <interviewLabel>Inventory Item – AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Item – AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Purchase_Request_For_Ordering</name>
        <label>Create Purchase Request - For Ordering</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Assign_Quantity_for_Not_Enough_Stocks</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store__c</field>
            <value>
                <elementReference>$Record.Store_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>$Record.Inventory_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>strNotesAutoPurchaseRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Request_Approver__c</field>
            <value>
                <elementReference>$Record.Store_Unit__r.Purchase_Request_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>intStockForOrdering</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store_Item__c</field>
            <value>
                <elementReference>Get_Base_Inventory_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store__c</field>
            <value>
                <elementReference>$Record.Base_Store__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Ordering</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Purchase_Request_Picklist</name>
        <label>Create Purchase Request - Picklist</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Update_Store_Item_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store__c</field>
            <value>
                <elementReference>$Record.Store_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>$Record.Inventory_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>strNotesAutoPurchaseRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Request_Approver__c</field>
            <value>
                <elementReference>$Record.Store_Unit__r.Purchase_Request_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>intGetStock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store_Item__c</field>
            <value>
                <elementReference>Get_Base_Inventory_Item.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store__c</field>
            <value>
                <elementReference>$Record.Base_Store__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pick List</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PR_for_For_Ordering</name>
        <label>PR for For Ordering</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_PR_Item_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Destination_Store__c</field>
            <value>
                <elementReference>$Record.Store_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>From_Order__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item__c</field>
            <value>
                <elementReference>$Record.Inventory_Item__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>strNotesAutoPurchaseRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Request_Approver__c</field>
            <value>
                <elementReference>$Record.Store_Unit__r.Purchase_Request_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>intRestockQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store_Item__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Store__c</field>
            <value>
                <elementReference>$Record.Store_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Ordering</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Base_Inventory_Item</name>
        <label>Get Base Inventory Item</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Base_Store__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Inventory_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stock_Available_formula__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Destination_Store_Item</name>
        <label>Update Destination Store Item</label>
        <locationX>578</locationX>
        <locationY>1463</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory_Item_non_auto_replenish</name>
        <label>Update Inventory Item - non auto-replenish</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Item_Name__c</field>
            <value>
                <elementReference>$Record.Inventory_Item__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_and_Store_ID__c</field>
            <value>
                <elementReference>strItemStoreID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Item_Code__c</field>
            <value>
                <elementReference>$Record.Inventory_Item__r.Store_Item_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Item_Name_and_SCode</targetReference>
        </connector>
        <object>Store_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>intGetStock</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
