force-app/main/default/flows/Invoice_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Contract_Job_Item</name>
        <label>Add Contract Job Item</label>
        <locationX>951</locationX>
        <locationY>1920</locationY>
        <assignmentItems>
            <assignToReference>colContractJobItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Daily_Job_Item.Contract_Job_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Daily_Job_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Invoice_Line_Item</name>
        <label>Add Invoice Line Item</label>
        <locationX>1391</locationX>
        <locationY>3480</locationY>
        <assignmentItems>
            <assignToReference>colInvoiceLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recInvoiceLineItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineDescription</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineTotalQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineServiceType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineItemName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineUOM</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineGroup</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contract_Job_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colDailySiteJob</name>
        <label>Add to colDailySiteJob</label>
        <locationX>907</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>colDailySiteJob</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Daily_Site_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colDailySiteSummary</name>
        <label>Add to colDailySiteSummary</label>
        <locationX>1105</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>colDailySiteSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Daily_Site_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Daily_Site_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Quantity</name>
        <label>Add Total Quantity</label>
        <locationX>1479</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>invlineTotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Daily_Job_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Quantity_Hours</name>
        <label>Add Total Quantity - Hours</label>
        <locationX>1743</locationX>
        <locationY>3048</locationY>
        <assignmentItems>
            <assignToReference>invlineTotalQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Number_of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filtered_Daily_Job_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Service_Type_and_Description</name>
        <label>Store Service Type and Description</label>
        <locationX>1611</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>invlineServiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Contract_Job_Item__r.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Daily_Report__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineItemName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Item_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineUOM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Contract_Job_Item__r.UOM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filtered_Daily_Job_Item.Group__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quantity_Hours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_to_Invoice_Line_Item</name>
        <label>Store to Invoice Line Item</label>
        <locationX>1391</locationX>
        <locationY>3360</locationY>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Item_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineItemName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Daily_Site_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.UOM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineUOM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineTotalQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Apply_Admin_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineApplyAdminFee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>invlineDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recInvoiceLineItem.Create_Manually__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Invoice_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>1875</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>invlineDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; {!Loop_Filtered_Daily_Job_Item.Daily_Report__r.Name}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invlineCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quantity_Hours</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Daily_Job_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Daily Job Items</label>
        <locationX>1391</locationX>
        <locationY>2352</locationY>
        <assignNextValueToReference>currentItem_Filter_Daily_Job_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Daily_Job_Item</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Daily_Job_Items.Contract_Job_Item__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Contract_Job_Item</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filtered_Daily_Job_Item</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Quantity_Hours</name>
        <label>Check Quantity/Hours</label>
        <locationX>1743</locationX>
        <locationY>2928</locationY>
        <defaultConnector>
            <targetReference>Loop_Filtered_Daily_Job_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Quantity_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Filtered_Daily_Job_Item.Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Filtered_Daily_Job_Item.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Total_Quantity</targetReference>
            </connector>
            <label>Quantity</label>
        </rules>
        <rules>
            <name>No_of_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Filtered_Daily_Job_Item.Number_of_Hours__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Total_Quantity_Hours</targetReference>
            </connector>
            <label>No. of Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Job_Item</name>
        <label>Found Daily Job Item</label>
        <locationX>819</locationX>
        <locationY>1560</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundDailyJobItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Job_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Job_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Site_Job</name>
        <label>Found Daily Site Job</label>
        <locationX>1017</locationX>
        <locationY>984</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundDailySiteJob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Site_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Site_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Summary_Report</name>
        <label>Found Daily Summary Report</label>
        <locationX>1248</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DailySummaryReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Site_Job_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Site_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_1st_record</name>
        <label>is 1st record?</label>
        <locationX>1743</locationX>
        <locationY>2592</locationY>
        <defaultConnector>
            <targetReference>Update_Description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1stRecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invlineCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Service_Type_and_Description</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Contract_Job_Item_already_added</name>
        <label>is Contract Job Item already added?</label>
        <locationX>863</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>Add_Contract_Job_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colContractJobItem</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Daily_Job_Item.Contract_Job_Item__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Job_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>invlineApplyAdminFee</name>
        <dataType>Boolean</dataType>
        <expression>IF({!invlineServiceType} = &apos;Flexi Price/Quantity&apos;, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>Invoice AFTRE Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice AFTER Automation</label>
    <loops>
        <name>Loop_Contract_Job_Item</name>
        <label>Loop Contract Job Item</label>
        <locationX>687</locationX>
        <locationY>2232</locationY>
        <collectionReference>colContractJobItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Daily_Job_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Invoice_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Daily_Job_Item</name>
        <label>Loop Daily Job Item</label>
        <locationX>687</locationX>
        <locationY>1680</locationY>
        <collectionReference>Get_Daily_Job_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Contract_Job_Item_already_added</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contract_Job_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Daily_Site_Job</name>
        <label>Loop Daily Site Job</label>
        <locationX>819</locationX>
        <locationY>1104</locationY>
        <collectionReference>Get_Daily_Site_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_colDailySiteJob</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Daily_Job_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Daily_Site_Summary</name>
        <label>Loop Daily Site Summary</label>
        <locationX>1017</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Daily_Site_Job_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_colDailySiteSummary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Daily_Site_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filtered_Daily_Job_Item</name>
        <label>Loop Filtered Daily Job Item</label>
        <locationX>1391</locationX>
        <locationY>2472</locationY>
        <collectionReference>Filter_Daily_Job_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_1st_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Store_to_Invoice_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice_Line_Items</name>
        <label>Create Invoice Line Items</label>
        <locationX>687</locationX>
        <locationY>3696</locationY>
        <connector>
            <targetReference>Update_Daily_Site_Job_Summary</targetReference>
        </connector>
        <inputReference>colInvoiceLineItem</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Daily_Job_Item</name>
        <label>Get Daily Job Item</label>
        <locationX>819</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Job_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Report__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteJob</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <sortField>Contract_Job_Item__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job</name>
        <label>Get Daily Site Job</label>
        <locationX>1017</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Site_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteSummary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job_Summary</name>
        <label>Get Daily Site Job Summary</label>
        <locationX>1248</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Summary_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <sortField>Summary_Report_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Site_Job_Summary</name>
        <label>Update Daily Site Job Summary</label>
        <locationX>687</locationX>
        <locationY>3816</locationY>
        <connector>
            <targetReference>Update_Daily_Site_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteSummary</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Daily_Site_Jobs</name>
        <label>Update Daily Site Jobs</label>
        <locationX>687</locationX>
        <locationY>3936</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteJob</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Invoiced</stringValue>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_Generated_in_LEX__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X0_minutes</name>
            <connector>
                <targetReference>Get_Daily_Site_Job_Summary</targetReference>
            </connector>
            <label>0 minutes</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colContractJobItem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colDailySiteJob</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colDailySiteSummary</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Daily_Job_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>invlineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invlineDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invlineGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invlineItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invlineServiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invlineTotalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invlineTotalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invlineUnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>invlineUOM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recInvoiceLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Line_Item__c</objectType>
    </variables>
</Flow>
