force-app/main/default/flows/Medical_Record_Expiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Medical_Expiry</name>
        <label>Medical Expiry</label>
        <locationX>182</locationX>
        <locationY>552</locationY>
        <actionName>Health_Medical_Records__c.Medical_Expiry</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_sent_via_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Resend_Flag_to_True_for_next_Run</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Health_Medical_Records__c.Medical_Expiry</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_C_S_for_Monitoring</name>
        <label>Notify C+S for Monitoring</label>
        <locationX>622</locationX>
        <locationY>768</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>support@cinch-strike.io</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WD: Medical Record Expiry - Scheduled Flow - For Monitoring on Next Run</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_if_sent_via_Flag</name>
        <label>Check if sent via Flag</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>No - Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resend_Medical_Record_Expiry_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reminder_to_False</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Expiry_Due_in_2_Months</name>
        <label>Is Expiry Due in 2 Months?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesDueIn2Months</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Today</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExpiryDateMinus60Days3Yr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Expiry</targetReference>
            </connector>
            <label>Yes Due in 2 Months</label>
        </rules>
        <rules>
            <name>Past_Due_but_for_Resend</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Resend_Medical_Record_Expiry_Reminder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medical_Expiry</targetReference>
            </connector>
            <label>Past Due but for Resend</label>
        </rules>
    </decisions>
    <description>11 JULY 2024: 
-</description>
    <environments>Default</environments>
    <formulas>
        <name>ExpiryDateMinus60Days3Yr</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Medical_Expiry_3yrs__c},-2)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Medical Record Expiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medical Record Expiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reminder_to_False</name>
        <label>Update Reminder to False</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Resend_Medical_Record_Expiry_Reminder__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Resend_Flag_to_True_for_next_Run</name>
        <label>Update Resend Flag to True for next Run</label>
        <locationX>622</locationX>
        <locationY>660</locationY>
        <connector>
            <targetReference>Notify_C_S_for_Monitoring</targetReference>
        </connector>
        <inputAssignments>
            <field>Resend_Medical_Record_Expiry_Reminder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Expiry_Due_in_2_Months</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000iFtpAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Resend_Medical_Record_Expiry_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Health_Medical_Records__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-04</startDate>
            <startTime>10:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
