force-app/main/default/flows/Process_Purchase_Request_after_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clone_Existing_PR_Record</name>
        <label>Clone Existing PR Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>NewPRRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PRRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_existing_PR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_PR_Record</name>
        <label>Set New PR Record</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>NewPRRecord.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPRRecord.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityOverAvailable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NEW_PR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_Over_Stocks</name>
        <label>Set Quantity Over Stocks</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>quantityOverAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FORMULA_ComputeQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Existing_PR_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Creation_Type</name>
        <label>Check Creation Type</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other Creation Types</defaultConnectorLabel>
        <rules>
            <name>Inventory_Item_Ordered_from_Base_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Creation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory Item - Ordered from Base Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quantity_Against_Available_Stocks_from_Base</targetReference>
            </connector>
            <label>Inventory Item - Ordered from Base Store</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quantity_Against_Available_Stocks_from_Base</name>
        <label>Check Quantity Against Available Stocks from Base</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Quantity less or equal</defaultConnectorLabel>
        <rules>
            <name>Quantity_Greater_than_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>PRRecord.Source_Store_Item__r.Stock_Available_formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quantity_Over_Stocks</targetReference>
            </connector>
            <label>Quantity Greater than Stock</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORMULA_ComputeQuantity</name>
        <dataType>Number</dataType>
        <expression>{!PRRecord.Quantity__c} - {!PRRecord.Source_Store_Item__r.Stock_Available_formula__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Process Purchase Request after Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Purchase Request after Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NEW_PR_Record</name>
        <label>Create NEW PR Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>NewPRRecord</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_existing_PR_Record</name>
        <label>Update existing PR Record</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_New_PR_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>PRRecord.Source_Store_Item__r.Stock_Available_formula__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Creation_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewPRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>PRRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>quantityOverAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
