force-app/main/default/flows/Purchase_Request_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dispute_Chatter</name>
        <label>Dispute Chatter</label>
        <locationX>1106</locationX>
        <locationY>1391</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Change_status_to_Dispute</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>strDisputeChatterMessageFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Destination_Store_Item</name>
        <label>Assign Destination Store Item</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Destination_Store_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Store_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Source_Store_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Source_Inventory_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Item__r.Preferred_Supplier_1st__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Service_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Item__r.Service_Item__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Destination_Store_Item_Completed</name>
        <label>Assign Destination Store Item</label>
        <locationX>1612</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Destination_Store_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Store_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Completion_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Store_Item</name>
        <label>Assign New Store Item</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Item__r.Preferred_Supplier_1st__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Items_equal_to_Quantity</name>
        <label>Assign PO Items (equal to Quantity)</label>
        <locationX>3042</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>strPOItemStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intPOItemCancelled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intPOItemStillFulfilled</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_PO_if_same_quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PO_Items_more_than_Quantity</name>
        <label>Assign PO Items (more than Quantity)</label>
        <locationX>3306</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>strPOItemStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Purchase_Order_Item__r.PO_Item_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intPOItemCancelled</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>intPOItemStillFulfilled</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PO_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_status_to_Dispute</name>
        <label>Change status to Dispute</label>
        <locationX>1744</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispute</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PR_Category_Assorted</name>
        <label>PR Category = Assorted</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assorted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Auto_PR</name>
        <label>Remove Auto-PR</label>
        <locationX>3174</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>Get_Destination_Store_Item.Active_Auto_Purchase_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Destination_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_for_Stock_Take</name>
        <label>Update for Stock Take</label>
        <locationX>1986</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inventory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Item__r.Preferred_Supplier_1st__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Destination_Store_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_Store_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Completion_Status</name>
        <label>Check Completion Status</label>
        <locationX>1744</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Type_of_Transaction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Accepted</defaultConnectorLabel>
        <rules>
            <name>Missing_or_Defective</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Defective</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Purchase</targetReference>
            </connector>
            <label>Missing or Defective</label>
        </rules>
        <rules>
            <name>Dispute_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Completion_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispute Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_to_Dispute</targetReference>
            </connector>
            <label>Dispute Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Active_PR</name>
        <label>Check if Active PR</label>
        <locationX>3306</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Purchase_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_active_PR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Store_Item__r.Active_Auto_Purchase_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Auto_PR</targetReference>
            </connector>
            <label>Yes, active PR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PO_Item</name>
        <label>Check PO Item</label>
        <locationX>3306</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_if_Active_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No PO Item</defaultConnectorLabel>
        <rules>
            <name>PO_Item_same_with_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Item__r.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO_Items_equal_to_Quantity</targetReference>
            </connector>
            <label>PO Item same with Quantity</label>
        </rules>
        <rules>
            <name>PO_Item_more_than_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order_Item__r.Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO_Items_more_than_Quantity</targetReference>
            </connector>
            <label>PO Item more than Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>2030</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Destination_Store_not_existing</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>For_Ordering</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Ordering</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quantity_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reset_Receipt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_Splits_from_PO_Receipt</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Ordering</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Destination_Store_Item_exists</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_PO_Item</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Destination_Inventory_Item</name>
        <label>If Destination Inventory Item?</label>
        <locationX>2382</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DestinationInventory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Store_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destination_Item_PR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Destination_Store_Item_exists</name>
        <label>is Destination Store Item exists?</label>
        <locationX>1744</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Completion_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_withDestinationItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destination_Store_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Destination_Store_Item_Completed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Destination_Store_not_existing</name>
        <label>is Destination Store not existing?</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>PR_Category_Assorted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Item</defaultConnectorLabel>
        <rules>
            <name>Not_Existing_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destination_Store_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Store_Item</targetReference>
            </connector>
            <label>Not Existing Item</label>
        </rules>
        <rules>
            <name>Existing_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Destination_Store_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Destination_Store_Item</targetReference>
            </connector>
            <label>Existing Item</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_User_existing</name>
        <label>is User existing?</label>
        <locationX>1238</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Change_status_to_Dispute</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistingUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Purchase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dispute_Chatter</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Transaction</name>
        <label>Type of Transaction</label>
        <locationX>2250</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Purchase_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.From_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Destination_Store_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destination_Item_PO</targetReference>
            </connector>
            <label>Purchase Order</label>
        </rules>
        <rules>
            <name>Stock_Take</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Store__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Source_Store__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.From_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Source_Item_Stock_Take</targetReference>
            </connector>
            <label>Stock Take</label>
        </rules>
        <rules>
            <name>Purchase_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Source_Store__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Destination_Store__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.From_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Source_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Source_Item_PR</targetReference>
            </connector>
            <label>Purchase Request</label>
        </rules>
    </decisions>
    <description>1 April 2023: Removed approval related early stages</description>
    <environments>Default</environments>
    <formulas>
        <name>intSourceItemStock</name>
        <dataType>Number</dataType>
        <expression>0 - {!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>strDisputeChatterMessageFormula</name>
        <dataType>String</dataType>
        <expression>&quot;@[&quot; + {!Get_User_Purchase.Id} +&quot;] @[&quot; + {!$Record.Purchase_Request_Approver__c} +&quot;] Purchase Request &quot; + {!$Record.Name} + &quot; status changed to Dispute.  Dispute Reason: &quot; + {!$Record.Dispute_Reason__c}</expression>
    </formulas>
    <interviewLabel>Purchase Request – AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request – AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Destination_Item_PO</name>
        <label>Destination Item - PO</label>
        <locationX>1722</locationX>
        <locationY>1271</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Reason__c</field>
            <value>
                <stringValue>Ordered Stock</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Item__c</field>
            <value>
                <elementReference>$Record.Destination_Store_Item__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Destination_Item_PR</name>
        <label>Destination Item - PR</label>
        <locationX>2250</locationX>
        <locationY>1511</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_Active_PR</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Reason__c</field>
            <value>
                <stringValue>Requested from Roma Base</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Item__c</field>
            <value>
                <elementReference>$Record.Destination_Store_Item__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Source_Item_PR</name>
        <label>Source Item - PR</label>
        <locationX>2382</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>If_Destination_Inventory_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>intSourceItemStock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Reason__c</field>
            <value>
                <stringValue>Requested by Store</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Item__c</field>
            <value>
                <elementReference>$Record.Source_Store_Item__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Source_Item_Stock_Take</name>
        <label>Source Item - Stock Take</label>
        <locationX>1986</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Update_for_Stock_Take</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>intSourceItemStock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stock_Reason__c</field>
            <value>
                <stringValue>Stock Take</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store_Item__c</field>
            <value>
                <elementReference>$Record.Source_Store_Item__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Destination_Store_Item</name>
        <label>Get Destination Store Item</label>
        <locationX>2030</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Inventory_Item</name>
        <label>Get Source Inventory Item</label>
        <locationX>2030</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Destination_Store_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Purchase</name>
        <label>Get User - Purchase</label>
        <locationX>1238</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_User_existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Purchase</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e90000000U2Lx</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_PO_if_same_quantity</name>
        <label>Cancel PO if same quantity</label>
        <locationX>3042</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_PO_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Quantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Destination_Item</name>
        <label>Update Destination Item</label>
        <locationX>3174</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <inputReference>Get_Destination_Store_Item</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Item</name>
        <label>Update PO Item</label>
        <locationX>3042</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Check_if_Active_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>PO_Item_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Items_Cancelled__c</field>
            <value>
                <elementReference>intPOItemCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Items_Still_Pending__c</field>
            <value>
                <elementReference>intPOItemStillFulfilled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Item_Status__c</field>
            <value>
                <elementReference>strPOItemStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Request</name>
        <label>Update Purchase Request</label>
        <locationX>2030</locationX>
        <locationY>2255</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Source_Inventory_Item</targetReference>
        </connector>
        <object>Purchase_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>PR_Splits_from_PO_Receipt</name>
        <label>PR Splits from PO Receipt</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <flowName>Purchase_Request_Splits_from_PO_Receipt_INVOCABLE</flowName>
        <inputAssignments>
            <name>varInputPurchaseRequest</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>intPOItemCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Purchase_Order_Item__r.No_of_Items_Cancelled__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>intPOItemStillFulfilled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Purchase_Order_Item__r.No_of_Items_Still_Pending__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>strApprovalComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strApproveReject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPOItemStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </variables>
</Flow>
