force-app/main/default/flows/Purchase_Request_Stock_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_PR_Stock_fields</name>
        <label>Update PR Stock fields</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intQuantityDifference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Stock_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Adjustment_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PR_Stock</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actual_Qty_Current_Qty</name>
        <label>Actual Qty != Current Qty</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_not_equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>intCurrentQuantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PR_Stock_fields</targetReference>
            </connector>
            <label>Yes, not equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Related_Purchase_Request</name>
        <label>has Related Purchase Request</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_withPR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Purchase_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Purchase_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>25 JULY 2022: Changed the integer variables to decimal(2)</description>
    <environments>Default</environments>
    <formulas>
        <name>intCurrentQuantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Store_Item__r.Stock_On_Hand__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>intQuantityDifference</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Actual_Quantity__c} - {!intCurrentQuantity}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Purchase Request Stock – AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request Stock – AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PR_Stock</name>
        <label>Update PR Stock</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>has_Related_Purchase_Request</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Request</name>
        <label>Update Purchase Request</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>$Record.Purchase_Request_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actual_Qty_Current_Qty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Adjustment_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Actual_Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Purchase_Request_Stock__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
