force-app/main/default/flows/Purchase_Request_BEFORE_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Populate_PO_Number</name>
        <label>Populate PO Number</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Purchase_Order__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Item.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_Asset</name>
        <label>Store Asset</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Order__r.WD_Asset__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Creation_Type</name>
        <label>Check Creation Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>is_WO_has_value_and_blank_Asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other outcomes</defaultConnectorLabel>
        <rules>
            <name>Inventory_Item_from_Local_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Creation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inventory Item - Taken from Local Unit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Completed</targetReference>
            </connector>
            <label>Inventory Item from Local Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New_Record</name>
        <label>is New Record?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Need_to_Update_PO_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_newrecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Creation_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_WO_has_value_and_blank_Asset</name>
        <label>is WO has value and blank Asset?</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Update_PO_Number</name>
        <label>Need to Update PO Number?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_updatePO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PO_Number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Purchase_Order__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>23 MARCH 2022: Added logic to update PO Number</description>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>varItemName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK( {!$Record.New_Item_Name__c} )) &amp;&amp; ISBLANK( {!$Record.Item__c}) , {!$Record.New_Item_Name__c}, {!$Record.Item__r.Name} )</expression>
    </formulas>
    <interviewLabel>Purchase Request – AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request – BEFORE - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PO_Item</name>
        <label>Get PO Item</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_PO_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>varItemName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status_to_Completed</name>
        <label>Set Status to Completed</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>is_WO_has_value_and_blank_Asset</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_New_Record</targetReference>
        </connector>
        <object>Purchase_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
