force-app/main/default/flows/Purchase_Order_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>For Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PO_Approver</name>
        <label>Assign PO Approver</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PO_Approver.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Completed</name>
        <label>Status = Completed</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PO_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Partially_Fulfilled</name>
        <label>Status = Partially Fulfilled</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Submitted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Submitted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Status_of_PO_Items</name>
        <label>Check Status of PO Items</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Still Waiting</defaultConnectorLabel>
        <rules>
            <name>All_Fulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>intTotal_Fulfilled_NonPRRelated_Quantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FORMULA_PO_Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Completed</targetReference>
            </connector>
            <label>All Fulfilled</label>
        </rules>
        <rules>
            <name>Partially_Fulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Quantity__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>intTotal_Fulfilled_NonPRRelated_Quantity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Quantity_Fulfilled__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Partially_Fulfilled</targetReference>
            </connector>
            <label>Partially Fulfilled</label>
        </rules>
        <rules>
            <name>Sent_to_Supplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent to Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Children_PO_Items_to_Ordered</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent to Supplier</label>
        </rules>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Approver</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>For_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exceeds_Maximum_Limit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_PO_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Approval</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_PO_Items</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_PO_Approver_found</name>
        <label>is PO Approver found?</label>
        <locationX>974</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PO_Approver</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PO_Approver</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>25 JULY 2022: Changed variable intTotal_Fulfilled_NonPRRelated_Quantity to decimal(2)</description>
    <environments>Default</environments>
    <formulas>
        <name>curPriceLimit</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Total_Price_inc_GST_rollup__c} &gt; 15000, 15000, 10000)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FORMULA_PO_Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>intTotal_Fulfilled_NonPRRelated_Quantity</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Total_Quantity_Fulfilled__c} + {!$Record.Total_Non_PR_Related_Quantity__c} + {!$Record.Total_Quantity_Cancelled__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Purchase Order - AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order - AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PO_Approver</name>
        <label>Get PO Approver</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_PO_Approver_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order_Approver__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order_Pre_Approval_Limit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>curPriceLimit</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Children_PO_Items_to_Ordered</name>
        <label>Update Children PO Items to Ordered</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Purchase_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>No_of_Items_Received__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>PO_Item_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Non-PR Related</stringValue>
            </value>
        </filters>
        <filters>
            <field>PO_Item_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Item_Status__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Purchase_Order</name>
        <label>Update Purchase Order</label>
        <locationX>974</locationX>
        <locationY>1007</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_PO_Items</name>
        <label>Update Related PO Items</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Related_Purchase_Requests</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PO_Item_Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Purchase_Requests</name>
        <label>Update Related Purchase Requests</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_of_PO_Items</targetReference>
        </connector>
        <object>Purchase_Order__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
