force-app/main/default/flows/Purchase_Order_Item_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Initial_Values</name>
        <label>Assign Initial Values</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tax_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtTaxCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cost_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_PR.Cost_Price_GST_exc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Tax_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax_Rate</name>
        <label>Assign Tax Rate</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Tax_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intTaxRate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Total_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Price</name>
        <label>Assign Total Price</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quantity_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfilled</name>
        <label>Fulfilled</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Partially_Fulfilled</name>
        <label>Partially Fulfilled</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Purchase_Order.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Item_Cancelled</name>
        <label>Update PO Item (Cancelled)</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_of_Items_Cancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_of_Items_Still_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Item_Non_PR</name>
        <label>Update PO Item (Non-PR)</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Item_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-PR Related</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>intTotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_of_PR_Items__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_of_Items_Still_Pending__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PO_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quantity_Received</name>
        <label>Check Quantity Received</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_PO_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Received_Less_than_Expected_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intNoOfItems</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_of_Items_Received__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partially_Fulfilled</targetReference>
            </connector>
            <label>Received Less than Expected Quantity</label>
        </rules>
        <rules>
            <name>Received_Equal_To_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intNoOfItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfilled</targetReference>
            </connector>
            <label>Received Equal To Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_New_Record</name>
        <label>is New Record?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Assign_Total_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_newrecord</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_PR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>with_Related_Purchase_Request</name>
        <label>with Related Purchase Request?</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Not Applicable</defaultConnectorLabel>
        <rules>
            <name>Yes_withPR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PO_Item_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Non-PR Related</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Item_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Parent_Purchase_Order</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Cancelled_PO_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PO_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Item_Cancelled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cancelled PO Item</label>
        </rules>
        <rules>
            <name>Non_PR_Related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PO_Item_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non-PR Related</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Item_Non_PR</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Non-PR Related</label>
        </rules>
    </decisions>
    <description>25 JULY 2022: Changed intNoOfItems to decimal(2)</description>
    <environments>Default</environments>
    <formulas>
        <name>intNoOfItems</name>
        <dataType>Number</dataType>
        <expression>{!$Record.No_of_Items_Received__c} + {!$Record.No_of_Items_Cancelled__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>intTaxRate</name>
        <dataType>Number</dataType>
        <expression>IF( ISPICKVAL( {!$Record.Tax_Code__c}, &apos;GST Free Expenses&apos;), 0, 10)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>intTotalPrice</name>
        <dataType>Currency</dataType>
        <expression>IF(ISPICKVAL({!$Record.Tax_Code__c}, &apos;GST on Expenses&apos;), (({!$Record.Cost_Price__c} * {!$Record.Tax_Rate__c}) + {!$Record.Cost_Price__c}) * {!$Record.Quantity__c} , {!$Record.Cost_Price__c} * {!$Record.Quantity__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>txtTaxCode</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Inventory_Item__c}), IF(ISPICKVAL({!$Record.Tax_Code__c}, &apos;&apos;), &apos;GST on Expenses&apos;, TEXT({!$Record.Tax_Code__c})), TEXT({!$Record.Inventory_Item__r.Tax_Code__c}))</expression>
    </formulas>
    <interviewLabel>Purchase Order Item - AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Item - AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_PR</name>
        <label>Get Related PR</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Item_Name_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Supplier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__r.Supplier__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Parent_Purchase_Order</name>
        <label>Parent Purchase Order</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_New_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_PO</name>
        <label>Update Parent PO</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Update_PO_Item</targetReference>
        </connector>
        <inputReference>Parent_Purchase_Order</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PO_Item</name>
        <label>Update PO Item</label>
        <locationX>842</locationX>
        <locationY>1823</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>with_Related_Purchase_Request</targetReference>
        </connector>
        <object>Purchase_Order_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
