force-app/main/default/flows/Purchase_Order_Item_Recalculate_Pending_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Calculate_of_Receipt_Items</name>
        <label>Calculate # of Receipt Items</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>noItemsReceipt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Check_per_PR.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_per_PR</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>noItemsStillPending</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity__c} - ({!noItemsReceipt} + {!$Record.No_of_Items_Cancelled__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Purchase Order Item - Recalculate Pending Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Order Item - Recalculate Pending Items</label>
    <loops>
        <name>Check_per_PR</name>
        <label>Check per PR</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_For_Ordering_PR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_of_Receipt_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_For_Ordering_PR</name>
        <label>Get For Ordering PR</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_per_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>For Ordering</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Order_Item</name>
        <label>Update Purchase Order Item</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Items_Still_Pending__c</field>
            <value>
                <elementReference>noItemsStillPending</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalculate_Pending_Items__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_For_Ordering_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recalculate_Pending_Items__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Purchase_Order_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
    <variables>
        <name>noItemsReceipt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
