force-app/main/default/flows/Purchase_Request_DELETE_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_records</name>
        <label>Found records?</label>
        <locationX>323</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_records_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_PR_Stock</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Related_PR_Stocks</targetReference>
            </connector>
            <label>Yes, records found</label>
        </rules>
    </decisions>
    <interviewLabel>Purchase Request – DELETE - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request – DELETE - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Related_PR_Stocks</name>
        <label>Delete Related PR - Stocks</label>
        <locationX>332</locationX>
        <locationY>581</locationY>
        <inputReference>Get_Related_PR_Stock</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Related_PR_Stock</name>
        <label>Get Related PR - Stock</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Request_Stock__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Get_Related_PR_Stock</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Purchase_Request__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
