force-app/main/default/flows/Purchase_Request_Splits_from_PO_Receipt_INVOCABLE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>colClonedPurchaseRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recClonedPurchaseRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Each_Cloned_PR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clone_PR_values</name>
        <label>Assign Clone PR values</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>intQtyFromClonedPRs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Each_Cloned_PR.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recClonedPurchaseRequest.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Each_Cloned_PR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recClonedPurchaseRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recClonedPurchaseRequest.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reset Receipt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_of_Pending_Items</name>
        <label>Assign No of Pending Items</label>
        <locationX>1038</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>intNoPendingItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cloned_PRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Quantity_Received_0</name>
        <label>Clear Quantity Received</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varInputPurchaseRequest.Quantity_Received__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInputPurchaseRequest.Purchase_Order_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_PO_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Input_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_PR_Record</name>
        <label>Clone PR Record</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varNewPurchaseRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPurchaseRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_PR_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Item_to_Picklist</name>
        <label>Item to Picklist</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varInputPurchaseRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strPRStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Quantity_Received_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_PR_Quantity</name>
        <label>Update Existing PR Quantity</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varInputPurchaseRequest.Quantity__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Quantity_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quantity_Received</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_PR_Record</name>
        <label>Update New PR Record</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varNewPurchaseRequest.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Quantity_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewPurchaseRequest.Quantity_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Quantity_Received__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewPurchaseRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strPRStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Parent_PR_Fields</name>
        <label>Update Parent PR Fields</label>
        <locationX>1038</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varInputPurchaseRequest.Quantity__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>intQtyFromClonedPRs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_No_of_Pending_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quantity_Received</name>
        <label>Check Quantity Received</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Quantity Received Greater than Quantity</defaultConnectorLabel>
        <rules>
            <name>Same_as_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputPurchaseRequest.Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varInputPurchaseRequest.Quantity_Received__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Item_to_Picklist</targetReference>
            </connector>
            <label>Same as Quantity</label>
        </rules>
        <rules>
            <name>Less_Than_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputPurchaseRequest.Quantity_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varInputPurchaseRequest.Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_PR_Record</targetReference>
            </connector>
            <label>Less Than Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_PO_Item_null</name>
        <label>is PO Item null?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Parent_PO_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_POItemnull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputPurchaseRequest.Purchase_Order_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PO_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Reset_Receipt</name>
        <label>is Reset Receipt?</label>
        <locationX>1180</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_resetreceipt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputPurchaseRequest.Reset_Receipt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cloned_PRs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Received_Filled_Up</name>
        <label>Quantity Received Filled Up?</label>
        <locationX>747</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>is_Reset_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Quantity_Received_Filled_Up_choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInputPurchaseRequest.Quantity_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_PO_Item_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>with_Cloned_PRs</name>
        <label>with Cloned PRs?</label>
        <locationX>1038</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_PR_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_clonedPRs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cloned_PRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Each_Cloned_PR</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>13 OCT 2022: Removed Update of PO Item on quantity receipt.</description>
    <environments>Default</environments>
    <formulas>
        <name>strPRStatus</name>
        <dataType>String</dataType>
        <expression>IF({!varInputPurchaseRequest.Service_PO__c}, &apos;Completed&apos;, &apos;Pick List&apos;)</expression>
    </formulas>
    <interviewLabel>Purchase Request Splits from PO Receipt - INVOCABLE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request Splits from PO Receipt - INVOCABLE</label>
    <loops>
        <name>Each_Cloned_PR</name>
        <label>Each Cloned PR</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Cloned_PRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Clone_PR_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_PR_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Purchase_Request</name>
        <label>Create New Purchase Request</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Update_Existing_PR_Quantity</targetReference>
        </connector>
        <inputReference>varNewPurchaseRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cloned_PRs</name>
        <label>Get Cloned PRs</label>
        <locationX>1038</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>with_Cloned_PRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Purchase_Order_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Destination_Store__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Destination_Store__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PO_Item</name>
        <label>Get PO Item</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_PO_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Purchase_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Item_Name_Formula__c</elementReference>
            </value>
        </filters>
        <object>Purchase_Order_Item__c</object>
        <outputAssignments>
            <assignToReference>varInputPurchaseRequest.Purchase_Order_Item__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Parent_PO_Item</name>
        <label>Parent PO Item</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Quantity_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Order_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cloned_PRs</name>
        <label>Update Cloned PRs</label>
        <locationX>1038</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Parent_PR</targetReference>
        </connector>
        <inputReference>colClonedPurchaseRequest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Input_Purchase_Request</name>
        <label>Update Input Purchase Request</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Update_Parent_PO_Item</targetReference>
        </connector>
        <inputReference>varInputPurchaseRequest</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_PO</name>
        <label>Update Parent PO</label>
        <locationX>1038</locationX>
        <locationY>1790</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Purchase_Order__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_PO_Item</name>
        <label>Update Parent PO Item</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Parent_PO_Item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Recalculate_Pending_Items__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_PO_Item_reset</name>
        <label>Update Parent PO Item</label>
        <locationX>1038</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Update_Parent_PO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Purchase_Order_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_of_Items_Still_Pending__c</field>
            <value>
                <elementReference>intNoPendingItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Item_Status__c</field>
            <value>
                <stringValue>Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Order_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_PR</name>
        <label>Update Parent PR</label>
        <locationX>1038</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Parent_PO_Item_reset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>varInputPurchaseRequest.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reset_Receipt__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>For Ordering</stringValue>
            </value>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quantity_Received</name>
        <label>Update Quantity Received</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Clear_Quantity_Received_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInputPurchaseRequest.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity_Received__c</field>
        </inputAssignments>
        <object>Purchase_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>621</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quantity_Received_Filled_Up</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colClonedPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>intNoPendingItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intQtyFromClonedPRs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recClonedPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>varInputPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>varNewPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
</Flow>
