force-app/main/default/flows/Purchase_Request_Approval_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PR_Canceled_Email_Alert</name>
        <label>PR - Canceled Email Alert</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>Purchase_Request__c.PR_Canceled_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.PR_Canceled_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PR_For_Item_Review_Email_Alert</name>
        <label>PR For Item Review Email Alert</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <actionName>Purchase_Request__c.PR_For_Item_Review_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.PR_For_Item_Review_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PR_Purchasing_Review_Email_Alert</name>
        <label>PR - Purchasing Review Email Alert</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>Purchase_Request__c.PR_Purchasing_Review_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.PR_Purchasing_Review_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PR_Review_Complete_Email_Alert</name>
        <label>PR Review Complete Email Alert</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>Purchase_Request__c.PR_Review_Complete_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.PR_Review_Complete_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>PR_Submitted_Email_Alert</name>
        <label>PR - Submitted Email Alert</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Purchase_Request__c.PR_Submitted_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.PR_Submitted_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_to_Multi_Level_Approval</name>
        <label>Submit to Multi Level Approval</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Update_Comments_For_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Multi_Approval_Purchase_Request_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <elementReference>$Record.Approval_Comments__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_First_Approver_from_Unit</name>
        <label>Assign First Approver from Unit</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Destination_Store__r.First_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DRAFT_Evaluate_Purchase_Request_Approvers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_For_Pick_List</name>
        <label>Set Status to For Pick List</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pick List</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetStatusForOrdering</name>
        <label>Set Status to For Ordering</label>
        <locationX>2690</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For Ordering</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Approvers_For_Approval</name>
        <label>Update Approvers - For Approval</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Second_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DRAFT_Evaluate_Purchase_Request_Approvers.PRRecord.Second_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Third_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DRAFT_Evaluate_Purchase_Request_Approvers.PRRecord.Third_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fourth_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DRAFT_Evaluate_Purchase_Request_Approvers.PRRecord.Fourth_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Comments_and_Approvers_Review_Complete</name>
        <label>Update Comments and Approvers - Review Complete</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Second_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Approval_Evaluate_Purchase_Request_Approvers.PRRecord.Second_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Third_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Approval_Evaluate_Purchase_Request_Approvers.PRRecord.Third_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fourth_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Approval_Evaluate_Purchase_Request_Approvers.PRRecord.Fourth_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Request_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Review_Complete_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Comments_Canceled</name>
        <label>Update Comments - Canceled</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CanceledComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Request_Approver__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PR_Canceled_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Comments_For_Approval</name>
        <label>Update Comments  - For Approval</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Request_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Second_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Comments_Item_Review</name>
        <label>Update Comments - Item Review</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PR_For_Item_Review_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Comments_Purchasing_Review</name>
        <label>Update Comments - Purchasing Review</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>PR_Purchasing_Review_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Process_Approval_Comments_Submitted</name>
        <label>Update Process Approval Comments - Submitted</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Process_Approval_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubmittedComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Purchase_Request_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PR_Submitted_Email_Alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_Final_Action_after_Cost_Approved</name>
        <label>Assess Final Action after Cost Approved</label>
        <locationX>2030</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_For_Pick_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Pick List</defaultConnectorLabel>
        <rules>
            <name>Send_Directly_to_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_Item_at_Unit_Source_Store.Send_Directly_To_Order__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>SetStatusForOrdering</targetReference>
            </connector>
            <label>Send Directly to Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>N/A</defaultConnectorLabel>
        <rules>
            <name>Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Approver_from_Unit</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Draft</label>
        </rules>
        <rules>
            <name>Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Process_Approval_Comments_Submitted</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Submitted</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Comments_Canceled</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Purchasing_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Purchasing Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Comments_Purchasing_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Purchasing Review</label>
        </rules>
        <rules>
            <name>For_Approval_Review_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Approval - Review Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Approval_Evaluate_Purchase_Request_Approvers</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Approval - Review Complete</label>
        </rules>
        <rules>
            <name>For_Item_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Item Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Comments_Item_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Item Review</label>
        </rules>
        <rules>
            <name>For_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>For Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_to_Multi_Level_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>For Approval</label>
        </rules>
        <rules>
            <name>Cost_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cost_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Destination_Unit_has_Source_Store</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cost Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Destination_Unit_has_Source_Store</name>
        <label>Destination Unit has Source Store?</label>
        <locationX>2459</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>SetStatusForOrdering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No source store</defaultConnectorLabel>
        <rules>
            <name>Yes_has_Source_Store</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Destination_Store__r.Source_Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Item_at_Unit_Source_Store</targetReference>
            </connector>
            <label>Yes has Source Store</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Inventory_Item_at_Unit_s_Source_Store</name>
        <label>Has Inventory Item at Unit&apos;s Source Store</label>
        <locationX>2228</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetStatusForOrdering</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Inventory_Item_at_Unit_Source_Store</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assess_Final_Action_after_Cost_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>intSourceItemStock</name>
        <dataType>Number</dataType>
        <expression>0 - {!$Record.Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Purchase Request Approval Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase Request Approval Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Destination_Unit_Inventory_Item</name>
        <label>Destination Unit Inventory Item</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Inventory_Item_at_Unit_Source_Store</name>
        <label>Inventory Item at Unit Source Store</label>
        <locationX>2228</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Inventory_Item_at_Unit_s_Source_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination_Store__r.Source_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Record-&gt;Source Store is populated from the Inventory Item selected</description>
        <name>PR_Source_Store_Inventory_Item</name>
        <label>PR Source Store Inventory Item</label>
        <locationX>1502</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Destination_Unit_Inventory_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Store_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source_Store__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Request</name>
        <label>Update Purchase Request</label>
        <locationX>1502</locationX>
        <locationY>1679</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PR_Source_Store_Inventory_Item</targetReference>
        </connector>
        <object>Purchase_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>DRAFT_Evaluate_Purchase_Request_Approvers</name>
        <label>DRAFT - Evaluate Purchase Request Approvers</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Approvers_For_Approval</targetReference>
        </connector>
        <flowName>Evaluate_Purchase_Request_Approvers</flowName>
        <inputAssignments>
            <name>PRRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>For_Approval_Evaluate_Purchase_Request_Approvers</name>
        <label>For Approval - Evaluate Purchase Request Approvers</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Comments_and_Approvers_Review_Complete</targetReference>
        </connector>
        <flowName>Evaluate_Purchase_Request_Approvers</flowName>
        <inputAssignments>
            <name>PRRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ApprovedComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;user-select: auto;&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt; - {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!$User.LastName}: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Approved - &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!$Record.Approval_Comments__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;===&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!$Record.Process_Approval_Comments__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CanceledComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;user-select: auto;&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt; - {!$User.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!$User.LastName}: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;Canceled - &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;{!$Record.Approval_Comments__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); user-select: auto;&quot;&gt;===&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!$Record.Process_Approval_Comments__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubmittedComments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;strong style=&quot;user-select: auto;&quot;&gt;{!$Flow.CurrentDateTime}&lt;/strong&gt; - &lt;strong style=&quot;user-select: auto;&quot;&gt;{!$User.FirstName} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); user-select: auto;&quot;&gt;{!$User.LastName}:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); user-select: auto;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); user-select: auto;&quot;&gt;Submitted&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;===&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;user-select: auto;&quot;&gt;{!$Record.Process_Approval_Comments__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>intPOItemCancelled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Purchase_Order_Item__r.No_of_Items_Cancelled__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>intPOItemStillFulfilled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Purchase_Order_Item__r.No_of_Items_Still_Pending__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>strApprovalComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strApproveReject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strPOItemStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Cancelled</stringValue>
        </value>
    </variables>
</Flow>
