force-app/main/default/flows/Quote_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification</name>
        <label>Email Notification</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <actionName>Purchase_Request__c.Purchase_Request_For_Pricing_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Related_PR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Related_PR.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Purchase_Request__c.Purchase_Request_For_Pricing_Approval_Email_Alert</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>colPurchaseRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recPuchaseRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Approver_existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_to_For_Pricing_Approval</name>
        <label>Update Status to For Pricing Approval</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>recPuchaseRequest.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>For Pricing Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPuchaseRequest.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_PR.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recPuchaseRequest.Supplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_Approver_existing</name>
        <label>is Approver existing?</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_PR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_withApprover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_PR.Purchase_Request_Approver__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Status_Changed_to_Done</name>
        <label>is Status Changed to Done?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Purchase_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>22 APR 2020: Criteria if approver is null.</description>
    <formulas>
        <name>strBodyMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Hi &quot; + {!Loop_Related_PR.Purchase_Request_Approver__r.Name} + &quot; - The &quot; + {!Loop_Related_PR.Name} + &quot; is for pricing approval. Wild Desert&quot;</expression>
    </formulas>
    <formulas>
        <name>strSubjectMessage</name>
        <dataType>String</dataType>
        <expression>{!Loop_Related_PR.Name} + &quot;: For Pricing Approval&quot;</expression>
    </formulas>
    <interviewLabel>Quote – AFTER – Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote – AFTER – Automation</label>
    <loops>
        <name>Loop_Related_PR</name>
        <label>Loop Related PR</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Purchase_Request</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Status_to_For_Pricing_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Purchase_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Purchase_Request</name>
        <label>Get Related Purchase Request</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_PR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quoted_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Quoting</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Purchase_Request</name>
        <label>Update Purchase Request</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputReference>colPurchaseRequest</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Status_Changed_to_Done</targetReference>
        </connector>
        <object>Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>recPuchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
</Flow>
