force-app/main/default/flows/Quote_SCREEN_Unified_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>622</locationX>
        <locationY>1886</locationY>
        <actionName>c:OpenRecordAfterFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecordAfterFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Item_Master_Collection</name>
        <label>Add to Item Master Collection</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colItemMaster</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Item_Master_Single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Item_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Purchase_Request_Collection</name>
        <label>Add to Purchase Request Collection</label>
        <locationX>930</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colPurchaseRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Purchase_Request_single</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_htmlNoteToSupplierRow</name>
        <label>Append to htmlNoteToSupplierRow</label>
        <locationX>1018</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>htmlNoteToSupplierRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>htmlNoteToSupplier_PR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_htmlQuoteItemRow_IM</name>
        <label>Append to htmlQuoteItemRow</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>htmlQuoteItemRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>htmlQuoteItem_ItemMaster</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curGrandTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_each_Item_Master.Cost_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Item_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_to_htmlQuoteItemRow_PR</name>
        <label>Append to htmlQuoteItemRow</label>
        <locationX>1150</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>htmlQuoteItemRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>htmlQuoteItem_PR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>curGrandTotalPrice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_Notes_for_Supplier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Message</name>
        <label>Assign Error Message</label>
        <locationX>2514</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You do not have access to generate the quote.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Multiple_Records</name>
        <label>Count Multiple Records</label>
        <locationX>754</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>countMasterItemMultiple</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colItemMaster</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countPurchaseRequestMultiple</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>colPurchaseRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_input_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_multiple_records_MI</name>
        <label>Set as multiple records</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isMultiple</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_each_Item_Master</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_multiple_records_PR</name>
        <label>Set as multiple records</label>
        <locationX>1194</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isMultiple</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_each_Purchase_Request</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_input_value</name>
        <label>Check input value</label>
        <locationX>754</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Not applicable</defaultConnectorLabel>
        <rules>
            <name>Item_Master_single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Item_Master_Single</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Item_Master_Collection</targetReference>
            </connector>
            <label>Item Master - single</label>
        </rules>
        <rules>
            <name>Item_Master_multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countMasterItemMultiple</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_multiple_records_MI</targetReference>
            </connector>
            <label>Item Master - multiple</label>
        </rules>
        <rules>
            <name>Purchase_Request_single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Purchase_Request_single</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Purchase_Request_Collection</targetReference>
            </connector>
            <label>Purchase Request - single</label>
        </rules>
        <rules>
            <name>Purchase_Request_multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countPurchaseRequestMultiple</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_multiple_records_PR</targetReference>
            </connector>
            <label>Purchase Request - multiple</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Notes_for_Supplier</name>
        <label>has Notes for Supplier</label>
        <locationX>1150</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Loop_each_Purchase_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_NoteToSupplier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Purchase_Request.Details_for_Supplier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_to_htmlNoteToSupplierRow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_records</name>
        <label>How many records?</label>
        <locationX>754</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Success_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Multiple</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMultiple</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Quote</targetReference>
            </connector>
            <label>Single</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_User_allowed_to_generate_quote</name>
        <label>is User allowed to generate quote?</label>
        <locationX>1634</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_allowedtogenerate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Generate_Quote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Item_Master_Single</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>htmlNoteToSupplier</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!htmlNoteToSupplierRow}), &quot;&quot;, &quot;&lt;p&gt;Notes to Supplier:&lt;/p&gt;&lt;ul&gt;&quot; + {!htmlNoteToSupplierRow} + &quot;&lt;/ul&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>htmlNoteToSupplier_PR</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;li&gt; &lt;b&gt;[&quot; + {!Loop_each_Purchase_Request.Item_Name_Formula__c} +&quot;]&lt;/b&gt; &quot; + {!Loop_each_Purchase_Request.Details_for_Supplier__c} + &quot;&lt;/li&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>htmlQuoteItem</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;table style=&apos;width:100%;&apos; cellspacing=&apos;0px&apos;&gt;  &lt;tr&gt;    &lt;th style=&apos;width:38%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Item Name&lt;/th&gt;  &lt;th style=&apos;width:10%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Part Number&lt;/th&gt;    &lt;th style=&apos;width:17%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Cost Category&lt;/th&gt;&lt;th style=&apos;width:10%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Quantity&lt;/th&gt;&lt;th style=&apos;width:12%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Cost Price&lt;/th&gt;&lt;th style=&apos;width:13%;text-align:center;border:1px solid;padding:10px;&apos;&gt;Total Cost Price&lt;/th&gt;  &lt;/tr&gt;&quot; + {!htmlQuoteItemRow} + &quot;&lt;tr&gt;    &lt;td colspan=&apos;6&apos;&gt;&amp;nbsp;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td colspan=&apos;6&apos; style=&apos;text-align:right;padding:10px;&apos;&gt;&lt;b&gt;GRAND TOTAL PRICE: &quot; + {!txtGrandTotalPrice} +&quot;&lt;/b&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>htmlQuoteItem_ItemMaster</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tr&gt;    &lt;td style=&apos;text-align:left;border:1px solid;padding: 5px;&apos;&gt;&quot; + {!Loop_each_Item_Master.Name} + &quot;&lt;/td&gt;  &lt;td style=&apos;text-align:left;border:1px solid;padding: 5px;&apos;&gt;&quot; + {!Loop_each_Item_Master.Supplier_Part_Number__c} + &quot;&lt;/td&gt;    &lt;td style=&apos;text-align:left;border:1px solid;padding: 5px;&apos;&gt;&quot; + TEXT({!Loop_each_Item_Master.Cost_Category__c}) + &quot;&lt;/td&gt;&lt;td style=&apos;text-align:center;border:1px solid;padding: 5px;&apos;&gt;1&lt;/td&gt;&lt;td style=&apos;text-align:right;border:1px solid;padding: 5px;&apos;&gt;&quot; + {!txtCostPrice_ItemMaster} + &quot;&lt;/td&gt;&lt;td style=&apos;text-align:right;border:1px solid;padding: 5px;&apos;&gt;&quot; + {!txtCostPrice_ItemMaster} + &quot;&lt;/td&gt;  &lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>htmlQuoteItem_PR</name>
        <dataType>String</dataType>
        <expression>&quot;&lt;tr&gt;    &lt;td style=&apos;text-align:left;border:1px solid;padding: 5px;&apos;&gt;&quot; + {!Loop_each_Purchase_Request.Item_Name_Formula__c} + &quot;&lt;/td&gt;  &lt;td style=&apos;text-align:left;border:1px solid; padding: 5px;&apos;&gt;&quot; + {!Loop_each_Purchase_Request.Part_Number__c} + &quot;&lt;/td&gt;    &lt;td style=&apos;text-align:left;border:1px solid; padding: 5px;&apos;&gt;&quot; + {!Loop_each_Purchase_Request.Item_Master_Cost_Category__c} + &quot;&lt;/td&gt;&lt;td style=&apos;text-align:center;border:1px solid; padding: 5px;&apos;&gt;&quot; + TEXT({!Loop_each_Purchase_Request.Quantity__c}) + &quot;&lt;/td&gt;&lt;td style=&apos;text-align:right;border:1px solid; padding: 5px;&apos;&gt;&quot; + {!txtCostPrice_PR} + &quot;&lt;/td&gt;&lt;td style=&apos;text-align:right;border:1px solid; padding: 5px;&apos;&gt;&quot; + {!txtTotalCostPrice_PR} + &quot;&lt;/td&gt;  &lt;/tr&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>txtCostPrice_ItemMaster</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_each_Item_Master.Cost_Price__c}), &quot;&quot;, &quot;$&quot; + IF(LEN(TEXT(FLOOR({!Loop_each_Item_Master.Cost_Price__c}))) &gt; 3, LEFT(TEXT(FLOOR({!Loop_each_Item_Master.Cost_Price__c})), LEN(TEXT(FLOOR({!Loop_each_Item_Master.Cost_Price__c}))) - 3) + &quot;,&quot; + RIGHT(TEXT(FLOOR({!Loop_each_Item_Master.Cost_Price__c})),3), TEXT(FLOOR({!Loop_each_Item_Master.Cost_Price__c}))) + &quot;.&quot; + LPAD(TEXT(({!Loop_each_Item_Master.Cost_Price__c}-FLOOR({!Loop_each_Item_Master.Cost_Price__c}))*100),2,&quot;0&quot;))</expression>
    </formulas>
    <formulas>
        <name>txtCostPrice_PR</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}), &quot;&quot;, &quot;$&quot; + IF(LEN(TEXT(FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}))) &gt; 3, LEFT(TEXT(FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c})), LEN(TEXT(FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}))) - 3) + &quot;,&quot; + RIGHT(TEXT(FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c})),3), TEXT(FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}))) + &quot;.&quot; + LPAD(TEXT(({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}-FLOOR({!Loop_each_Purchase_Request.PR_Cost_Price_GST_exc__c}))*100),2,&quot;0&quot;))</expression>
    </formulas>
    <formulas>
        <name>txtGrandTotalPrice</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!curGrandTotalPrice}), &quot;&quot;, &quot;$ &quot; + IF(LEN(TEXT(FLOOR({!curGrandTotalPrice}))) &gt; 3, LEFT(TEXT(FLOOR({!curGrandTotalPrice})), LEN(TEXT(FLOOR({!curGrandTotalPrice}))) - 3) + &quot;,&quot; + RIGHT(TEXT(FLOOR({!curGrandTotalPrice})),3), TEXT(FLOOR({!curGrandTotalPrice}))) + &quot;.&quot; + LPAD(TEXT(({!curGrandTotalPrice}-FLOOR({!curGrandTotalPrice}))*100),2,&quot;0&quot;))</expression>
    </formulas>
    <formulas>
        <name>txtTotalCostPrice_PR</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}), &quot;&quot;, &quot;$&quot; + IF(LEN(TEXT(FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}))) &gt; 3, LEFT(TEXT(FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c})), LEN(TEXT(FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}))) - 3) + &quot;,&quot; + RIGHT(TEXT(FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c})),3), TEXT(FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}))) + &quot;.&quot; + LPAD(TEXT(({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}-FLOOR({!Loop_each_Purchase_Request.Total_Cost_Price_GST_exc__c}))*100),2,&quot;0&quot;))</expression>
    </formulas>
    <interviewLabel>Quote - SCREEN - Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - SCREEN - Unified Creation</label>
    <loops>
        <name>Loop_each_Item_Master</name>
        <label>Loop each Item Master</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>colItemMaster</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_to_htmlQuoteItemRow_IM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_each_Purchase_Request</name>
        <label>Loop each Purchase Request</label>
        <locationX>930</locationX>
        <locationY>878</locationY>
        <collectionReference>colPurchaseRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_to_htmlQuoteItemRow_PR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>754</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>How_many_records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Details_for_Supplier__c</field>
            <value>
                <elementReference>htmlNoteToSupplier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grand_Total_Price__c</field>
            <value>
                <elementReference>curGrandTotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Item_Table__c</field>
            <value>
                <elementReference>htmlQuoteItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Item_Master_Single</name>
        <label>Get Item Master (Single)</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Purchase_Request_single</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Purchase_Request_single</name>
        <label>Get Purchase Request - single</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Multiple_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Purchase_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1722</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!strErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>886</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 111, 2); font-size: 14px;&quot;&gt;Success&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;The quote has been successfully created. Click &lt;a href=&quot;/{!Create_Quote}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;&lt;/a&gt; to navigate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_User_allowed_to_generate_quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colItemMaster</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Item__c</objectType>
    </variables>
    <variables>
        <name>colPurchaseRequest</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Purchase_Request__c</objectType>
    </variables>
    <variables>
        <name>countMasterItemMultiple</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countPurchaseRequestMultiple</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>curGrandTotalPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>htmlNoteToSupplierRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>htmlQuoteItemRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputItemMasterID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputPurchReqtID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMultiple</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>An error encountered creating the quote. Please try again.</stringValue>
        </value>
    </variables>
</Flow>
