force-app/main/default/flows/Resubmit_Update_to_Daily_Site_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Daily_Job_Item_Per_Hour</name>
        <label>Daily Job Item - Per Hour</label>
        <locationX>468</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consDJIPerHour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTJDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Job_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Job_Item_Per_Quantity</name>
        <label>Daily Job Item - Per Quantity</label>
        <locationX>732</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consDJIPerQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItems.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTJDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Job_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Job_Items_Collection</name>
        <label>Daily Job Items Collection</label>
        <locationX>600</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>colDailyJobItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recDailyJobItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_per_Daily_Job_Item</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>consDJIPerHour</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120o000001ZIekAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>consDJIPerQuantity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120o000001ZIelAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>All_TJs_resubmitted</name>
        <label>All TJs resubmitted</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_resubmitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Not_Yet_Resubmitted_Transport_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DSJ_Status</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Type</name>
        <label>Check Service Type</label>
        <locationX>600</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Daily_Job_Item_Per_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fixed/Flexi Price/Quantity</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Configuration__r.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price/Hour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Job_Item_Per_Hour</targetReference>
            </connector>
            <label>Fixed Price/Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DJI_for_Transport_Job</name>
        <label>Is DJI for Transport Job</label>
        <locationX>798</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Loop_per_Daily_Job_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_related_to_TJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_per_Daily_Job_Item.Driver_Assignment__r.Transport_Job__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varTransportJob</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Type</targetReference>
            </connector>
            <label>Yes, related to TJ</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DSJS_Status_Rejected_or_Pending</name>
        <label>Is DSJS Status Rejected or Pending?</label>
        <locationX>380</locationX>
        <locationY>1466</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_Rejected_or_Pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varDSJSStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDSJSStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Not_Yet_Resubmitted_Transport_Job</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Driver_Assignment</name>
        <label>Is there Daily Job Items?</label>
        <locationX>611</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_hasDJI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Job_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_per_Daily_Job_Item</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>26 SEPT 2023: Changes on Transport Job Categories/ Contract Job Item Service Type</description>
    <environments>Default</environments>
    <interviewLabel>Resubmit Update to Daily Site Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resubmit Update to Daily Site Job</label>
    <loops>
        <name>Loop_per_Daily_Job_Item</name>
        <label>Loop per Daily Job Item</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Daily_Job_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_DJI_for_Transport_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Daily_Job_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Not_Yet_Resubmitted_Transport_Job</name>
        <label>Check Not Yet Resubmitted Transport Job</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_TJs_resubmitted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Site_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJob</elementReference>
            </value>
        </filters>
        <filters>
            <field>Resubmitted_to_DSJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Job_Items</name>
        <label>Get Daily Job Items</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJob</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_Assignment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <sortField>Driver_Assignment__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DSJ_Info</name>
        <label>Get DSJ Info</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Daily_Job_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJob</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputAssignments>
            <assignToReference>varDailySiteJobSummary</assignToReference>
            <field>Daily_Summary_Report__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Info</name>
        <label>Get Transport Info</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_DSJ_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTransportJob</elementReference>
            </value>
        </filters>
        <object>Transport_Job__c</object>
        <outputAssignments>
            <assignToReference>varDSJSStatus</assignToReference>
            <field>DSJS_Status__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDailySiteJob</assignToReference>
            <field>Daily_Site_Job__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varTJDescription</assignToReference>
            <field>Description__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Job_Items</name>
        <label>Update Daily Job Items</label>
        <locationX>380</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Is_DSJS_Status_Rejected_or_Pending</targetReference>
        </connector>
        <inputReference>colDailyJobItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DSJ_Status</name>
        <label>Update DSJ Status</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Update_DSJS_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJob</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Manager - Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DSJS_Status</name>
        <label>Update DSJS Status</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJobSummary</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDailyJobItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>recDailyJobItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>varDailySiteJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDailySiteJobSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDSJSStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTJDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTransportJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
