force-app/main/default/flows/Scheduled_Calculate_NDT_Hrs_All_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_C_S</name>
        <label>Notify C+S</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>markjude@cinch-strike.io</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicing@wilddesert.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Exception: Scheduled - Calculate NDT Hrs All Time</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_No_of_Hours_Total</name>
        <label>Add No. of Hours Total</label>
        <locationX>138</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>NDTTotalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Daily_Job_Item_Loop.Number_of_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Job_Item_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Was_there_any_Addition_Changes_to_Daily_Job_Items</name>
        <label>Was there any Addition/Changes to Daily Job Items?</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>No - End</defaultConnectorLabel>
        <rules>
            <name>Yes_Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_All_Related_NDT_Daily_Job_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Job_Item_Loop</targetReference>
            </connector>
            <label>Yes - Proceed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Last24Hours</name>
        <dataType>DateTime</dataType>
        <expression>Now()- 1</expression>
    </formulas>
    <formulas>
        <name>Yesterday</name>
        <dataType>Date</dataType>
        <expression>Today()-1</expression>
    </formulas>
    <interviewLabel>Scheduled - Calculate NDT Hrs - All Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled - Calculate NDT Hrs - All Time</label>
    <loops>
        <name>Daily_Job_Item_Loop</name>
        <label>Daily Job Item Loop</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Find_All_Related_NDT_Daily_Job_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_No_of_Hours_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_NDT_Hours_Life_of_Asset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_All_Related_NDT_Daily_Job_Items</name>
        <label>Find All Related NDT Daily Job Items</label>
        <locationX>314</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_there_any_Addition_Changes_to_Daily_Job_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnitID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CJIAddToNDT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Number_of_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last24Hours</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <sortField>Number_of_Hours__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_NDT_Hours_Life_of_Asset</name>
        <label>Update NDT Hours - Life of Asset</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <faultConnector>
            <targetReference>Notify_C_S</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NDT_Hours_Life_of_Asset__c</field>
            <value>
                <elementReference>NDTTotalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_All_Related_NDT_Daily_Job_Items</targetReference>
        </connector>
        <object>Unit__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-02-11</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NDTTotalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.NDT_Hours_Life_of_Asset__c</elementReference>
        </value>
    </variables>
</Flow>
