force-app/main/default/flows/Scheduled_Service_Reversal_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Deleting_Work_Order</name>
        <label>Error Deleting Work Order</label>
        <locationX>446</locationX>
        <locationY>2126</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Error deleting {!recordToBeDeleted} in Scheduled Service Reversal Screen Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>support@cinch-strike.io</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error deleting Work Order - WildDesert</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adjust_Asset</name>
        <label>Change Back Asset Details and Assign Status</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>nextJobCardCreation</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextServiceDue</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>10000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_Values_to_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_Asset_0</name>
        <label>Change Back Asset Details and Assign Status</label>
        <locationX>402</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>nextJobCardCreation</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextServiceDue</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>20000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_Values_to_Asset_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Adjust_Asset_0_0</name>
        <label>Change Back Asset Details and Assign Status</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>nextJobCardCreation</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextServiceDueHrs</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>250.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_new_Values_to_Asset_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Values_for_Update</name>
        <label>Assign Asset Values for Update</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>nextJobCardCreation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Next_Job_Card_creation_reading__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextServiceDue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Next_Service_Due_km__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastServiceKM</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Last_Service_Km__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateOfLastService</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Date_Of_Last_Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastServiceType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Last_Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nextServiceDueHrs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Next_Service_Due_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Asset_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Do_Not_Create_Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Values_to_Asset</name>
        <label>Assign new Values to Asset</label>
        <locationX>138</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Job_Card_creation_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextJobCardCreation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Service_Due_km__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextServiceDue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Values_to_Asset_0</name>
        <label>Assign new Values to Asset</label>
        <locationX>402</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Job_Card_creation_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextJobCardCreation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Service_Due_km__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextServiceDue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Values_to_Asset_0_0</name>
        <label>Assign new Values to Asset</label>
        <locationX>666</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Job_Card_creation_reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextJobCardCreation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Next_Service_Due_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nextServiceDueHrs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Previous_Record_Information</name>
        <label>Collect Previous Record Information</label>
        <locationX>1326</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>previousRecordValues</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Current_Odometer_Reading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Odometer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Engine_Hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Engine_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_further_Asset_Adjustment_Required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Work_Order_Records_to_Collection</name>
        <label>Set Work Order Records to Collection</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>workOrderCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduled_Service_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Scheduled_Service_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Sufficent_Work_Orders_to_Roll_Back</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Record_to_be_Deleted_0</name>
        <label>Store Record to be Deleted and Vehicle Type</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToBeDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Record_to_be_Deleted_0_0</name>
        <label>Store Record to be Deleted and Vehicle Type</label>
        <locationX>402</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToBeDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Asset_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Record_to_be_Deleted_0_0_0</name>
        <label>Store Record to be Deleted and Vehicle Type</label>
        <locationX>666</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordToBeDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vehicleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Asset_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Asset</name>
        <label>Update Asset</label>
        <locationX>930</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Km__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Odometer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Date_Of_Last_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Date_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Type_of_Maintenance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Asset_0</name>
        <label>Update Asset</label>
        <locationX>1458</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Km__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Odometer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Date_Of_Last_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Date_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Type_of_Maintenance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Asset_0_0</name>
        <label>Update Asset</label>
        <locationX>1194</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Engine_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Date_Of_Last_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Date_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>wdAssetUpdate.Last_Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_all_Work_Order_Records.Type_of_Maintenance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>done_and_close</name>
        <choiceText>Done and Close</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>reverse_another_wo</name>
        <choiceText>Reverse the Next Work Order</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Is the work order completed? If so, then we have other fields to adjust</description>
        <name>Are_further_Asset_Adjustment_Required</name>
        <label>Are further Asset Adjustment Required?</label>
        <locationX>1326</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Light_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset</targetReference>
            </connector>
            <label>Yes, Light Vehicle</label>
        </rules>
        <rules>
            <name>Yes_Cranes_or_Non_Vehicles_etc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_0_0</targetReference>
            </connector>
            <label>Yes, Cranes or Non-Vehicles etc</label>
        </rules>
        <rules>
            <name>Yes_Dollies_or_Mower_etc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vehicleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Asset_0</targetReference>
            </connector>
            <label>Yes, Dollies or Mower etc</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_Sufficent_Work_Orders_to_Roll_Back</name>
        <label>Are There Sufficent Work Orders to Roll Back?</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Records_Found_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, 1 or None Found</defaultConnectorLabel>
        <rules>
            <name>Yes_2_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Asset_Records</targetReference>
            </connector>
            <label>Yes, 2 or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_The_First_Record</name>
        <label>Is This The First Record?</label>
        <locationX>1150</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_all_Work_Order_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_type_of_Asset</targetReference>
            </connector>
            <label>Yes First Record</label>
        </rules>
        <rules>
            <name>No_Second_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_Previous_Record_Information</targetReference>
            </connector>
            <label>No, Second Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reverse_the_Next_Work_Order</name>
        <label>Reverse the Next Work Order?</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Set_Create_New_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Finish</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>done_and_close</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Scheduled_Service_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Asset</name>
        <label>What Type of Asset?</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Previous_Scheduled_Service_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Asset Type</defaultConnectorLabel>
        <rules>
            <name>Light_Vehicle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000g1yOAAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Scheduled_Service_0_0</targetReference>
            </connector>
            <label>Light Vehicle</label>
        </rules>
        <rules>
            <name>Dollies_Prime_Mover_Trailer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000g2YsAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000g2YdAAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_all_Work_Order_Records.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01290000000g2YnAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Scheduled_Service_0_0_0</targetReference>
            </connector>
            <label>Dollies, Prime Mover, Trailer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Scheduled Service Reversal Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Service Reversal Screen Flow</label>
    <loops>
        <name>Loop_Through_all_Work_Order_Records</name>
        <label>Loop Through all Work Order Records</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>workOrderCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_This_The_First_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Asset_with_Previous_WO_records_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Current_WO_record_0</name>
        <label>Delete Current WO record</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Successfully_Deleted_Work_Order_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Deleting_Work_Order</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordToBeDeleted</elementReference>
            </value>
        </filters>
        <object>Job_Cards__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Asset_Records</name>
        <label>Get Asset Records</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Asset_Values_for_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduled_Service_Record</name>
        <label>Get Scheduled Service Record</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Work_Order_Records_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WD_Asset__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01290000000GkFaAAK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Cards__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Create_New_Work_Order</name>
        <label>Set Create New Work Order</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Do_Not_Create_Work_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Asset__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Asset_with_Previous_WO_records_0</name>
        <label>Update Work Asset with Previous WO records</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <connector>
            <targetReference>Delete_Current_WO_record_0</targetReference>
        </connector>
        <inputReference>wdAssetUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>No_Records_Found_1_0</name>
        <label>No Records Found</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_records_found_0</name>
            <fieldText>&lt;p&gt;There are insufficient Work Orders to reverse that are associated with this Asset. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Scheduled_Service_0_0</name>
        <label>Previous Scheduled Service</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_Record_to_be_Deleted_0</targetReference>
        </connector>
        <fields>
            <name>asset_type</name>
            <fieldText>&lt;p&gt;Asset Type: &lt;span style=&quot;color: rgb(224, 44, 44);&quot;&gt;{!Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>description_0</name>
            <fieldText>&lt;p&gt;The details of the latest scheduled service &lt;b&gt;Work Order&lt;/b&gt; are below. By clicking confirm this &lt;b&gt;Work Order&lt;/b&gt; record will be deleted. The &lt;b&gt;Assets&lt;/b&gt; service record will be changed to details stored in the previous &lt;b&gt;Work Order&lt;/b&gt;.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Odometer_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Odometer:&lt;/b&gt; {!Loop_Through_all_Work_Order_Records.Odometer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Created_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Date Created: &lt;/b&gt;{!Loop_Through_all_Work_Order_Records.Date_Created__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>created_by</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Created By: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Through_all_Work_Order_Records.CreatedBy.FirstName} {!Loop_Through_all_Work_Order_Records.CreatedBy.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>status</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!Loop_Through_all_Work_Order_Records.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Scheduled_Service_0_0_0</name>
        <label>Previous Scheduled Service</label>
        <locationX>402</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_Record_to_be_Deleted_0_0</targetReference>
        </connector>
        <fields>
            <name>asset_type_0</name>
            <fieldText>&lt;p&gt;Asset Type: &lt;span style=&quot;color: rgb(224, 44, 44);&quot;&gt;{!Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>description_0_0</name>
            <fieldText>&lt;p&gt;The details of the latest scheduled service &lt;b&gt;Work Order&lt;/b&gt; are below. By clicking confirm this &lt;b&gt;Work Order&lt;/b&gt; record will be deleted. The &lt;b&gt;Assets&lt;/b&gt; service record will be changed to details stored in the previous &lt;b&gt;Work Order&lt;/b&gt;.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Odometer_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Odometer:&lt;/b&gt; {!Loop_Through_all_Work_Order_Records.Odometer__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Created_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Date Created: &lt;/b&gt;{!Loop_Through_all_Work_Order_Records.Date_Created__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>created_by_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Created By: &lt;/b&gt;{!Loop_Through_all_Work_Order_Records.CreatedBy.FirstName} {!Loop_Through_all_Work_Order_Records.CreatedBy.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>status_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status:&lt;/b&gt; {!Loop_Through_all_Work_Order_Records.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Scheduled_Service_0_0_0_0</name>
        <label>Previous Scheduled Service</label>
        <locationX>666</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Store_Record_to_be_Deleted_0_0_0</targetReference>
        </connector>
        <fields>
            <name>asset_type_0_0</name>
            <fieldText>&lt;p&gt;Asset Type: &lt;span style=&quot;color: rgb(224, 44, 44); background-color: rgb(255, 255, 255);&quot;&gt;{!Loop_Through_all_Work_Order_Records.WD_Asset__r.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>description_0_0_0</name>
            <fieldText>&lt;p&gt;The details of the latest scheduled service &lt;b&gt;Work Order&lt;/b&gt; are below. By clicking confirm this &lt;b&gt;Work Order&lt;/b&gt; record will be deleted. The &lt;b&gt;Assets&lt;/b&gt; service record will be changed to details stored in the previous &lt;b&gt;Work Order&lt;/b&gt;.  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Odometer_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Engine Hours:&lt;/b&gt; {!Loop_Through_all_Work_Order_Records.Engine_Hours__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Created_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Date Created: &lt;/b&gt;{!Loop_Through_all_Work_Order_Records.Date_Created__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>created_by_1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Created By:&lt;/b&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Loop_Through_all_Work_Order_Records.CreatedBy.FirstName} {!Loop_Through_all_Work_Order_Records.CreatedBy.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>status_1</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Status: &lt;/b&gt;{!Loop_Through_all_Work_Order_Records.Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successfully_Deleted_Work_Order_0</name>
        <label>Successfully Deleted Work Order</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reverse_the_Next_Work_Order</targetReference>
        </connector>
        <fields>
            <name>success_screen_0</name>
            <fieldText>&lt;p&gt;Work Order has been successfully deleted. Changes to the Asset have been made. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <choiceReferences>done_and_close</choiceReferences>
            <choiceReferences>reverse_another_wo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>done_and_close</defaultSelectedChoiceReference>
            <fieldText>Next Steps</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Scheduled_Service_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>completed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateOfLastService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>engineHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>foundWorkOrders</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lastServiceKM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>lastServiceType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>nextJobCardCreation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nextServiceDue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>nextServiceDueHrs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>oldEngineHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>oldOdometer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>previousRecordValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Cards__c</objectType>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordToBeDeleted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>typeOfMaintenance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vehicleType</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>wdAssetUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset__c</objectType>
    </variables>
    <variables>
        <name>workOrderCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Cards__c</objectType>
    </variables>
</Flow>
