force-app/main/default/flows/Site_Generate_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_Invoice</name>
        <label>Navigate Invoice</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <actionName>c:OpenRecordAfterFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Invoice</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenRecordAfterFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_colDailySiteJob</name>
        <label>Add to colDailySiteJob</label>
        <locationX>402</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>colDailySiteJob</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Daily_Site_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colDailySiteSummary</name>
        <label>Add to colDailySiteSummary</label>
        <locationX>798</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>colDailySiteSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Daily_Site_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Daily_Site_Summary.Summary_Report_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Daily_Site_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Invoice_Start_Date</name>
        <label>Assign Invoice Start Date</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>invStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Daily_Site_Summary.Summary_Report_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_colDailySiteSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Creating_Invoice</name>
        <label>Error Message - Creating Invoice</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error has been encountered creating the invoice. Please try again.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Invoice_found</name>
        <label>Error Message - Invoice found</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageExistingInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_no_DJ_Items</name>
        <label>Error Message - no DJ Items</label>
        <locationX>578</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Couldn&apos;t find any associated Daily Job Items. Unable to create invoice..</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_no_DS_Job</name>
        <label>Error Message - no DS Job</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Couldn&apos;t find any approved Daily Site Job. Check the status of existing Daily Site Job or create a new one and get it &lt;b&gt;Approved&lt;/b&gt;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_no_DSR</name>
        <label>Error Message - no DSR</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Couldn&apos;t find any approved Daily Site Job Summary. Check the status of existing Daily Site Job Summary or create a new one and get it &lt;b&gt;Approved&lt;/b&gt;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_null_Contract</name>
        <label>Error Message - null Contract</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site has missing Contract.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_open_DSJS</name>
        <label>Error Message - open DSJS</label>
        <locationX>1370</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All Daily Site Job Summaries of the site must be at &lt;b&gt;Approved&lt;/b&gt; status.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_open_Transport_Job</name>
        <label>Error Message - open Transport Job</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>There can not be any open Transport Job associated with the Site.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Site_not_closed</name>
        <label>Error Message - Site not Closed</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Can not generate an Invoice for a Site that is not &lt;b&gt;Closed&lt;/b&gt;.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message_Site_not_found</name>
        <label>Error Message - Site not found</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Site not found.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Generate_Invoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Site_Status</name>
        <label>Check Site Status</label>
        <locationX>2162</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Site_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Siite not found</defaultConnectorLabel>
        <rules>
            <name>Closed_Site</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site.Site_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_Invoice</targetReference>
            </connector>
            <label>Closed Site</label>
        </rules>
        <rules>
            <name>Closed_Site_but_with_NULL_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site.Site_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_null_Contract</targetReference>
            </connector>
            <label>Closed Site but with NULL Contract</label>
        </rules>
        <rules>
            <name>Other_Site_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site.Site_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Site</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Site_not_closed</targetReference>
            </connector>
            <label>Other Site Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Job_Item</name>
        <label>Found Daily Job Item</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Error_Message_no_DJ_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundDailyJobItem</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Job_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Invoice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Site_Job</name>
        <label>Found Daily Site Job</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Error_Message_no_DS_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FoundDailySiteJob</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Site_Job</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Site_Job</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Daily_Summary_Report</name>
        <label>Found Daily Summary Report</label>
        <locationX>842</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Error_Message_no_DSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DailySummaryReport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Site_Job_Summary_APPROVED</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Daily_Site_Summary</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_open_DSJS</name>
        <label>has open DSJS?</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Error_Message_open_DSJS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>open DSJS found</defaultConnectorLabel>
        <rules>
            <name>no_open_DSJS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Daily_Site_Job_Summary_Open</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Daily_Site_Job_Summary_APPROVED</targetReference>
            </connector>
            <label>no open DSJS</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_open_Transport_Job</name>
        <label>has open Transport Job?</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Error_Message_open_Transport_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open Transport Job found</defaultConnectorLabel>
        <rules>
            <name>No_open_Transport_Job</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_Job_Open</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Daily_Site_Job_Summary_Open</targetReference>
            </connector>
            <label>No open Transport Job</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Invoice_found</name>
        <label>is Invoice found?</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Invoice_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Invoice</defaultConnectorLabel>
        <rules>
            <name>Invoice_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Transport_Job_Open</targetReference>
            </connector>
            <label>Invoice not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Invoice_Start_Date_blank</name>
        <label>is Invoice Start Date blank?</label>
        <locationX>798</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Add_to_colDailySiteSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_StartDateBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>invStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invoice_Start_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ErrorMessageExistingInvoice</name>
        <dataType>String</dataType>
        <expression>&quot;Invoice &lt;b&gt;&quot; + {!Get_existing_Invoice.Name} + &quot;&lt;/b&gt; has already been generated for this Site. You cannot generate a new Invoice.&quot;</expression>
    </formulas>
    <formulas>
        <name>invoiceDescription</name>
        <dataType>String</dataType>
        <expression>{!Get_Site.Job_Description__c}</expression>
    </formulas>
    <interviewLabel>Site - Generate Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site - Generate Invoice</label>
    <loops>
        <name>Loop_Daily_Site_Job</name>
        <label>Loop Daily Site Job</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <collectionReference>Get_Daily_Site_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_colDailySiteJob</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Daily_Job_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Daily_Site_Summary</name>
        <label>Loop Daily Site Summary</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Daily_Site_Job_Summary_APPROVED</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Invoice_Start_Date_blank</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Daily_Site_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_Creating_Invoice</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Site.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Get_Site.Job_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>invEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>invStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>is_Generated_in_LEX__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Daily_Job_Item</name>
        <label>Get Daily Job Item</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Job_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Report__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteJob</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job</name>
        <label>Get Daily Site Job</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Site_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>In</operator>
            <value>
                <elementReference>colDailySiteSummary</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job_Summary_APPROVED</name>
        <label>Get Daily Site Job Summary - APPROVED</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Daily_Summary_Report</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Contract__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <sortField>Summary_Report_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job_Summary_Open</name>
        <label>Get Daily Site Job Summary - Open</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_open_DSJS</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ops Mgr - Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <sortField>Summary_Report_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Invoice</name>
        <label>Get existing Invoice</label>
        <locationX>1634</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Invoice_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site</name>
        <label>Get Site</label>
        <locationX>2162</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Site_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Job_Open</name>
        <label>Get Transport Job - Open</label>
        <locationX>1370</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_open_Transport_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cannot_Generate_Invoice</name>
        <label>Cannot Generate Invoice</label>
        <locationX>2162</locationX>
        <locationY>3998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InvalidMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Error!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>2966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_Invoice</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(5, 127, 5); font-size: 14px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You have successfully generated an Invoice. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Note: &lt;/strong&gt;It will take around 2 minutes to fully create the invoice items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Navigate Generated Invoice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Site</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDailySiteJob</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colDailySiteSummary</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageGenerateInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceIDGenerateInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invoiceNumberGenerateInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>invStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSuccessGenerateInvoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
