force-app/main/default/flows/Team_Member_AFTER_Update_Employee_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Team_Member</name>
        <label>Check Team Member</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>New_Team_Member_with_Personnel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTeamMember</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Personnel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Current_Personnel</targetReference>
            </connector>
            <label>New Team Member with Personnel</label>
        </rules>
        <rules>
            <name>Changed_Personnel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Personnel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Personnel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Personnel_Remove_Team</targetReference>
            </connector>
            <label>Changed Personnel</label>
        </rules>
        <rules>
            <name>Removed_Personnel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Personnel__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Personnel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Personnel_Remove_Team02</targetReference>
            </connector>
            <label>Removed Personnel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newTeamMember</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Team Member - AFTER - Update Employee Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Team Member - AFTER - Update Employee Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Team_Member</targetReference>
        </connector>
        <object>Team_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Current_Personnel</name>
        <label>Add Current Personnel</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Employee_Update_Team_field</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>$Record.Current_Personnel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTeamID</name>
            <value>
                <elementReference>$Record.Team__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Current_Personnel_Add_Team</name>
        <label>Current Personnel - Add Team</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <flowName>Employee_Update_Team_field</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>$Record.Current_Personnel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTeamID</name>
            <value>
                <elementReference>$Record.Team__c</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Previous_Personnel_Remove_Team</name>
        <label>Previous Personnel - Remove Team</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Current_Personnel_Add_Team</targetReference>
        </connector>
        <flowName>Employee_Update_Team_field</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>$Record__Prior.Current_Personnel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTeamID</name>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Previous_Personnel_Remove_Team02</name>
        <label>Previous Personnel - Remove Team</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <flowName>Employee_Update_Team_field</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>$Record__Prior.Current_Personnel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTeamID</name>
        </inputAssignments>
    </subflows>
</Flow>
