force-app/main/default/flows/Trades_Daily_Report_Get_Active_Trades_On_Shift.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Active_Trades_for_deletion</name>
        <label>Assign Active Trades for deletion</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>recActiveTradesForDeletion.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Active_Trades_On_Shift.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colActiveTradesForDeletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recActiveTradesForDeletion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Active_Trades_On_Shift</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Active_Trades_On_Shift</name>
        <label>Assign - Existing Active Trades - On Shift</label>
        <locationX>490</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>recActiveTrades.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_existing_Active_Trades.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.On_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countFilterTradesbyEmployee</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_existing_Active_Trades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Active_Trades</name>
        <label>Assign - New Active Trades</label>
        <locationX>270</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>recActiveTrades.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.On_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Trades_Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTradesActiveReportID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Employee_Get_Total_Open_Work_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Task_Count</name>
        <label>Assign Work Task Count</label>
        <locationX>402</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>recActiveTrades.Total_Open_Work_Tasks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Get_Total_Open_Work_Tasks.countOpenWorkTasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colActiveTrades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recActiveTrades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Task_Count_extraday</name>
        <label>Assign Work Task Count</label>
        <locationX>270</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>recActiveTrades.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_existing_Active_Trades_Extra_Day.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.Total_Open_Work_Tasks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employee_Extra_Day_Get_Total_Open_Work_Tasks.countOpenWorkTasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveTrades.On_Shift__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colActiveTrades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recActiveTrades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_existing_Active_Trades_Extra_Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_countFilterEmployeeByActiveTrades</name>
        <label>Increment countFilterEmployeeByActiveTrades</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>countFilterEmployeeByActiveTrades</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Filter_Employee_by_Active_Trades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_countFilterEmployeeByActiveTrades_value</name>
        <label>Initial countFilterEmployeeByActiveTrades value</label>
        <locationX>358</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>countFilterEmployeeByActiveTrades</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Employee_by_Active_Trades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_countFilterTradesbyEmployee</name>
        <label>Initial countFilterTradesbyEmployee</label>
        <locationX>402</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>countFilterTradesbyEmployee</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Active_Trades_by_Employee</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Active_Trades_by_Employee</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active Trades by Employee</label>
        <locationX>402</locationX>
        <locationY>2090</locationY>
        <assignNextValueToReference>currentItem_Filter_Active_Trades_by_Employee</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_existing_Active_Trades_On_Shift</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_Trades_by_Employee.Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_each_Employee.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_existing_Active_Trades</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Employee_by_Active_Trades</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Employee by Active Trades</label>
        <locationX>358</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Employee_by_Active_Trades</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Employees</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Employee_by_Active_Trades.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_each_Active_Trades_On_Shift.Employee__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_Filter_Employee_by_Active_Trades</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Input_Parameters</name>
        <label>Check Input Parameters</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Missing input parameters</defaultConnectorLabel>
        <rules>
            <name>Input_Parameters_have_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputReportDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputDepartment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputTradesActiveReportID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputUnitID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_Active_Trades_On_Shift</targetReference>
            </connector>
            <label>Input Parameters have values</label>
        </rules>
    </decisions>
    <decisions>
        <name>have_Active_Trades_for_deletion</name>
        <label>have Active Trades for deletion</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>loop_each_Employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_fordeletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveTradesForDeletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Trades_for_deletion</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Active_Trades</name>
        <label>new Active Trades</label>
        <locationX>402</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Employee_Get_Total_Open_Work_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_newactivetrades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countFilterTradesbyEmployee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Active_Trades</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Shift_Employee</name>
        <label>On Shift Employee</label>
        <locationX>358</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Trades_for_deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_onshift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countFilterEmployeeByActiveTrades</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_each_Active_Trades_On_Shift</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>13 DEC 2024: Set Active ID to NULL for new record.</description>
    <environments>Default</environments>
    <interviewLabel>Trades Daily Report - Get Active Trades On Shift {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trades Daily Report - Get Active Trades On Shift</label>
    <loops>
        <name>loop_each_Active_Trades_On_Shift</name>
        <label>loop each Active Trades - On Shift</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_existing_Active_Trades_On_Shift</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initial_countFilterEmployeeByActiveTrades_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>have_Active_Trades_for_deletion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Employee</name>
        <label>loop each Employee</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <collectionReference>Get_related_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initial_countFilterTradesbyEmployee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_existing_Active_Trades_Extra_Day</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_existing_Active_Trades</name>
        <label>loop existing Active Trades</label>
        <locationX>402</locationX>
        <locationY>2198</locationY>
        <collectionReference>Filter_Active_Trades_by_Employee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Active_Trades_On_Shift</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>new_Active_Trades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_existing_Active_Trades_Extra_Day</name>
        <label>loop existing Active Trades - Extra Day</label>
        <locationX>182</locationX>
        <locationY>3098</locationY>
        <collectionReference>Get_existing_Active_Trades_Extra_Day</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Employee_Extra_Day_Get_Total_Open_Work_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Upsert_Active_Trades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Filter_Employee_by_Active_Trades</name>
        <label>loop Filter Employee by Active Trades</label>
        <locationX>358</locationX>
        <locationY>890</locationY>
        <collectionReference>Filter_Employee_by_Active_Trades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_countFilterEmployeeByActiveTrades</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>On_Shift_Employee</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Upsert_Active_Trades</name>
        <label>Upsert Active Trades</label>
        <locationX>182</locationX>
        <locationY>3506</locationY>
        <doesUpsert>true</doesUpsert>
        <inputReference>colActiveTrades</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Active_Trades_for_deletion</name>
        <label>Active Trades - for deletion</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>loop_each_Employee</targetReference>
        </connector>
        <inputReference>colActiveTradesForDeletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_existing_Active_Trades_Extra_Day</name>
        <label>Get existing Active Trades - Extra Day</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trades_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTradesActiveReportID</elementReference>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Active_Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Active_Trades_On_Shift</name>
        <label>Get existing Active Trades - On Shift</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_existing_Active_Trades_Extra_Day</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trades_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTradesActiveReportID</elementReference>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Active_Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Employees</name>
        <label>Get related Employees</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_Active_Trades_On_Shift</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_to_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputUnitID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Relevant_Department__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDepartment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employees__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Input_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Employee_Extra_Day_Get_Total_Open_Work_Tasks</name>
        <label>Employee (Extra Day) - Get Total Open Work Tasks</label>
        <locationX>270</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Assign_Work_Task_Count_extraday</targetReference>
        </connector>
        <flowName>Employee_Get_Total_Open_Work_Tasks</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>loop_existing_Active_Trades_Extra_Day.Employee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReportDate</name>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Employee_Get_Total_Open_Work_Tasks</name>
        <label>Employee - Get Total Open Work Tasks</label>
        <locationX>402</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Assign_Work_Task_Count</targetReference>
        </connector>
        <flowName>Employee_Get_Total_Open_Work_Tasks</flowName>
        <inputAssignments>
            <name>inputEmployeeID</name>
            <value>
                <elementReference>loop_each_Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReportDate</name>
            <value>
                <elementReference>inputReportDate</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>colActiveTrades</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Trade__c</objectType>
    </variables>
    <variables>
        <name>colActiveTradesForDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Trade__c</objectType>
    </variables>
    <variables>
        <name>countFilterEmployeeByActiveTrades</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countFilterTradesbyEmployee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countOpenWorkTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_Trades_by_Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Trade__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Employee_by_Active_Trades</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Open_Work_Task_by_Employee_extraday</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Task__c</objectType>
    </variables>
    <variables>
        <name>inputDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTradesActiveReportID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputUnitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recActiveTrades</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Trade__c</objectType>
    </variables>
    <variables>
        <name>recActiveTradesForDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Trade__c</objectType>
    </variables>
</Flow>
