force-app/main/default/flows/Trades_Daily_Report_Scheduled_Daily_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Department_in_Collection</name>
        <label>Add Department in Collection</label>
        <locationX>314</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>colDepartment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentDepartment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TDR_Depot_Moomba</name>
        <label>Assign TDR - Depot-Moomba</label>
        <locationX>138</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Relevant_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitDepotMoomba</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTradesDailyReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTradesDailyReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Employee_Depot_Roma</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TDR_Depot_Roma</name>
        <label>Assign TDR - Depot-Roma</label>
        <locationX>138</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Relevant_Department__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>unitDepotRoma</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTradesDailyReport.Report_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTradesDailyReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recTradesDailyReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Department</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_countMoombaEmployees</name>
        <label>Increment countMoombaEmployees</label>
        <locationX>358</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>countMoombaEmployees</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Moomba_Employees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_countRomaEmployees</name>
        <label>Increment countRomaEmployees</label>
        <locationX>358</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>countRomaEmployees</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Roma_Employees</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Employee_Depot_Moomba</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Employee - Depot-Moomba</label>
        <locationX>270</locationX>
        <locationY>1068</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Employees</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba.Relevant_Department__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_each_Department</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba.Assigned_to_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>unitDepotMoomba</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_each_Moomba_Employees</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Employee_Depot_Roma</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Employee - Depot-Roma</label>
        <locationX>270</locationX>
        <locationY>1776</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Active_Employees</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba.Relevant_Department__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>loop_each_Department</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba.Assigned_to_Unit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>unitDepotRoma</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>loop_each_Roma_Employees</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>unitDepotMoomba</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1C9000000P38xREAR</stringValue>
        </value>
    </constants>
    <constants>
        <name>unitDepotRoma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1C9000000095dgEAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>has_Depot_Moomba_Employees</name>
        <label>has Depot-Moomba Employees</label>
        <locationX>270</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>Filter_Employee_Depot_Roma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_moombaemployees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countMoombaEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TDR_Depot_Moomba</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Depot_Roma_Employees</name>
        <label>has Depot-Roma Employees</label>
        <locationX>270</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>loop_each_Department</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_hasromaemployees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countRomaEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TDR_Depot_Roma</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_On_Shift_Employees</name>
        <label>has On Shift Employees</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_onshift</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Employees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_each_Employee</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Department_in_collection</name>
        <label>is Department in collection?</label>
        <locationX>226</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Add_Department_in_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_deptincollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colDepartment</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>currentDepartment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_each_Employee</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentDepartment</name>
        <dataType>String</dataType>
        <expression>TEXT({!loop_each_Employee.Relevant_Department__c})</expression>
    </formulas>
    <interviewLabel>Trades Daily Report - Scheduled - Daily Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trades Daily Report - Scheduled - Daily Creation</label>
    <loops>
        <name>loop_each_Department</name>
        <label>loop each Department</label>
        <locationX>50</locationX>
        <locationY>960</locationY>
        <collectionReference>colDepartment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Employee_Depot_Moomba</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Trades_Daily_Report</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Employee</name>
        <label>loop each Employee</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Active_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>is_Department_in_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_each_Department</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Moomba_Employees</name>
        <label>loop each Moomba Employees</label>
        <locationX>270</locationX>
        <locationY>1176</locationY>
        <collectionReference>Filter_Employee_Depot_Moomba</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_countMoombaEmployees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>has_Depot_Moomba_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Roma_Employees</name>
        <label>loop each Roma Employees</label>
        <locationX>270</locationX>
        <locationY>1884</locationY>
        <collectionReference>Filter_Employee_Depot_Roma</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_countRomaEmployees</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>has_Depot_Roma_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Trades_Daily_Report</name>
        <label>Create Trades Daily Report</label>
        <locationX>50</locationX>
        <locationY>2568</locationY>
        <inputReference>colTradesDailyReport</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Employees</name>
        <label>Get Active Employees</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_On_Shift_Employees</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Relevant_Department__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_to_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitDepotMoomba</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_to_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitDepotRoma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employees__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Employees</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-03</startDate>
            <startTime>04:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colDepartment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTradesDailyReport</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trades_Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>countMoombaEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countRomaEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_Filter_Employee_Depot_Moomba</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>recTradesDailyReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trades_Daily_Report__c</objectType>
    </variables>
</Flow>
