force-app/main/default/flows/Transport_Job_BEFORE_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Billable_checkbox</name>
        <label>Assign Billable checkbox</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bolBillable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_new_TJ_OR_Description_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TJ_Description</name>
        <label>Assign TJ Description</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.TJ_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Open_Driver_Assignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Open_Driver_Assignment_FALSE</name>
        <label>Update Open Driver Assignment = FALSE</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Open_Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Open_Driver_Assignment_TRUE</name>
        <label>Update Open Driver Assignment = TRUE</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Open_Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>has_Open_Driver_Assignment</name>
        <label>has Open Driver Assignment</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Update_Open_Driver_Assignment_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_openDA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Open_Driver_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Driver_Assignment_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new_TJ_OR_Description_changed</name>
        <label>new TJ OR Description changed?</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Check_Open_Driver_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_DescriptionChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTransportJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TJ_Description</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_TJ_OR_Category_changed</name>
        <label>new TJ OR Category changed?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>is_new_TJ_OR_Description_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes_NewChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>newTransportJob</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billable_checkbox</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>30 OCT 2023: Added the auto population of TJ Description.</description>
    <environments>Default</environments>
    <formulas>
        <name>bolBillable</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.Category__c}, &apos;DSJ Required&apos;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>newTransportJob</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>strDescription</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.Description__c}) &gt; 255, LEFT({!$Record.Description__c}, 252) + &apos;...&apos;, {!$Record.Description__c})</expression>
    </formulas>
    <interviewLabel>Transport Job - BEFORE - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Job - BEFORE - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Check_Open_Driver_Assignments</name>
        <label>Check Open Driver Assignments</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_Open_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Transport_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready to Submit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_TJ_OR_Category_changed</targetReference>
        </connector>
        <object>Transport_Job__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
