force-app/main/default/flows/Transport_Daily_Report_SCHEDULE_Daily_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>unitTransportMoomba</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1C0o00000mtFSVEA2</stringValue>
        </value>
    </constants>
    <constants>
        <name>unitTransportRoma</name>
        <dataType>String</dataType>
        <value>
            <stringValue>a1C90000000BXf4EAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>existing_TDR_Moomba</name>
        <label>existing TDR - Moomba</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Create_TDR_Moomba</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_MoombaExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_TDR_Moomba</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>existing_TDR_Roma_is_created</name>
        <label>existing TDR - Roma is created</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_TDR_Roma</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_RomaExisting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_TDR_Roma</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_TDR_Moomba</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transport Daily Report - SCHEDULE - Daily Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - SCHEDULE - Daily Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TDR_Moomba</name>
        <label>Create TDR - Moomba</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <inputAssignments>
            <field>Refresh_Transport_Daily_Report__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Date__c</field>
            <value>
                <elementReference>ReportDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>unitTransportMoomba</elementReference>
            </value>
        </inputAssignments>
        <object>Transport_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_TDR_Roma</name>
        <label>Create TDR - Roma</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Get_Existing_TDR_Moomba</targetReference>
        </connector>
        <inputAssignments>
            <field>Refresh_Transport_Daily_Report__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Date__c</field>
            <value>
                <elementReference>ReportDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>unitTransportRoma</elementReference>
            </value>
        </inputAssignments>
        <object>Transport_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_TDR_Moomba</name>
        <label>Get Existing TDR - Moomba</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_TDR_Moomba</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitTransportMoomba</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_TDR_Roma</name>
        <label>Get Existing TDR - Roma</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existing_TDR_Roma_is_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>unitTransportRoma</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Existing_TDR_Roma</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-30</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_TDR_Moomba</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>ReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
