force-app/main/default/flows/Transport_Daily_Report_AFTER_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_FALSE</name>
        <label>Assign All related records are complete checkbox = FALSE</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_TRUE</name>
        <label>Assign All related records are complete checkbox = TRUE</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TDR</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Driver_Assignment_completed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Driver Assignment - completed</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Driver_Assignment_completed_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Driver_Assignment</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed_0.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed_0.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cancelled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_Transport_Jobs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJ_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJ - approved</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNextValueToReference>currentItem_DSJ_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJ</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJS_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJS - approved</label>
        <locationX>182</locationX>
        <locationY>1079</locationY>
        <assignNextValueToReference>currentItem_DSJS_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJS</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>All_related_records_are_complete</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Transport_Jobs_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Transport Jobs - approved</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNextValueToReference>currentItem_Transport_Jobs_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Transport_Jobs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Transport_Jobs_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJ</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_related_records_are_complete</name>
        <label>All related records are complete</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Assign_All_related_records_are_complete_checkbox_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_allcomplete</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Driver_Assignment_completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transport_Jobs_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJ_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJS_approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_related_records_are_complete_checkbox_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>13 DEC 2023: If manually update the status to CLOSED, will check first the statuses of the related lists if to allow to change or not.</description>
    <environments>Default</environments>
    <interviewLabel>Transport Daily Report - AFTER - Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - AFTER - Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Driver_Assignment</name>
        <label>Get related Driver Assignment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Driver_Assignment_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJ</name>
        <label>Get related DSJ</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJ_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJS</name>
        <label>Get related DSJS</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJS_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Transport_Jobs</name>
        <label>Get related Transport Jobs</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transport_Jobs_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transport_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TDR</name>
        <label>Update TDR</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Driver_Assignment</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>All_related_records_are_complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Transport_Daily_Report__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countTotalDriverAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Driver_Assignment_completed_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJ_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJS_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Transport_Jobs_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Job__c</objectType>
    </variables>
</Flow>
