force-app/main/default/flows/Transport_Daily_Report_SCREEN_Refresh_Related_List.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>success_Auto_launched_Flow</name>
        <label>success Auto-launched Flow</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_error_on_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bolSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>bolSuccessUpdateStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Message</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>TDR_Status</name>
        <label>TDR Status</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_Closed_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CLOSED</defaultConnectorLabel>
        <rules>
            <name>OPEN_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Transport_Daily_Report.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_launched_Flow_TDR</targetReference>
            </connector>
            <label>OPEN</label>
        </rules>
    </decisions>
    <description>5 DEC 2023: execute Transport Daily Report - Refresh Related Records auto-launched</description>
    <environments>Default</environments>
    <formulas>
        <name>refreshURL</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&apos;/&apos;+{!recordId}, &apos;refresh&apos;, &apos;_self&apos;)</expression>
    </formulas>
    <interviewLabel>Transport Daily Report - SCREEN - Refresh Related List {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - SCREEN - Refresh Related List</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Transport_Daily_Report</name>
        <label>Get Transport Daily Report</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TDR_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen_Closed_Status</name>
        <label>Error Screen - Closed Status</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can no longer refresh the related lists as the status is already &lt;strong&gt;Closed&lt;/strong&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_error_on_update</name>
        <label>Error Screen - error on update</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 18px;&quot;&gt;ERROR&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Oops, something didn&apos;t go quite right while updating the related lists.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It seems like some of the records might not be following the business rules, which is causing errors when we try to update them. Please take a look at the details of the error below to see what needs to be fixed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(2, 144, 2); font-size: 18px;&quot;&gt;SUCCESS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The related lists have successfully refreshed. Please&lt;strong&gt; refresh&lt;/strong&gt; the page in case changes did not reflect.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_Daily_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_launched_Flow_TDR</name>
        <label>Auto-launched Flow - TDR</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Auto_launched_Flow_Update_Status</targetReference>
        </connector>
        <flowName>Transport_Daily_Report_Refresh_Related_List</flowName>
        <inputAssignments>
            <name>inputNewTDR</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReportDate</name>
            <value>
                <elementReference>Get_Transport_Daily_Report.Report_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTransportBase</name>
            <value>
                <elementReference>Get_Transport_Daily_Report.Transport_Base__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputUnitId</name>
            <value>
                <elementReference>Get_Transport_Daily_Report.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strErrorMessage</assignToReference>
            <name>outputErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>bolSuccess</assignToReference>
            <name>outputSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Auto_launched_Flow_Update_Status</name>
        <label>Auto-launched Flow - Update Status</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>success_Auto_launched_Flow</targetReference>
        </connector>
        <flowName>Transport_Daily_Report_Status_Update</flowName>
        <inputAssignments>
            <name>inputTDR</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>bolSuccessUpdateStatus</assignToReference>
            <name>outputSuccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>bolSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>bolSuccessUpdateStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colActiveDriver</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>colActiveDriverAssignedDA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>colDSJS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>colEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>recActiveDriver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>recActiveDriverAssignedDA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>recDSJS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Something went wrong while refreshing the related lists. Please try again.</stringValue>
        </value>
    </variables>
</Flow>
