force-app/main/default/flows/Transport_Daily_Report_BEFORE_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_FALSE</name>
        <label>Assign All related records are complete checkbox = FALSE</label>
        <locationX>1106</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_TRUE</name>
        <label>Assign All related records are complete checkbox = TRUE</label>
        <locationX>842</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>$Record.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Duplicate_TDR_TRUE</name>
        <label>Assign Duplicate TDR = TRUE</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Duplicate_TDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Driver_Assignment_completed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Driver Assignment - completed</label>
        <locationX>974</locationX>
        <locationY>611</locationY>
        <assignNextValueToReference>currentItem_Driver_Assignment_completed_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Driver_Assignment</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed_0.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed_0.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cancelled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_Transport_Jobs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJ_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJ - approved</label>
        <locationX>974</locationX>
        <locationY>1043</locationY>
        <assignNextValueToReference>currentItem_DSJ_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJ</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJS_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJS - approved</label>
        <locationX>974</locationX>
        <locationY>1259</locationY>
        <assignNextValueToReference>currentItem_DSJS_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJS</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>All_related_records_are_complete</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Transport_Jobs_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Transport Jobs - approved</label>
        <locationX>974</locationX>
        <locationY>827</locationY>
        <assignNextValueToReference>currentItem_Transport_Jobs_approved_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Transport_Jobs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Transport_Jobs_approved_0.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJ</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>urlTDR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://wilddesert.lightning.force.com/lightning/r/Transport_Daily_Report__c/</stringValue>
        </value>
    </constants>
    <decisions>
        <name>All_related_records_are_complete</name>
        <label>All related records are complete</label>
        <locationX>974</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Assign_All_related_records_are_complete_checkbox_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_allcomplete</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Driver_Assignment_completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transport_Jobs_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJ_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJS_approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_related_records_are_complete_checkbox_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changed_TDR_field</name>
        <label>Changed TDR field</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Report_Date_or_Unit</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_same_TDR</targetReference>
            </connector>
            <label>Report Date or Unit</label>
        </rules>
        <rules>
            <name>Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Driver_Assignment</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_TDR</name>
        <label>Duplicate TDR</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_duplicateTDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_same_TDR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Duplicate_TDR_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Transport_Daily_Report</name>
        <label>new Transport Daily Report</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Changed_TDR_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_newTDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTDR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_same_TDR</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>messageDuplicateTDR</name>
        <dataType>String</dataType>
        <expression>&apos;[Duplicate Record] There is an existing Transport Daily Report with same Unit and Report Date. &apos; + HYPERLINK({!urlTDR} + {!Get_same_TDR.Id},&apos;View&apos;, &apos;_self&apos;)</expression>
    </formulas>
    <formulas>
        <name>newTDR</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Transport Daily Report - BEFORE - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - BEFORE - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Driver_Assignment</name>
        <label>Get related Driver Assignment</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Driver_Assignment_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJ</name>
        <label>Get related DSJ</label>
        <locationX>974</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJ_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJS</name>
        <label>Get related DSJS</label>
        <locationX>974</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJS_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Transport_Jobs</name>
        <label>Get related Transport Jobs</label>
        <locationX>974</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transport_Jobs_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transport_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_same_TDR</name>
        <label>Get same TDR</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicate_TDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Transport_Daily_Report__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>new_Transport_Daily_Report</targetReference>
        </connector>
        <object>Transport_Daily_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countTotalDriverAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Driver_Assignment_completed_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJ_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJS_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Transport_Jobs_approved_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Job__c</objectType>
    </variables>
</Flow>
