force-app/main/default/flows/Transport_Daily_Report_AFTER_Refresh_Related_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Employee_TS_TRUE</name>
        <label>Add Employee TS=TRUE</label>
        <locationX>402</locationX>
        <locationY>2633</locationY>
        <assignmentItems>
            <assignToReference>colActiveDriverTimeSheet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_each_AD_TS_TRUE.Employees__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_AD_TS_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colActiveDrivers</name>
        <label>Add to colActiveDrivers</label>
        <locationX>578</locationX>
        <locationY>3257</locationY>
        <assignmentItems>
            <assignToReference>colActiveDriver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recActiveDriver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colActiveDrivers_DA</name>
        <label>Add to colActiveDrivers</label>
        <locationX>1546</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>colActiveDriver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recActiveDriver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_Driver_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_colDSJS</name>
        <label>Add to colDSJS</label>
        <locationX>952</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>colDSJS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recDSJS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_per_Daily_Site_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Driver</name>
        <label>Assign Active Driver</label>
        <locationX>578</locationX>
        <locationY>3149</locationY>
        <assignmentItems>
            <assignToReference>recActiveDriver.Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Employee.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveDriver.Transport_Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_colActiveDrivers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Driver_DA</name>
        <label>Assign Active Driver</label>
        <locationX>1546</locationX>
        <locationY>2243</locationY>
        <assignmentItems>
            <assignToReference>recActiveDriver.Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_Driver_Assignment.Driver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recActiveDriver.Transport_Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colActiveDriverExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_each_Driver_Assignment.Driver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_colActiveDrivers_DA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DSJS_to_Update</name>
        <label>Assign DSJS to Update</label>
        <locationX>952</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>recDSJS.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_per_Daily_Site_Job.Daily_Summary_Report__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDSJS.Transport_Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_colDSJS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>strObjectName_Active_Driver</name>
        <label>strObjectName = Active Driver</label>
        <locationX>314</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active Driver</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>strObjectName_Daily_Site_Job</name>
        <label>strObjectName = Daily Site Job</label>
        <locationX>3042</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily Site Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>strObjectName_Daily_Site_Job_Summary</name>
        <label>strObjectName = Daily Site Job Summary</label>
        <locationX>2514</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Daily Site Job Summary</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>strObjectName_Driver_Assignment</name>
        <label>strObjectName = Driver Assignment</label>
        <locationX>3570</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Driver Assignment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>strObjectName_Transport_Job</name>
        <label>strObjectName = Transport Job</label>
        <locationX>4098</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>strObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transport Job</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>4098</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Something went wrong while refreshing the {!strObjectName} related list.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Report_Date</name>
        <label>Check Report Date</label>
        <locationX>864</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>new_Transport_Daily_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Past Date</defaultConnectorLabel>
        <rules>
            <name>Current_or_Future_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Drivers_get_existing_relation_not_Updated</targetReference>
            </connector>
            <label>Current or Future Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Employee_existing_Active_Driver</name>
        <label>Employee existing Active Driver</label>
        <locationX>490</locationX>
        <locationY>3041</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Driver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_existingActiveDriver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveDriverTimeSheet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colActiveDriverTimeSheet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_each_Employee.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_each_Employee</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>existing_in_Active_Driver_collection</name>
        <label>existing in Active Driver collection</label>
        <locationX>1458</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Assign_Active_Driver_DA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_existingDAcollection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colActiveDriverExisting</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loop_each_Driver_Assignment.Driver__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>colActiveDriverExisting</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_each_Driver_Assignment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_Active_Drivers_existing_relation</name>
        <label>has Active Drivers existing relation</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Active_Drivers_Updated_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_existingrelation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Drivers_get_existing_relation_not_Updated</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Drivers_remove_existing_relation</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>new_Transport_Daily_Report</name>
        <label>new Transport Daily Report</label>
        <locationX>1414</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Active_Drivers_refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_newTDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newTDR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Driver_Assignment_related</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>30 NOV 2023: Skip deleting AD if already modified/updated</description>
    <environments>Default</environments>
    <formulas>
        <name>newTDR</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Transport Daily Report - AFTER - Refresh Related Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - AFTER - Refresh Related Records</label>
    <loops>
        <name>loop_each_AD_TS_TRUE</name>
        <label>loop each AD TS=TRUE</label>
        <locationX>314</locationX>
        <locationY>2525</locationY>
        <collectionReference>Active_Drivers_Updated_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Employee_TS_TRUE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Employees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Driver_Assignment</name>
        <label>loop each Driver Assignment</label>
        <locationX>1282</locationX>
        <locationY>2027</locationY>
        <collectionReference>Driver_Assignment_related</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>existing_in_Active_Driver_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Active_Drivers_add_relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_Employee</name>
        <label>loop each Employee</label>
        <locationX>314</locationX>
        <locationY>2933</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Employee_existing_Active_Driver</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Active_Drivers_add_relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_per_Daily_Site_Job</name>
        <label>Loop per Daily Site Job</label>
        <locationX>864</locationX>
        <locationY>1187</locationY>
        <collectionReference>Get_related_Daily_Site_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DSJS_to_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Daily_Site_Job_Summary_add_relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Active_Drivers_add_relation</name>
        <label>Active Drivers - add relation</label>
        <locationX>314</locationX>
        <locationY>3533</locationY>
        <connector>
            <targetReference>Active_Drivers_refresh</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Active_Driver</targetReference>
        </faultConnector>
        <inputReference>colActiveDriver</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Active_Drivers_remove_existing_relation</name>
        <label>Active Drivers - remove existing relation</label>
        <locationX>50</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Active_Drivers_Updated_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>strObjectName_Active_Driver</targetReference>
        </faultConnector>
        <inputReference>Active_Drivers_get_existing_relation_not_Updated</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Active_Drivers_get_existing_relation_not_Updated</name>
        <label>Active Drivers - get existing relation (not Updated)</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>has_Active_Drivers_existing_relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Driver_Updated_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Active_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Active_Drivers_Updated_Records</name>
        <label>Active Drivers - Updated Records</label>
        <locationX>314</locationX>
        <locationY>2417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_AD_TS_TRUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Driver_Updated_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Active_Driver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Driver_Assignment_related</name>
        <label>Driver Assignment - related</label>
        <locationX>1282</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>314</locationX>
        <locationY>2825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>On_Shift__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_to_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employees__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will determine what DSJS records will be updated.</description>
        <name>Get_related_Daily_Site_Job</name>
        <label>Get related Daily Site Job</label>
        <locationX>864</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_per_Daily_Site_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Active_Drivers_refresh</name>
        <label>Active Drivers - refresh</label>
        <locationX>864</locationX>
        <locationY>3773</locationY>
        <connector>
            <targetReference>Transport_Daily_Report_Update</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Active_Driver</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refresh_Active_Driver__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Active_Driver__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Site_Job_add_relation</name>
        <label>Daily Site Job - add relation</label>
        <locationX>864</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Daily_Site_Job_Summary_remove_existing_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Daily_Site_Job</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>Transport_Base_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Base__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Site_Job_remove_existing_relation</name>
        <label>Daily Site Job - remove existing relation</label>
        <locationX>864</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Daily_Site_Job_add_relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>strObjectName_Daily_Site_Job</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Site_Job_Summary_add_relation</name>
        <label>Daily Site Job Summary - add relation</label>
        <locationX>864</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Check_Report_Date</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Daily_Site_Job_Summary</targetReference>
        </faultConnector>
        <inputReference>colDSJS</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Daily_Site_Job_Summary_remove_existing_relation</name>
        <label>Daily Site Job Summary - remove existing relation</label>
        <locationX>864</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_related_Daily_Site_Job</targetReference>
        </connector>
        <faultConnector>
            <targetReference>strObjectName_Daily_Site_Job_Summary</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
        </inputAssignments>
        <object>Daily_Summary_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_add_relation</name>
        <label>Driver Assignment - add relation</label>
        <locationX>864</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Daily_Site_Job_remove_existing_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Driver_Assignment_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transport_Base__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Base__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Driver_Assignment_remove_existing_relation</name>
        <label>Driver Assignment - remove existing relation</label>
        <locationX>864</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Driver_Assignment_add_relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>strObjectName_Driver_Assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active_Driver__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Transport_Daily_Report_Update</name>
        <label>Transport Daily Report - Update</label>
        <locationX>864</locationX>
        <locationY>3881</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Refresh_Transport_Daily_Report__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Transport_Job_add_relation</name>
        <label>Transport Job - add relation</label>
        <locationX>864</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Driver_Assignment_remove_existing_relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>strObjectName_Transport_Job</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Transport_Base__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transport_Base__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Transport_Job_remove_existing_relation</name>
        <label>Transport Job - remove existing relation</label>
        <locationX>864</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Transport_Job_add_relation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>strObjectName_Transport_Job</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Daily_Report__c</field>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transport_Job_remove_existing_relation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refresh_Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transport_Daily_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colActiveDriver</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>colActiveDriverAssignedDA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>colActiveDriverExisting</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colActiveDriverTimeSheet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colDSJS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>colEmployeeId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employees__c</objectType>
    </variables>
    <variables>
        <name>recActiveDriver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>recActiveDriverAssignedDA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Active_Driver__c</objectType>
    </variables>
    <variables>
        <name>recDSJS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
