force-app/main/default/flows/Transport_Job_After_Create_Daily_Site_Job_and_Daily_Job_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contract_No</name>
        <label>Assign Contract No.</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>contractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objUnit.Contract_New__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transport_Unit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_No_site</name>
        <label>Assign Contract No. site</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>contractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSite.Contract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Transport_Unit_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DSJS_Date_to_Report_Date</name>
        <label>Assign DSJS Date to Report Date</label>
        <locationX>314</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>varReportDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_DSJS_Job_Date_or_Future_Date.Summary_Report_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Daily_Site_Job_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_for_existing_DSJ</name>
        <label>Assign ID for existing DSJ</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varDailySiteJobID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objDailySiteJobExist.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDailySiteJobSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objDailySiteJobExist.Daily_Summary_Report__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DSJ_Transport_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Job_Item_Per_Hour</name>
        <label>Daily Job Item - Per Hour</label>
        <locationX>336</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Daily_Site_Job_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDailySiteJobSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consDJIPerHour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Start_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.End_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Job_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Job_Item_Per_Quantity</name>
        <label>Daily Job Item - Per Quantity</label>
        <locationX>600</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Daily_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Contract_Job_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Configuration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Daily_Site_Job_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDailySiteJobSummary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consDJIPerQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Driver_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_each_Driver_Assignment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.Start_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.StartTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.End_Time__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recDailyJobItem.EndTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Daily_Job_Items_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Daily_Job_Items_Collection</name>
        <label>Daily Job Items Collection</label>
        <locationX>468</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>objDailyJobItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recDailyJobItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_each_Driver_Assignment</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>consDJIPerHour</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120o000001ZIekAAG</stringValue>
        </value>
    </constants>
    <constants>
        <name>consDJIPerQuantity</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120o000001ZIelAAG</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Service_Type</name>
        <label>Check Service Type</label>
        <locationX>468</locationX>
        <locationY>2195</locationY>
        <defaultConnector>
            <targetReference>Daily_Job_Item_Per_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fixed/Flexi Price/Quantity</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_each_Driver_Assignment.Configuration__r.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price/Hour</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Daily_Job_Item_Per_Hour</targetReference>
            </connector>
            <label>Fixed Price/Hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_Open_Daily_Site_Job</name>
        <label>Is there Open Daily Site Job</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Unit_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No open Daily Site Job</defaultConnectorLabel>
        <rules>
            <name>Yes_Open_Daily_Site_Job_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objDailySiteJobExist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_for_existing_DSJ</targetReference>
            </connector>
            <label>Yes, Open Daily Site Job exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Type_Transport</name>
        <label>Unit Type Transport?</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_Contract_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Transport</defaultConnectorLabel>
        <rules>
            <name>Transport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objUnit.Unit_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transport</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contract_No_from_Site</targetReference>
            </connector>
            <label>Transport</label>
        </rules>
    </decisions>
    <decisions>
        <name>with_open_DSJS_current_or_future_date</name>
        <label>with open DSJS (current or future date)?</label>
        <locationX>446</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Create_Daily_Site_Job_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_there_is_open_DSJS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_DSJS_Job_Date_or_Future_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DSJS_Date_to_Report_Date</targetReference>
            </connector>
            <label>Yes, there is open DSJS</label>
        </rules>
    </decisions>
    <description>26 SEPT 2023: Changes on Transport Job Categories/ Contract Job Item Service Type</description>
    <environments>Default</environments>
    <interviewLabel>Transport Job - After - Create Daily Site Job and Daily Job Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Job - After - Create Daily Site Job and Daily Job Items</label>
    <loops>
        <name>Loop_each_Driver_Assignment</name>
        <label>Loop each Driver Assignment</label>
        <locationX>248</locationX>
        <locationY>2087</locationY>
        <collectionReference>objDriverAssignment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Service_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Daily_Job_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Daily_Job_Items</name>
        <label>Create Daily Job Items</label>
        <locationX>248</locationX>
        <locationY>2687</locationY>
        <connector>
            <targetReference>Update_DSJ_ID_of_Driver_Assignment_Items</targetReference>
        </connector>
        <inputReference>objDailyJobItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Daily_Site_Job_Record</name>
        <label>Create Daily Site Job Record</label>
        <locationX>446</locationX>
        <locationY>1571</locationY>
        <assignRecordIdToReference>varDailySiteJobID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_DSJ_Summary_Value</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>objTransportUnit.Unit_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Report_Date__c</field>
            <value>
                <elementReference>varReportDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Manager - Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitter__c</field>
            <value>
                <elementReference>objTransportUnit.Unit_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Job__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>objTransportUnit.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>isLockedForUnitStaff__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_No_from_Site</name>
        <label>Get Contract No from Site</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contract_No_site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>objSite</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Site_Job_Record</name>
        <label>Get Daily Site Job Record - Job Date or Future Date</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_Open_Daily_Site_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Job_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>DSJS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputReference>objDailySiteJobExist</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Daily_Summary_Report__c</queriedFields>
        <sortField>Report_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Driver_Assignment_Records</name>
        <label>Get Driver Assignment Records</label>
        <locationX>248</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_each_Driver_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Site_Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Transport_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Driver_Assignment__c</object>
        <outputReference>objDriverAssignment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Configuration__c</queriedFields>
        <queriedFields>Start_Date_Time__c</queriedFields>
        <queriedFields>End_Date_Time__c</queriedFields>
        <queriedFields>Driver__c</queriedFields>
        <queriedFields>Start_Time__c</queriedFields>
        <queriedFields>End_Time__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DSJ_Summary_Value</name>
        <label>Get DSJ Summary Value</label>
        <locationX>446</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Transport_Job_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputAssignments>
            <assignToReference>varDailySiteJobSummary</assignToReference>
            <field>Daily_Summary_Report__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_DSJS_Job_Date_or_Future_Date</name>
        <label>Get Open DSJS - Job Date or Future Date</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>with_open_DSJS_current_or_future_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Summary_Report_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Job_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Summary_Report_Date__c</queriedFields>
        <sortField>Summary_Report_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Unit_Record</name>
        <label>Get Transport Unit Record</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_DSJS_Job_Date_or_Future_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UnitType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transport</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Manager__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>objTransportUnit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit_Manager__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit_Record</name>
        <label>Get Contract No from Unit</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Type_Transport</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>objUnit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_New__c</queriedFields>
        <queriedFields>Unit_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_DSJ_ID_of_Driver_Assignment_Items</name>
        <label>Update DSJ ID of Driver Assignment Items</label>
        <locationX>248</locationX>
        <locationY>2795</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Site_Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Transport_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Daily_Site_Job__c</field>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </inputAssignments>
        <object>Driver_Assignment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DSJ_Transport_Job</name>
        <label>Update DSJ - Transport Job</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Transport_Job_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transport_Job__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Daily_Report__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transport_Job_Record</name>
        <label>Update Transport Job Record</label>
        <locationX>248</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>Get_Driver_Assignment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Daily_Site_Job__c</field>
            <value>
                <elementReference>varDailySiteJobID</elementReference>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Daily_Site_Job_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Daily_Site_Job__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billable__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Transport_Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objDailyJobItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>objDailySiteJobExist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>objDriverAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>objSite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
    <variables>
        <name>objTransportUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>objUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>recDailyJobItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report_Item__c</objectType>
    </variables>
    <variables>
        <name>siteContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDailySiteJobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDailySiteJobSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Job_Date__c</elementReference>
        </value>
    </variables>
</Flow>
