force-app/main/default/flows/Transport_Daily_Report_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_FALSE</name>
        <label>Assign All related records are complete checkbox = FALSE</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recTDR.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTDR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTDR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_All_related_records_are_complete_checkbox_TRUE</name>
        <label>Assign All related records are complete checkbox = TRUE</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>recTDR.All_related_records_are_complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTDR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recTDR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_TDR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_output_variable</name>
        <label>Assign output variable</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Driver_Assignment_completed</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Driver Assignment - completed</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNextValueToReference>currentItem_Driver_Assignment_completed</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Driver_Assignment</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Completed</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Driver_Assignment_completed.Driver_Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Cancelled</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_Transport_Jobs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJ_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJ - approved</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_DSJ_approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJ</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJ_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>DSJS_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>DSJS - approved</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_DSJS_approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_DSJS</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Invoiced</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_DSJS_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>All_related_records_are_complete</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Transport_Jobs_approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Transport Jobs - approved</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNextValueToReference>currentItem_Transport_Jobs_approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_Transport_Jobs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Transport_Jobs_approved.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_related_DSJ</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>All_related_records_are_complete</name>
        <label>All related records are complete</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_All_related_records_are_complete_checkbox_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_allcomplete</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Driver_Assignment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Driver_Assignment_completed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_Transport_Jobs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transport_Jobs_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJ</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJ_approved</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_related_DSJS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DSJS_approved</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_related_records_are_complete_checkbox_TRUE</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transport Daily Report - Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Driver_Assignment</name>
        <label>Get related Driver Assignment</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Driver_Assignment_completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJ</name>
        <label>Get related DSJ</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJ_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_DSJS</name>
        <label>Get related DSJS</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DSJS_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Daily_Summary_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_Transport_Jobs</name>
        <label>Get related Transport Jobs</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transport_Jobs_approved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTDR</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transport_Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_TDR</name>
        <label>Update TDR</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <faultConnector>
            <targetReference>Assign_output_variable</targetReference>
        </faultConnector>
        <inputReference>recTDR</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Driver_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countTotalDriverAssignment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Driver_Assignment_completed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Driver_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJ_approved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_DSJS_approved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Summary_Report__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Transport_Jobs_approved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Job__c</objectType>
    </variables>
    <variables>
        <name>inputTDR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recTDR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transport_Daily_Report__c</objectType>
    </variables>
</Flow>
