force-app/main/default/flows/Transport_Daily_Report_AFTER_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Notification</name>
        <label>Error Notification</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Transport_Daily_Report</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>colEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicing@wilddesert.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Error_Notification_Update</name>
        <label>Error Notification - Update</label>
        <locationX>704</locationX>
        <locationY>1008</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>colEmailRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>servicing@wilddesert.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>subjectEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>bodyEmail</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error_Details</name>
        <label>Assign Error Details</label>
        <locationX>704</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>strErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Notification_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>colEmailRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recipientEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Auto_launched_Flow</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>recipientEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>vic@cinch-strike.io</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Success_Auto_launched_Flow</name>
        <label>Success Auto-launched Flow</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Error_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bolSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transport_Daily_Report</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>newTDR</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Transport Daily Report - AFTER - Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transport Daily Report - AFTER - Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Transport_Daily_Report</name>
        <label>Update Transport Daily Report</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <faultConnector>
            <targetReference>Assign_Error_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refresh_Transport_Daily_Report__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Transport_Daily_Report__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Refresh_Transport_Daily_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transport_Daily_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0_minute</name>
            <connector>
                <targetReference>Call_Auto_launched_TDR</targetReference>
            </connector>
            <label>0 minute</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Transport Daily Report - Refresh Related Records</description>
        <name>Call_Auto_launched_TDR</name>
        <label>Call Auto-launched</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Assign_Recipients</targetReference>
        </connector>
        <flowName>Transport_Daily_Report_Refresh_Related_List</flowName>
        <inputAssignments>
            <name>inputNewTDR</name>
            <value>
                <elementReference>newTDR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputReportDate</name>
            <value>
                <elementReference>$Record.Report_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTransportBase</name>
            <value>
                <elementReference>$Record.Transport_Base__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputUnitId</name>
            <value>
                <elementReference>$Record.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strErrorMessage</assignToReference>
            <name>outputErrorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>bolSuccess</assignToReference>
            <name>outputSuccess</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>bodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Error encountered in FLOW &lt;strong&gt;Active Driver - AFTER - Automation&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!strErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bolSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colEmailRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Error encountered in FLOW Active Driver - AFTER - Automation</stringValue>
        </value>
    </variables>
</Flow>
