force-app/main/default/flows/Update_DailySummaryReport_on_DailyReport_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>603</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>UpdateDailyReportList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjC_DailyReports</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Daily_Reports</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Summary_Report</name>
        <label>Assign Daily Summary Report</label>
        <locationX>602</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>SObjC_DailyReports.Daily_Summary_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailySummaryReportId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Daily_Reports_Found</name>
        <label>Daily Reports Found?</label>
        <locationX>196</locationX>
        <locationY>39</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjCV_DailyReports</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Daily_Reports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_List_contains_DailyReports</name>
        <label>Update List contains DailyReports?</label>
        <locationX>370</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateDailyReportList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Daily_Reports</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fetching Daily Reports based on Site</description>
    <interviewLabel>Update DailySummaryReport on DailyReport {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update DailySummaryReport on DailyReport Flow</label>
    <loops>
        <name>Loop_Through_Daily_Reports</name>
        <label>Loop Through Daily Reports</label>
        <locationX>370</locationX>
        <locationY>36</locationY>
        <assignNextValueToReference>SObjC_DailyReports</assignNextValueToReference>
        <collectionReference>SObjCV_DailyReports</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Daily_Summary_Report</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_List_contains_DailyReports</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Daily_Reports</name>
        <label>Get all Daily Reports</label>
        <locationX>29</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Reports_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Daily_Summary_Report__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_DailyReportDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputReference>SObjCV_DailyReports</outputReference>
        <queriedFields>Contract__c</queriedFields>
        <queriedFields>Daily_Summary_Report__c</queriedFields>
        <queriedFields>Report_Date__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Reports</name>
        <label>Update Daily Reports</label>
        <locationX>369</locationX>
        <locationY>309</locationY>
        <inputReference>UpdateDailyReportList</inputReference>
    </recordUpdates>
    <startElementReference>Get_all_Daily_Reports</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObjC_DailyReports</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>SObjCV_DailyReports</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>UpdateDailyReportList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailySummaryReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
