force-app/main/default/flows/Update_Site_on_Unit_when_Site_Active_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Unit_to_Update_List</name>
        <label>Add Unit to Update List</label>
        <locationX>186</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>SObjC_UnitToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVar_Unit_FieldRig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contract_Assignment_for_Field_Camp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Unit_to_Update_List2</name>
        <label>Add Unit to Update List</label>
        <locationX>565</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>SObjC_UnitToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObjVar_Unit_FieldCamp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Update_List_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_to_Camp</name>
        <label>Assign Site to Camp</label>
        <locationX>564</locationX>
        <locationY>310</locationY>
        <assignmentItems>
            <assignToReference>SObjVar_Unit_FieldCamp.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Unit_to_Update_List2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Site_to_Field_Rig</name>
        <label>Assign Site to Field Rig</label>
        <locationX>189</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>SObjVar_Unit_FieldRig.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Unit_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Update_List_Not_Null</name>
        <label>If Update List Not Null</label>
        <locationX>789</locationX>
        <locationY>21</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>No3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjC_UnitToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Units</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_UnitIdFieldCamp_Null</name>
        <label>Is UnitIdFieldCamp Null?</label>
        <locationX>564</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>If_Update_List_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_UnitId_FieldCamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Field_Unit_Camp</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_UnitIdFieldRig_Null</name>
        <label>Is UnitIdFieldRig Null?</label>
        <locationX>187</locationX>
        <locationY>23</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Assignment_for_Field_Camp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_UnitId_FieldRig</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Field_Rig_Unit</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Field_Camp_Found</name>
        <label>Unit Field Camp Found</label>
        <locationX>563</locationX>
        <locationY>216</locationY>
        <defaultConnector>
            <targetReference>If_Update_List_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjVar_Unit_FieldCamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Site_to_Camp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unit_Field_Rig_Found</name>
        <label>Unit Field Rig Found?</label>
        <locationX>187</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Get_Contract_Assignment_for_Field_Camp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjVar_Unit_FieldRig</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Site_to_Field_Rig</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Passing Additional Contract Id to fetch Unit</description>
    <interviewLabel>Update Site on Unit when Site Active Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Site on Unit when Site Active Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_Assignment_for_Field_Camp</name>
        <label>Get Contract Assignment for Field Camp</label>
        <locationX>389</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_UnitIdFieldCamp_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field - Camp</stringValue>
            </value>
        </filters>
        <object>Contract_Assignment__c</object>
        <outputAssignments>
            <assignToReference>Var_UnitId_FieldCamp</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Assignment_for_Field_Rig</name>
        <label>Get Contract Assignment for Field Rig</label>
        <locationX>27</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_UnitIdFieldRig_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field - Rig</stringValue>
            </value>
        </filters>
        <object>Contract_Assignment__c</object>
        <outputAssignments>
            <assignToReference>Var_UnitId_FieldRig</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Field_Rig_Unit</name>
        <label>Get Field - Rig Unit</label>
        <locationX>188</locationX>
        <locationY>125</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Field_Rig_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UnitId_FieldRig</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>SObjVar_Unit_FieldRig</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Field_Unit_Camp</name>
        <label>Get Field - Unit Camp</label>
        <locationX>564</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Unit_Field_Camp_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_New__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_UnitId_FieldCamp</elementReference>
            </value>
        </filters>
        <object>Unit__c</object>
        <outputReference>SObjVar_Unit_FieldCamp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Site__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Units</name>
        <label>Update Units</label>
        <locationX>791</locationX>
        <locationY>125</locationY>
        <inputReference>SObjC_UnitToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Contract_Assignment_for_Field_Rig</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObjC_UnitToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>SObjVar_Unit_FieldCamp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>SObjVar_Unit_FieldRig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Unit__c</objectType>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UnitId_FieldCamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_UnitId_FieldRig</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
