force-app/main/default/flows/Update_Daily_Report_on_HSEQ_Form_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_update_list</name>
        <label>Add to update list</label>
        <locationX>647</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>HSEQ_UpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObj_Var_HSEQ</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_HSEQs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_Site_Job_Id</name>
        <label>Assign Daily Site Job Id</label>
        <locationX>648</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>SObj_Var_HSEQ.Daily_Site_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailySiteJobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObj_Var_HSEQ.Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_DailySiteJob_SiteId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_update_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HSEQ_Forms_list_not_null</name>
        <label>HSEQ Forms list not null</label>
        <locationX>225</locationX>
        <locationY>43</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjC_Var_HSEQ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_HSEQs</targetReference>
            </connector>
            <label>Is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Daily_Site_Job_Null</name>
        <label>Is Daily Site Job Null?</label>
        <locationX>647</locationX>
        <locationY>47</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_HSEQs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObj_Var_HSEQ.Daily_Site_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Site_Job_Id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_List_not_null</name>
        <label>Update List not null</label>
        <locationX>430</locationX>
        <locationY>163</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HSEQ_UpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HSEQ</targetReference>
            </connector>
            <label>Not Null?</label>
        </rules>
    </decisions>
    <interviewLabel>Update Daily Report on HSEQ Form Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Daily Report on HSEQ Form Flow</label>
    <loops>
        <name>Loop_Through_HSEQs</name>
        <label>Loop Through HSEQs</label>
        <locationX>428</locationX>
        <locationY>42</locationY>
        <assignNextValueToReference>SObj_Var_HSEQ</assignNextValueToReference>
        <collectionReference>SObjC_Var_HSEQ</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Daily_Site_Job_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_List_not_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_HSEQ_Forms</name>
        <label>Get all HSEQ Forms</label>
        <locationX>43</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HSEQ_Forms_list_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_DailySiteJob_Date</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_DailySiteJob_Unit</elementReference>
            </value>
        </filters>
        <object>HSEQ_Forms__c</object>
        <outputReference>SObjC_Var_HSEQ</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <queriedFields>Site__c</queriedFields>
        <queriedFields>Daily_Site_Job__c</queriedFields>
        <queriedFields>Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_HSEQ</name>
        <label>Update HSEQ</label>
        <locationX>429</locationX>
        <locationY>285</locationY>
        <inputReference>HSEQ_UpdateList</inputReference>
    </recordUpdates>
    <startElementReference>Get_all_HSEQ_Forms</startElementReference>
    <status>Active</status>
    <variables>
        <name>HSEQ_UpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HSEQ_Forms__c</objectType>
    </variables>
    <variables>
        <name>SObj_Var_HSEQ</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HSEQ_Forms__c</objectType>
    </variables>
    <variables>
        <name>SObjC_Var_HSEQ</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>HSEQ_Forms__c</objectType>
    </variables>
    <variables>
        <name>Var_DailySiteJob_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailySiteJob_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailySiteJob_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailySiteJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
