force-app/main/default/flows/Update_Site_s_WD_Rig_Camp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_WD_Camp</name>
        <label>Assignment WD Camp</label>
        <locationX>613</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>Var_SiteRecord.WD_Camp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CampUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Site_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WD_Rig_Assignment</name>
        <label>WD Rig Assignment</label>
        <locationX>803</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>Var_SiteRecord.WD_Rig__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_RigUnitId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_WD_Camp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_WD_Camp</name>
        <label>Assign WD Camp</label>
        <locationX>799</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Update_Site_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SiteRecord.WD_Camp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CampUnitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_WD_Camp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_WD_Rig</name>
        <label>Assign WD Rig</label>
        <locationX>601</locationX>
        <locationY>60</locationY>
        <defaultConnector>
            <targetReference>Assign_WD_Camp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_SiteRecord.WD_Rig__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RigUnitId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WD_Rig_Assignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update Site&apos;s WD Rig &amp; Camp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Site&apos;s WD Rig &amp; Camp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contract_Assignment_Camp</name>
        <label>Contract Assignment Camp</label>
        <locationX>444</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_WD_Rig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field - Camp</stringValue>
            </value>
        </filters>
        <object>Contract_Assignment__c</object>
        <outputAssignments>
            <assignToReference>Var_CampUnitId</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contract_Assignment_Rig</name>
        <label>Contract Assignment Rig</label>
        <locationX>290</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Assignment_Camp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unit_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Field - Rig</stringValue>
            </value>
        </filters>
        <object>Contract_Assignment__c</object>
        <outputAssignments>
            <assignToReference>Var_RigUnitId</assignToReference>
            <field>Unit__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Record</name>
        <label>Get Site Record</label>
        <locationX>46</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Assignment_Rig</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <object>Site__c</object>
        <outputReference>Var_SiteRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WD_Rig__c</queriedFields>
        <queriedFields>WD_Camp__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Site_record</name>
        <label>Update Site record</label>
        <locationX>707</locationX>
        <locationY>415</locationY>
        <inputReference>Var_SiteRecord</inputReference>
    </recordUpdates>
    <startElementReference>Get_Site_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>Var_CampUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_RigUnitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site__c</objectType>
    </variables>
</Flow>
