force-app/main/default/flows/Update_Transport_Job_Status_to_Completed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Change_isDriverStatus</name>
        <label>Change isDriverStatus</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>isStatusCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Driver_Status</name>
        <label>Check Driver Status</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Check_Driver_Assignment_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status is Completed</defaultConnectorLabel>
        <rules>
            <name>Driver_Status_is_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Driver_Assignment_Status.Driver_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isStatusCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_isDriverStatus</targetReference>
            </connector>
            <label>Driver Status is Not Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Driver_Status_Completed</name>
        <label>If Driver Status Completed</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Driver_Status_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isStatusCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Transport_Job_Status</targetReference>
            </connector>
            <label>Driver Status Completed</label>
        </rules>
    </decisions>
    <description>09 OCT 2023: Added Open Driver Assignment checkbox</description>
    <environments>Default</environments>
    <interviewLabel>Update Transport Job Status to Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Transport Job Status to Completed</label>
    <loops>
        <name>Check_Driver_Assignment_Status</name>
        <label>Check Driver Assignment Status</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Driver_Assignment_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Driver_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Driver_Status_Completed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Driver_Assignment_Records</name>
        <label>Get Driver Assignment Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Driver_Assignment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transport_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strTransportJob</elementReference>
            </value>
        </filters>
        <filters>
            <field>Driver_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Driver_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transport_Job_Record</name>
        <label>Get Transport Job Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Driver_Assignment_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strRecordID</elementReference>
            </value>
        </filters>
        <object>Driver_Assignment__c</object>
        <outputAssignments>
            <assignToReference>strTransportJob</assignToReference>
            <field>Transport_Job__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Transport Job Status to Completed</description>
        <name>Update_Transport_Job_Status</name>
        <label>Update Transport Job Status</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strTransportJob</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Driver_Assignment__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Transport_Job__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Transport_Job_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isStatusCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>strRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>strTransportJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
