force-app/main/default/flows/Update_DailySummaryReport_on_DailyReport_Flow_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Daily_Summary_Report_to_Daily_Report</name>
        <label>Assign Daily Summary Report to Daily Report</label>
        <locationX>778</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>SObjV_DailyReport.Daily_Summary_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DailySummaryReport_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Daily_Summary_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Daily_Report_Found</name>
        <label>Daily Report Found</label>
        <locationX>222</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjV_DailyReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Daily_Summary_Report</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Daily_Summary_Report_Found</name>
        <label>Daily Summary Report Found</label>
        <locationX>594</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DailySummaryReport_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_Summary_Report_to_Daily_Report</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fetching Daily Summary Report based on Site</description>
    <interviewLabel>Update DailySummaryReport on DailyReport 2 Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update DailySummaryReport on DailyReport Flow 2</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Daily_Report</name>
        <label>Get Daily Report</label>
        <locationX>44</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Report_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_DailyReportId</elementReference>
            </value>
        </filters>
        <object>Daily_Report__c</object>
        <outputReference>SObjV_DailyReport</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Daily_Summary_Report__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Daily_Summary_Report</name>
        <label>Get Daily Summary Report</label>
        <locationX>405</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Daily_Summary_Report_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ContractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Summary_Report_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_ReportDate</elementReference>
            </value>
        </filters>
        <object>Daily_Summary_Report__c</object>
        <outputAssignments>
            <assignToReference>DailySummaryReport_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Daily_Summary_Report</name>
        <label>Update Daily Summary Report</label>
        <locationX>780</locationX>
        <locationY>167</locationY>
        <inputReference>SObjV_DailyReport</inputReference>
    </recordUpdates>
    <startElementReference>Get_Daily_Report</startElementReference>
    <status>Active</status>
    <variables>
        <name>DailySummaryReport_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjV_DailyReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Daily_Report__c</objectType>
    </variables>
    <variables>
        <name>Var_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_DailyReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ReportDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
