force-app/main/default/flows/Work_Task_SCREEN_DataTable_by_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection_open</name>
        <label>Add to collection - open</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>colWorkTaskOpen</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recWorkTaskOpen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_open_work_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_today</name>
        <label>Add to collection - today</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>colWorkTaskToday</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recWorkTaskToday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_each_today_s_work_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is used to avoid creating new formula fields that will be used on the data table</description>
        <name>Assign_Work_Task_Open</name>
        <label>Assign Work Task Open</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_open_work_task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_open_work_task.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.WD_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_open_work_task.Assigned_To__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_open_work_task.Start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Work_Order_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkTaskOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Work_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderOpen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countWorkTaskOpen</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskOpen.Status_of_Work_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_open_work_task.Status_of_Work_Task__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This is used to avoid creating new formula fields that will be used on the data table</description>
        <name>Assign_Work_Task_today</name>
        <label>Assign Work Task today</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_today_s_work_task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_today_s_work_task.Asset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.WD_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_today_s_work_task.Assigned_To__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_today_s_work_task.Start_date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Work_Order_Action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkTaskToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Work_Order_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varWorkOrderToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countWorkTaskToday</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recWorkTaskToday.Status_of_Work_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_each_today_s_work_task.Status_of_Work_Task__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_today</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Work Task - SCREEN - DataTable by Department {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Task - SCREEN - DataTable by Department</label>
    <loops>
        <name>loop_each_open_work_task</name>
        <label>loop each open work task</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Work_Task_Open</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Task_Open</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Work_Task_List_Views</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_each_today_s_work_task</name>
        <label>loop each today&apos;s work task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Work_Task_Today</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Task_today</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Task_Open</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Trades_Daily_Report</name>
        <label>Get Trades Daily Report</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Task_Today</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Trades_Daily_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Task_Open</name>
        <label>Get Work Task - Open</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_open_work_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relevant_Dept__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDepartment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>inputDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_of_Work_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Task__c</object>
        <sortField>Start_date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Task_Today</name>
        <label>Get Work Task - Today</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_each_today_s_work_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relevant_Dept__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDepartment</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Task__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Work_Task_List_Views</name>
        <label>Work Task List Views</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TodaysMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Today&apos;s Work Tasks ({!countWorkTaskToday})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableWorkTaskDateToday</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Today&apos;s Work Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colWorkTaskToday</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Work_Order_Action__c&quot;,&quot;guid&quot;:&quot;column-bb08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Task #&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Action&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Order_Status__c&quot;,&quot;guid&quot;:&quot;column-4b79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order #&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Order Status&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;WD_Unit__c&quot;,&quot;guid&quot;:&quot;column-9d63&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Assigned Employee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;WD Unit&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Start_date__c&quot;,&quot;guid&quot;:&quot;column-00e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status_of_Work_Task__c&quot;,&quot;guid&quot;:&quot;column-7498&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Task Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status of Work Task&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset__c&quot;,&quot;guid&quot;:&quot;column-0c95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Asset #&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OpenMessage</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Open Work Tasks ({!countWorkTaskOpen})&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DataTableWorkTaskOpen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Task__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Open Work Tasks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colWorkTaskOpen</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Work_Order_Action__c&quot;,&quot;guid&quot;:&quot;column-122e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Task #&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Order Action&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Order_Status__c&quot;,&quot;guid&quot;:&quot;column-7327&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Order #&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Order Status&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;WD_Unit__c&quot;,&quot;guid&quot;:&quot;column-d47c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Assigned Employee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;WD Unit&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Start_date__c&quot;,&quot;guid&quot;:&quot;column-ddf1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Start Date&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Status_of_Work_Task__c&quot;,&quot;guid&quot;:&quot;column-6726&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Work Task Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Status of Work Task&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Asset__c&quot;,&quot;guid&quot;:&quot;column-cfb7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Asset #&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Trades_Daily_Report</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>varWorkOrderOpen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!loop_each_open_work_task.Work_Order__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!loop_each_open_work_task.Work_Order__r.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varWorkOrderToday</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!loop_each_today_s_work_task.Work_Order__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!loop_each_today_s_work_task.Work_Order__r.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varWorkTaskOpen</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!loop_each_open_work_task.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!loop_each_open_work_task.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varWorkTaskToday</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!loop_each_today_s_work_task.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!loop_each_today_s_work_task.Name}&lt;/a&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>colWorkTaskOpen</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Task__c</objectType>
    </variables>
    <variables>
        <name>colWorkTaskToday</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Task__c</objectType>
    </variables>
    <variables>
        <name>countWorkTaskOpen</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countWorkTaskToday</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Trades_Daily_Report.Report_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>inputDepartment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Trades_Daily_Report.Relevant_Department__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recWorkTaskOpen</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Task__c</objectType>
    </variables>
    <variables>
        <name>recWorkTaskToday</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Task__c</objectType>
    </variables>
</Flow>
